[2014-02-20 19:31] edvm opened #1 "Conseguir iconos!"
Emiliano @edvm, contactá a matias y fijate de pedirle todos los archivos que crea necesarios para que arranquen con la maquetación.
Todo lo que sean íconos, fondos, sombras, fonts

[2014-02-21 14:59] samuelbustamante opened #2 "Maquetar título principal"
Maquetar título principal con su respectiva descripción.

[2014-02-21 15:03] samuelbustamante opened #3 "Maquetar formulario de búsqueda"
Maquetar formulario de búsqueda.

[2014-02-21 15:04] samuelbustamante opened #4 "Maquetar paneles"
Maquetar paneles de "últimas noticias", "estadísticas", "próximos eventos" y "planeta PyAr"

[2014-02-21 15:07] samuelbustamante opened #5 "Crear estilos de paneles"
Crear estilos de los paneles "últimas noticias", "estadísticas", "próximos eventos" y "planeta PyAr".

[2014-02-21 23:14] #4 closed, assigned to nobody

[2014-02-21 23:17] samuelbustamante opened #6 "Footer desalineado"
Cambiar col-md-12 por dos col-md-6.

[2014-02-21 23:23] #6 closed, assigned to nobody

[2014-02-23 18:51] #3 closed, assigned to nobody

[2014-02-23 18:51] #5 closed, assigned to nobody

[2014-02-25 16:15] #1 closed, assigned to nobody

[2014-02-25 16:16] edvm opened #17 "Colocar opción de 'Registrate' en el index.html"
En la portada del sitio debe aparecer un link que diga 'Registrate' y que apunte a:
/pyarenses/register/

[2014-02-25 16:17] edvm opened #18 "Colocar opción de 'Login' en el index.html"
En la portada del sitio debe aparecer un link que diga 'Login' y que apunte a:
/pyarenses/login/

[2014-02-25 16:21] edvm opened #19 "Aplicar estilos css y mejorar la estetica de la página de registro de nuevo usuario"
Apuntar con el browser a:
/pyarenses/register/
Aplicar estilos y lo que corresponda para que el form se vea bonito. Usar la imaginación!
El template que renderiza el form de registro está en:
/templates/registration/registration_form.html

[2014-02-25 16:21] edvm opened #20 "Aplicar estilos css y mejorar la estetica de la página de login"
Apuntar con el browser a:
/pyarenses/login/
Aplicar estilos y lo que corresponda para que el form se vea bonito. Usar la imaginación!
El template que se renderiza está en:
/templates/registration/login.html

[2014-02-25 16:35] edvm opened #21 "Crear app de 'Preuntas Frecuentes'"
0- Crear un branch del repo para laburar en este issue. Al terminar de trabajar, commitear, pushear y mandar pull request.
Crear una app para las FAQ's del sitio, ej: django startapp faqs
Tener en cuenta lo siguiente:
- Existe una vista que muestra todas las faqs en el sitio de pyar.
- Las 'faqs' solo se pueden agregar desde el admin de django.
- Una 'faq' de una forma muy simple (a modo ejemplo),

[2014-02-25 16:36] edvm opened #22 "Crear app de 'Chat IRC'"
0- Crear un branch del repo para laburar en este issue. Al terminar de trabajar, commitear, pushear y mandar pull request.
Crear una app django que tenga una view con lo siguiente:
1- Los datos para conectarse al IRC de PyAr
2- Un cliente IRC embebido, donde el usuario pueda entrar desde el browser.

[2014-02-25 16:46] edvm opened #23 "Crear app de 'Próximos Eventos'"
0- Crear un branch del repo para laburar en este issue. Al terminar de trabajar, commitear, pushear y mandar pull request.
Crear una app para los 'próximos eventos', ej: django startapp nextevents
Tener en cuenta lo siguiente:
1- Crear los modelos considerando que un evento tiene un organizador, una url, descripción, fecha de creación, fecha de modificación, etc (agregar más campos, los que corres

[2014-02-25 16:51] edvm opened #24 "Crear app de 'Busquedas Laborales'"
0- Crear un branch del repo para laburar en este issue. Al terminar de trabajar, commitear, pushear y mandar pull request.
Crear app de bolsa de trabajo para el sitio, ej: django startapp jobs
Tener en cuenta lo siguiente:
1- Crear los modelos considerando que un 'job' tiene una empresa, un owner (el usuario logueado que crea el 'job', tomar de request.user), una fecha de creación, un titulo, desc

[2014-02-25 17:04] edvm opened #25 "Crear app del 'gran buscador' de PyAr"
0- Crear un branch del repo para laburar en este issue. Al terminar de trabajar, commitear, pushear y mandar pull request.
Crear una app que busque el termino de busqueda dado en:
1- La lista de correo de PyAr
2- En la Wiki de PyAr
3- de la app de 'Ultimas Noticias' y la app 'Próximos Eventos'
Usar de buscador lo que comenta @mgaitan más abajo, google.com/cse , incluso paso las lineas de script pa

[2014-02-25 17:09] edvm opened #26 "Crear app de 'Quienes usan Python'"
0- Crear un branch del repo para laburar en este issue. Al terminar de trabajar, commitear, pushear y mandar pull request.
Crear una app muy simple para que las empresas puedan 'registrarse' como usuarios de Python, ej: django startapp pycompanies
1- Debe tener una view que liste todas las empresas, con una descripción, link, una fotito, y lo que se ocurra
2- Debe tener una view para agregar una n

[2014-02-25 18:23] ajlopez opened #27 "Faltaria un INSTALL.md"
No encontre el archivo

Como ejemplo vi el de:
https://github.com/mgaitan/preciosa/blob/develop/INSTALL.md

[2014-02-26 13:44] #27 closed, assigned to nobody

[2014-02-26 13:46] #17 closed, assigned to nobody

[2014-02-26 13:46] #19 closed, assigned to nobody

[2014-02-26 13:46] #18 closed, assigned to nobody

[2014-02-26 13:46] #20 closed, assigned to nobody

[2014-02-26 18:33] #26 closed, assigned to nobody

[2014-02-27 00:49] #22 closed, assigned to nobody

[2014-02-27 16:37] MissFilly opened #34 "Agregar íconos"
-A la navbar en el base template

-A los títulos de las secciones en la home page

[2014-02-27 19:10] leandrobrunner opened #36 "Estilos al formulario para agregar compañías."
Darle estilo acorde a Bootstrap.
Ya estoy trabajando en esto...

[2014-02-28 01:46] #36 closed, assigned to nobody

[2014-02-28 01:46] #34 closed, assigned to nobody

[2014-02-28 17:38] edvm opened #40 "App 'news': Las noticias deben mostrar la fecha y el autor"

[2014-02-28 17:40] edvm opened #41 "App 'news': Solo se deben listar las últimas 20 noticias"

[2014-02-28 17:42] edvm opened #42 "App 'news': Si soy el owner de la noticia, puedo borrarla"
Si soy el owner de la noticia y estoy logueado), veo un link 'borrar' que me permite borrar la noticia. Si no soy el owner de la noticia, no veo el link de 'borrar'.

[2014-02-28 18:14] #40 closed, assigned to edvm

[2014-03-01 04:33] #42 closed, assigned to edvm

[2014-03-01 04:34] mgaitan opened #45 "Agregar comentario de Disqus a `news`"
Las noticias de #42, deberian poder ser comentadas. Disqus en un servicio interesante porque permite multiples formas de identificacion. se puede utilizar directamente el codigo javascript, o revisar paquetes como

https://github.com/arthurk/django-disqus

[2014-03-01 04:55] #41 closed, assigned to edvm

[2014-03-01 04:58] edvm opened #47 "App 'news': Agregar vista para una noticia"
En el listado de noticias, al hacer click en el titulo de una noticia, me lleva a un view que me muestra el texto completo de la noticia. Ademas, ver de implementar #45
Exitos en la misión!

[2014-03-02 02:57] #47 closed, assigned to edvm

[2014-03-02 02:58] #45 closed, assigned to nobody

[2014-03-02 15:13] #25 closed, assigned to edvm

[2014-03-05 13:08] edvm opened #52 "App 'Jobs': Agregar una vista para mostrar un 'job'"
Al agregarse un 'job', y ser retornado a la lista de 'jobs', debo podes hacer click en el title del job y que se me dirija a un view que me muestre todos los datos del job.
Ver la app 'news' como referencia.

[2014-03-05 13:10] edvm opened #53 "Agregar link a jobs en la botonera superior principal del sitio"
Al hacer click en 'Busquedas Laborales' debe llevarme al listado de 'jobs'.

[2014-03-07 12:54] mgaitan opened #57 "Últimas noticias en portada"
Actualmente la portada que tenemos es "de cartón", o sea, no muestra contenido generado por las apps.

Las tres últimas noticias publicadas deben mostrarse en portada, ordenados por fecha, con titulo y un pequeño abstract (no cortar por cantidad de letras, para que no se corten palabras a la mitad)

![captura de pantalla de 2014-03-07 09 53 55](https://f.cloud.github.com/assets/2355719/2357033/93c

[2014-03-07 12:57] mgaitan opened #58 "Eventos en portada"
Igual que #57, para los últimos eventos, mostrados por "cercanía a la fecha de inicio".  Los eventos deben dejar de estar visibles pasada la fecha de finalización

PD: no miré la app evento, pero sería bueno que tengan una fecha/hora de inicio y una fecha/finalización.

![captura de pantalla de 2014-03-07 09 54 41](https://f.cloud.github.com/assets/2355719/2357075/18b6e428-a5f8-11e3-85a6-70bde8127

[2014-03-07 13:02] mgaitan opened #59 "Planeta en portada"
Idem #57 para los ultimos posts en el planeta. Hay que leer desde el RSS del planet.

Se puede probar https://github.com/radiac/django-yarr
o este https://github.com/ahernp/django-feedreader

(de hecho, con estas herramientas perfectamente se podria migrar el planet al propio django, permitiendo que usuarios den de alta/baja blogs de una manera más desentralizada)

![captura de pantalla de 2014-03

[2014-03-07 13:09] mgaitan opened #60 "Lista de correo en portada (estadistica o mensajes?)"
Análogo a #57 y siguientes, en la portada del sitio hay una "caja" destinada a mostrar estadísticas de la lista de correo.

Yo propongo mantener ese espacio dedicado a la lista, pero en vez de las estadísticas, poner links a los últimos mensajes. Puede hacerse de la misma manera que #59 (leyendo rss) consumiendo este feed http://rss.gmane.org/messages/complete/gmane.org.user-groups.python.argentin

[2014-03-07 13:34] mgaitan opened #61 "Link a "La Wiki" en la barra"
Aunque es un gran avance la  "sectorización" de la web, con apps dedicadas ad hoc a eventos, noticias, etc. .. el mayor y más flexible contenido, editable por cualquiera, seguirá siendo la wiki. Junto con la lista de correo, son los espacios mas importantes de PyAr como comunidad.

deberia haber un botón que diga "Wiki" grande en la barra principal a la portada de la wiki, es decir, la portada del

[2014-03-07 13:43] mgaitan opened #62 "Link a Lista de correo en la barra principal"
Como se dijo en #61, la wiki y la lista de correo (y en menor medida el canal irc) son las herramientas mas identitarias de la comunidad PyAr. Hay que destacarlo más.

Si bien hay un link grande en la portada (junto con "Aprendiendo Python", etc), la lista no es un contenido más sino **una sección**. Como tal deberia ir en la barra principal, más a la izquierda de IRC. Si por cuestion de espacio n

[2014-03-07 14:02] mgaitan opened #63 "Simplificación de contenido "lista de correo""
Relacionado a #62 , actualmente la página de la sección "lista de correo" es un **copy & paste** de la página análoga en el sitio actual. Esto incluye demasiada información que queda irrelevante con el nuevo sitio, como instrucciones para buscar, links a los archivos, etc.
Hay que simplificar y mejorar el contenido de esta página
- [x] Complementario a la "instrucciones para suscribirse" (texto) a

[2014-03-07 14:04] mgaitan opened #64 "Mejorar la integración de resultados de búsqueda"
el buscador basado en google se puede integrar más y mejor al look & feel del sitio. Este se realiza desde la configuración del buscador. Se pueden definir colores, ancho y layout de la "caja de resultados", etc.

Reemplazar la ventana flotante y con colores muy _google style_ por algo mas integrado a la estética del sitio, con una página dedicada a "resultados de búsqueda"

[2014-03-09 02:05] #23 closed, assigned to diegoduncan21

[2014-03-11 18:07] mgaitan opened #68 "Configurar raven/sentry"
del email de Emiliano a la lista

tracker y contanos como hiciste! :)

Para esto es **muy** útil Sentry: http://getsentry.com.

- [x] registrar una cuenta
- [x] agregar raven como requerimiento y configurar **sólo para producción**
- [x] desplegar

[2014-03-12 02:59] #64 closed, assigned to leandrobrunner

[2014-03-13 14:37] #58 closed, assigned to nobody

[2014-03-16 14:44] edvm opened #71 "El sitio de PyAr debe funcionar con >= Python 3.3"
Debemos poder correr el sitio en >= Python 3.3.

[2014-03-21 14:59] #71 closed, assigned to edvm

[2014-03-21 23:10] MissFilly opened #73 "Agregar banner azul en home page"

[2014-03-22 03:02] edvm opened #74 "App 'Newbies': Crear aplicacion de 'adopta un newbie'"

[2014-03-22 13:22] facundobatista opened #75 "El botón de "próximos eventos" debería ser "Eventos" a secas"
Y cuando se entra a esa pantalla, mostrar obviamente los próximos eventos al principio, y luego más abajo el histórico de eventos pasados...

Gracias :)

[2014-03-22 15:08] edvm opened #76 "App 'Projects': Crear aplicacion de proyectos de PyAr"
0- Crear un branch
1- Crear aplicacion django 'projects' e integrarlo en settings.py
2- Crear alta de proyectos, un proyecto a priori tiene:
- Un nombre (titulo)
- Un owner o propietario
- Una descripcion
- Un repositorio
- Un tipo de repositorio
- Úna licencia
- Un estado (boolfield) Activo / Inactivo.
- Tags
- Correo del proyecto (default email del usuario)
- Abierto a contribucion
- Logo, si no

[2014-03-22 18:40] #73 closed, assigned to MissFilly

[2014-03-22 19:16] MissFilly opened #80 "Agregar factory_boy y fixtures para testing"

[2014-03-22 21:31] #21 closed, assigned to MissFilly

[2014-03-24 01:06] #52 closed, assigned to MissFilly

[2014-03-24 01:22] #24 closed, assigned to gonzafirewall

[2014-03-24 05:22] #2 closed, assigned to leandrobrunner

[2014-03-24 17:46] edvm opened #83 "La app 'News' debe tener tags así como los tiene la app 'Jobs'"
0- Se tiene que poder asignar tags a una noticia.
1- Se tienen que listar los tags en el view de la lista de noticias.

[2014-03-24 19:18] #83 closed, assigned to nobody

[2014-03-24 19:21] #53 closed, assigned to nobody

[2014-03-26 15:32] edvm opened #87 "App 'planet': Implementar django-planet en el sitio"
Tener feeds y ser felices

[2014-03-27 18:55] walteralini opened #88 "Links en el menú principal"
En el menú principal (el que aparece arriba en la página), los links son sólo el texto (ejemplo "quienes somos"). Estaría bueno que fuera toda la superficie de la cuadrícula (esto es, incluyendo el loguito y el fondo del cuadrado), ya que es lo que se marca al pasar el mouse.

[2014-03-27 18:56] walteralini opened #89 "Quienes somos -> Quiénes somos"
Al "quienes somos" le falta un acento -> "quiénes somos"

[2014-04-10 00:47] fisadev opened #92 "Videos en la wiki"
Lo que se comentó en pycamp: una app que permita agregar videos, con título, descripción, pero no subiendo el video en sí, sino embebiendo desde youtube o vimeo.

[2014-04-10 02:21] fisadev opened #93 "Requirements.txt has bugged git urls"
Both dependencies have oddly formatted urls, with a "-origin/HEAD" string at the end which pip is unable to understand.

[2014-04-10 02:26] fisadev opened #95 "Current tagging does not work with current django version"
The tagging app under 0.2.1 version (the one in the requirements.txt) tries to import `django.db.models.query.parse_lookup`, which in django 1.6 (current requirements.txt) is no longer inside that module. We should upgrade to tagging 0.3, but I don't know if that breaks anything else.

[2014-04-10 03:29] #93 closed, assigned to nobody

[2014-04-17 13:19] #89 closed, assigned to MissFilly

[2014-04-17 13:19] #75 closed, assigned to nobody

[2014-04-22 23:43] matagus opened #99 "Alta y administración de feeds por usuario"
@mgaitan sugirió lo siguiente en #87:

Creo que tmb fue discutido en la lista de pyar si mal no recuerdo, voy a ver si encuentro el thread para agregar specs si las hay.

[2014-05-01 14:09] edvm opened #100 "Invalid timezone: 'America/Argentina/Buenos_Aires'"
En settings.py dice:
TIME_ZONE = 'America/Buenos_Aires'
  ~ # Activa todo el sitio con el horario de Argentina
  from django.utils import timezone
  timezone.activate(TIME_ZONE)

Pero al correr ./manage.py syncdb obtengo error:

  File "/home/edvm/Work/py3/pyarweb/pyarweb/settings.py", line 120, in <module>
    timezone.activate(TIME_ZONE)
  File "/home/edvm/.virtualenvs/pyarweb/lib/python3.3/site

[2014-05-13 17:17] #87 closed, assigned to nobody

[2014-05-13 17:20] #61 closed, assigned to MissFilly

[2014-05-13 17:21] #59 closed, assigned to MissFilly

[2014-05-13 19:17] edvm opened #102 "Cambiar de django-registration a django-allauth"
django-registration ya no es mantenido por su dev: https://bitbucket.org/ubernostrum/django-registration/
Mantener django-registration y migrarlo a python3 no es una opción cuando existe una app que ya lo hace, django-allauth. Por esto, migrar el sistema de registro para que use django-allauth.

[2014-05-28 14:23] mgaitan opened #104 "Modificar "news" no funciona"
Publiqué una noticia. Cuando desde la vista `news_view` (detalle) hago click en `Modificar`, me redirige a un formulario de edición.

Cambio el cuerpo del articulo, y al guardar recarga la página, manteniendo en el editor el contenido que yo edité. Sin embargo, al regresar al articulo, el contenido no fue actualizado.

[2014-05-28 14:30] mgaitan opened #105 ""Tags" no se autcompletan en news"
Edité una noticia via `admin` y el widget de `Tags` separa por coma las palabras. La edición a traves de la vista custom sólo muestra un input de texto, pero no autocompleta palabras claves existentes en la base ni separa por coma como el admin.

Tampoco muestra las palabras claves ya asociadas a un articulo, ni guarda nuevas.

Puede estar relacionado a #104

[2014-07-29 23:54] #104 closed, assigned to nobody

[2014-07-30 01:15] MissFilly opened #108 "Planet's templates NoReverseMatch error"
All Planet's templates including the line `{% url 'planet_tag_detail' tag.name %}` are throwing `NoReverseMatch` error:

`Reverse for 'planet_tag_detail' with arguments '('<html>\n <body>\n  <p>\n   pc\n  <',)' and keyword arguments '{}' not found. 1 pattern(s) tried: ['planet/tags/(?P<tag>.*)/$']`

Same for `planet_by_tag_author_detail`:

`Reverse for 'planet_by_tag_author_detail' with arguments

[2014-07-30 06:33] #57 closed, assigned to nobody

[2014-07-31 08:13] #62 closed, assigned to nobody

[2014-07-31 08:14] #88 closed, assigned to MissFilly

[2014-08-01 12:05] #99 closed, assigned to nobody

[2014-08-01 12:07] #95 closed, assigned to nobody

[2014-08-07 10:26] #105 closed, assigned to nobody

[2014-08-15 22:39] #100 closed, assigned to nobody

[2014-09-23 18:50] gilgamezh opened #114 "Aplicación estilo Meetup"
Contar con la posibilidad de publicar eventos organizados por Pyar en el sitio con fecha, lugar, titulo, descripción, disertante (un user del sitio?), cupo, etc.

Luego cada persona se puede anotar para participar del evento, si el evento tiene cupo limitado una vez completado el mismo los usuarios restantes quedan en lista de espera.

Otros tips:
- bajarte el evento a tu calendario
- feed de iCal

[2014-09-26 11:26] edvm opened #115 "Cambios en el index/home del sitio"
1- Sacar de la portada 'Estadísticas de la lista de correo' (al menos hasta que se haga esta app)
2- Mover 'Ultimas noticias' a la columna de la derecha

[2014-09-26 13:30] #115 closed, assigned to edvm

[2014-11-18 17:39] mgaitan opened #125 "Planet no guarda feeds"
Con redis configurado, voy a http://localhost:8000/planet/feeds/add/  y agrego el feed de mi blog
`http://mgaitan.github.io/rss.xml`

Me sale un mensaje

![captura de pantalla de 2014-11-18 14 41 32](https://cloud.githubusercontent.com/assets/2355719/5092817/07927f4c-6f31-11e4-89fe-020223272d16.png)

pero no creo ninguna instancia.

![captura de pantalla de 2014-11-18 14 42 18](https://cloud.githu

[2014-11-18 17:44] mgaitan opened #126 ""adopta un newbie" muestra una pantalla en blanco"
Qué se supone que es?

![captura de pantalla de 2014-11-18 14 43 41](https://cloud.githubusercontent.com/assets/2355719/5092859/665e05aa-6f31-11e4-85b3-5352d6a42e04.png)

[2014-11-18 18:08] mgaitan opened #127 "Eventos obliga a poner hora"
Queda medio "wtf" que diga " medianoche" a un evento de varios dias, dentro de mucho. Es algo que todavia no está confirmado.

Ejemplo

![captura de pantalla de 2014-11-18 15 04 33](https://cloud.githubusercontent.com/assets/2355719/5093200/8bdb4970-6f34-11e4-9af0-c8be9604a2e3.png)

Podria agregarse algo de logica que no muestre la hora si es algo listado para lo que falta mucho tiempo aun.

Tambi

[2014-11-18 18:16] mgaitan opened #128 "El formato de fecha default no es "argentino""
![captura de pantalla de 2014-11-18 15 04 33](https://cloud.githubusercontent.com/assets/2355719/5093238/fa3eab00-6f34-11e4-9b49-434edea4a475.png)

seria mejor "28 de mayo, 2015", no?

https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-DATE_FORMAT

[2014-11-18 18:26] mgaitan opened #129 "Las urls del sitio "viejo" deben redirigir cuando sea posible"
Todo el contenido del sitio viejo basado en moinmoin se migró (usando [moin2git](https://github.com/mgaitan/moin2git)) y la mayoria de las urls funcionan, pero en el sitio nuevo están dentro del namespace
`/wiki`

Por ejemplo  http://python.org.ar/SciPyar es ahora  http://beta.python.org.ar/wiki/SciPyar

Para no perder pagerank ni romper favoritos, debemos hacer un capturador de urls que haga esta

[2014-11-18 18:38] mgaitan opened #130 ""Proyectos de la comunidad" tiene links rotos"
Si voy al link "proyectos de la comunidad" aparece un listado de con items sin descripcion, cuyos links redirigen a un json raw de github

![captura de pantalla de 2014-11-18 15 33 43](https://cloud.githubusercontent.com/assets/2355719/5093565/68ef02cc-6f38-11e4-8ea7-aa1309598289.png)

Por ejemplo, el primer link me envia a https://api.github.com/repos/PyAr/tutorial

Además, muchos items no tienen

[2014-11-18 18:43] mgaitan opened #131 "La UI de edicion waliki se ve fea"
![captura de pantalla de 2014-11-18 15 39 25](https://cloud.githubusercontent.com/assets/2355719/5093657/1afb5f38-6f39-11e4-98dc-c8b082848c2d.png)
- [ ] no tiene margen superior y parece tener demasiado margen lateral
- [ ] no aparecen los labels de los inputs y estos aparecen pegados unos con otros
- [ ] no funciona el "botón" maximizar (parece solo ocupar el tamaño del contenedor y no toda la pa

[2014-11-18 18:47] mgaitan opened #132 "El title de todas las paginas es el mismo"
Todas las página usan "PyAr - Python Argentina" como `title`. Esto es pésimo para rankear en las busquedas, incluyendo las del propio sitio (ya que usamos google custom search).

Debemos utilizar un titulo diferenciado, por ejemplo

[code]

Para las paginas de la wiki, {{ title }} debe ser el titulo de la página

[2014-11-18 18:59] mgaitan opened #133 "No se puede adjuntar archivos a paginas de la wiki"
El archivo parece subir, pero se queda la barra de progreso se queda al 100% y nunca se lista el nuevo adjunto

![captura de pantalla de 2014-11-18 15 57 12](https://cloud.githubusercontent.com/assets/2355719/5093997/d1db8a1e-6f3b-11e4-8f60-120ef71ca45c.png)

[2014-11-18 19:07] mgaitan opened #134 "Noticias: no deberian tener autor"
No son articulos de opinión, cierto?

![captura de pantalla de 2014-11-18 16 00 43](https://cloud.githubusercontent.com/assets/2355719/5094054/5ba2f822-6f3c-11e4-8c26-bf09c9116a19.png)

[2014-11-18 19:13] mgaitan opened #135 "Las paginas de login y registro se ven feas"
![captura de pantalla de 2014-11-18 16 06 46](https://cloud.githubusercontent.com/assets/2355719/5094184/ab77eb7c-6f3d-11e4-9e1f-d26cbedd6350.png)

hace falta definir templates de allauth custom, utilizando filtros para mostrar forms bootstrap lindos.

Además, preferimos una redacción más argentina: "registrate" en vez de "regístrate"

[2014-11-18 19:29] mgaitan opened #136 "La pagina detalle de un evento es fea"
![captura de pantalla de 2014-11-18 16 22 41](https://cloud.githubusercontent.com/assets/2355719/5094397/4558ef74-6f3f-11e4-8628-9943ee4670f5.png)
- Un link "a eventos" queda flotante en el tope de la pagina.
- El mapa aparece con un zoom (poco) inutil
- la descripcion del contenido aparece muy abajo
- El titulo (h1) tiene un estilo distinto a otras paginas. En general aparece naranja y acá es neg

[2014-11-18 19:32] mgaitan opened #137 "en la portada, noticias está repetido"
No deberia aparecer en el sidebar, ya que está el mismo listado abajo de las secciones destacadas

por qué querriamos tener dos veces el mismo contenido?

[2014-11-18 19:38] mgaitan opened #138 "No se puede adjuntar fotos a noticias"
En la barra de herramientas hay una opcion "picture" que permite adjuntar una imagen o una url a una imagen. La opcion para adjuntar imagen cierra el dialogo modal pero no sube la imagen.

Posiblemente relacionado a #133

[2014-11-18 19:45] mgaitan opened #139 "Wording para "empresas" es inconsistente"
En muchos lados aparece la palabra "compania" que no existe. Lo correcto sería "compañía", pero más general y común es "empresa" .

Además, el namespace deberia ser /empresas y no /companies

[2014-11-18 21:58] #125 closed, assigned to nobody

[2014-11-18 22:02] mgaitan opened #140 "El color de los links en Planet del sidebar es distinto"
parece un cyan. deberia ser el mismo azul menos electrico del resto de los links

![captura de pantalla de 2014-11-18 19 01 57](https://cloud.githubusercontent.com/assets/2355719/5096970/7f8695fa-6f55-11e4-8138-f4aeb471479b.png)

[2014-11-18 22:05] mgaitan opened #141 "El bloque Planeta en el sidebar muestra posts mas viejos"
En /planet están los ultimos posts pero el sidebar muestra otros mas viejos.  por qué?

![captura de pantalla de 2014-11-18 19 04 09](https://cloud.githubusercontent.com/assets/2355719/5097027/e0e752a8-6f55-11e4-9b8d-e19236f05f35.png)

[2014-11-18 22:12] mgaitan opened #142 "El planeta no muestra el link al feed RSS"
{% url 'planet_rss_feed' %}

[2014-11-18 22:17] mgaitan opened #143 "La metadata de un post del planet está en ingles"
![captura de pantalla de 2014-11-18 19 16 39](https://cloud.githubusercontent.com/assets/2355719/5097256/8d54e162-6f57-11e4-838e-9e3688922fc9.png)

[2014-11-18 22:21] mgaitan opened #144 "La vista "author" del planet está rota"
![captura de pantalla de 2014-11-18 19 20 12](https://cloud.githubusercontent.com/assets/2355719/5097308/f7bde850-6f57-11e4-9c1a-2b68ee57ba1a.png)

Por ejemplo

http://localhost:8000/planet/authors/1/any-name/

[2014-11-18 22:24] mgaitan opened #145 "Migrar feeds del planet actual"
hay que importar los feeds/blogs de http://planeta.python.org.ar/

[2014-11-19 03:06] #135 closed, assigned to nobody

[2014-11-19 14:46] #132 closed, assigned to edvm

[2014-11-19 14:59] #129 closed, assigned to nobody

[2014-11-19 15:44] matagus opened #150 "[PEP*] Versionar cambios a la app planet en django-planet y fixear bugs"
(*) pyarweb enhancement proposal (?)

Acá vamos:

1. [Cherry-pickearía](http://git-scm.com/docs/git-cherry-pick) los commits que @MissFilly hizo relacionados con django-planet para moverlos de este repo al de [django-planet](https://github.com/matagus/django-planet) (usaría cherry-pick para mantener su autoría). La verdad me interesa hacerlo porque enriquecería la app que mantengo agregándole cosa

[2014-11-19 16:01] #145 closed, assigned to nobody

[2014-11-20 20:07] Amongbytes opened #153 "Exception: NoReverseMatch at /wiki/"
Cuando se intenta acceder a algunas areas de la web desde la wiki me tira el exception, pero cuando intento acceder desde otro lado puedo hacerlo sin problemas.

 los sitios listados debajo son los que presentan este problema:

-Lista de correo
-Proyectos
-TareasPendientes
-PreguntasFrecuentes
-Trabajos
-AdoptaUnNewbie

Este es uno de los errores que muestra:

[code]

[2014-11-20 21:55] mgaitan opened #154 "Acordar el idioma de la UI"
yo soy de la idea que al ser un sitio de Python _Argentina_, es importante que las urls (al menos las que tengan relevancia para busqueda) sean en castellano.

(ej: `/empresas`  en vez de `/companies`, `/noticias` en vez de `/news`  etc. )

Pero me acabo de dar cuenta que acá decia otra cosa

https://github.com/PyAr/pyarweb/wiki/Manual-b%C3%A1sico-de-supervivencia-para-colaborar-con-el-sitio-de-Py

[2014-11-21 20:03] Nicogue opened #155 "Improvement: Busquedas Laborales"
Desconozco como se ira a implementar esta seccion pero heme aqui haciendo brainstorming a fin de colaborar de algun modo.

En el viejo sitio me resulto un poco incomoda la forma en la que se presentaba la información, en muchas secciones la información se muestra en un choclo interminable de palabras indigeribles por la retina.

-Estaría bueno que pasado un determinado tiempo las noticias los trab

[2014-11-23 23:37] mgaitan opened #158 "modelo roto en la app event"
7a4fb5e6 introdujo cambios en `events/models.py` y una migración, pero sin respetar el estado inicial . (la migración 0001 se aplica como fake y no representa el estado actual)

[code]

[2014-11-23 23:53] #158 closed, assigned to nobody

[2014-11-24 22:12] #131 closed, assigned to nobody

[2014-11-24 22:15] #139 closed, assigned to edvm

[2014-11-24 22:26] #136 closed, assigned to nobody

[2014-12-06 13:01] angvp opened #159 "Invalid filter: 'as_bootstrap' .."

[2014-12-06 13:15] tzenderman opened #162 "Agregar Vagrant provisioning a readme"
Agregar:
- [ ] `bootstrap.sh` para provisionar entorno local mas rapidamente.
- [ ] Agregar pasos de Vagran al readme.

[2014-12-06 13:31] angvp opened #163 "SEO para urls"
Este issue tiene varios issues más chicos ya que se estaba haciendo muy largo
- [x] Idioma de la UI compatible con las urls
- [ ] Hacer redirect de las urls actuales del sitio actual de PyAr (http://python.org.ar)
- Sitemaps (varios)
  - [ ] jobs
  - [ ] events
  - [ ] waliki content
- Friendly urls
  - [x] jobs
  - [x] events
- [ ] Agregar google analytics
- [ ] Crear cuenta en webmaster tools pa

[2014-12-06 13:35] #159 closed, assigned to angvp

[2014-12-06 13:40] #144 closed, assigned to nobody

[2014-12-06 14:24] #153 closed, assigned to nobody

[2014-12-06 15:12] #138 closed, assigned to nobody

[2014-12-06 15:57] #134 closed, assigned to nobody

[2014-12-06 16:06] #162 closed, assigned to tzenderman

[2014-12-06 16:06] gilgamezh opened #169 "Error executing ./manage.py migrate"
[code]

I think is related to: git blame events/models.py

[code]

[2014-12-06 18:40] gilgamezh opened #171 "Automate deploy"

[2014-12-06 18:40] #137 closed, assigned to ralsina

[2014-12-06 18:41] #128 closed, assigned to nobody

[2014-12-06 18:51] #102 closed, assigned to edvm

[2014-12-06 18:56] tzenderman opened #172 "Abrir Planeta Pyar links en una pestaña nueva"
http://planeta.python.org.ar/

[2014-12-06 18:57] #74 closed, assigned to nobody

[2014-12-06 19:06] #172 closed, assigned to aenima-x

[2014-12-06 19:08] tzenderman opened #175 "Remover app y templates de "Proyectos de la comunidad""

[2014-12-06 19:10] #130 closed, assigned to nobody

[2014-12-06 19:13] #76 closed, assigned to nobody

[2014-12-06 19:23] #127 closed, assigned to edvm

[2014-12-06 19:26] edvm opened #177 "Mostrar los ultimos 3 trabajos en el home"

[2014-12-06 20:18] #177 closed, assigned to jcarizza

[2014-12-06 21:14] mgaitan opened #183 "configurar signup / login social"
via github, google y twitter

[2014-12-06 21:56] edvm opened #185 "Agregar url amigable con titulo de la oferta de trabajo en vez del id (SEO related)"

[2014-12-07 21:26] #63 closed, assigned to tzenderman

[2014-12-08 00:35] edvm opened #188 "La pagina de confirmar cerrar sesion es 'fea'"
Al cerrar sesion, se pide confirmacion al estilo 'Esta seguro que quiere cerrar sesion?!' Ajustar el template para que se vea mas lindo, acorde al estilo que usan los templates de 'login' y 'signup'

[2014-12-08 15:57] #169 closed, assigned to edvm

[2014-12-08 23:16] #171 closed, assigned to gilgamezh

[2014-12-11 18:17] mgaitan opened #192 "el link /lista crashea"
[code]

[2014-12-11 18:24] mgaitan opened #193 "limitar markup de waliki a rst"
waliki soporta paginas con distinto markup (markdown, rst y, para atrevidos, textile), pero todavía "no sabe convertir" de un formato a otro.

Por otro lado, tener el contenido en diversos formatos, no creo que sea la mejor práctica

Como el contenido de la wiki actual se migra a restructuredtext y como es el markup más común en el ecosistema de python, limitemos solo a ese.

habría que setear en

[2014-12-11 19:06] mgaitan opened #194 ""etiquetas" de noticias crashea con un "?""
puse "que carajo es esto?"  y explotó

[code]

[2014-12-11 19:06] mgaitan opened #195 ""etiquetas" de noticias no debe ser obligatorio"
ver #194

[2014-12-11 19:54] #192 closed, assigned to nobody

[2014-12-11 20:01] mgaitan opened #196 "No hay feed RSS para noticias"
es indispensable para corregir abusos y para estar al tanto de novedades. También para automatizar la publicación en twitter y otros sitios.

[2014-12-11 20:13] mgaitan opened #197 "El "autosuggest" de etiquetas no funciona"
el campo "etiquetas" de noticias es un `TaggableManager` de https://bitbucket.org/fabian/django-taggit-autosuggest  .

Si bien se crean etiquetas, no "autosugiere" ninguna.

posibiblemente relacionado a #194

[2014-12-11 20:22] mgaitan opened #198 "No hay RSS para eventos"
Idem #196

[2014-12-11 20:23] mgaitan opened #199 "No hay RSS para trabajos"
Idem #196 y #198

[2014-12-11 21:04] mgaitan opened #200 "multiples issues en sección "Adopta un newbie""
- [ ] la pantalla index tiene el markup roto
![captura de pantalla de 2014-12-11 17 55 44](https://cloud.githubusercontent.com/assets/2355719/5401952/fb2972f2-815e-11e4-9a33-5b3059abccf2.png)

- [ ] deberia tener al menos una breve introducción: para qué sirve, cómo funciona, etc.

- [ ] los formularios de jedi y padawan (quiero aprender/etc) no tienen buen estilo (crispy_form ? )

![captura de pa

[2014-12-12 17:26] mgaitan opened #201 "'newbies' no deja desconsiderar pedido"
cuando un "padawan envia una solicitud", el "jedi" recibe un email con dos links.

[code]

cualquiera de los dos links, produce el mismo resultado

[2014-12-12 17:29] mgaitan opened #202 "'newbies': el mensaje que recibe un "jedi" es malo"
[code]

Se envia con el email del "padawan" (solicitante), pero no indica quién es, cuales son sus intereses, ni permite adjuntar un mensaje particular (el mismo mail llega a cualquier "jedi") .

Además los links están erróneos e inclompletos.

Relacionado a #201

[2014-12-15 17:26] edvm opened #203 "issue de prueba"

[2014-12-19 13:33] #203 closed, assigned to nobody

[2014-12-19 13:33] mgaitan opened #204 "[bug] local variable 'redirect' referenced before assignment"
http://beta.python.org.ar/PyCamp

[code]

[2015-01-08 03:47] llazzaro commented on #194
use el slug en lugar del name

[2015-01-08 03:55] llazzaro opened #206 "Noticias Contenido muy largo rompe styles"
Si los contenidos de las imagenes son largos rompe los styles.
ver imagen

![prueba - pyar - python argentina](https://cloud.githubusercontent.com/assets/568181/5657676/ee1b1e58-96d0-11e4-84fb-3ff0df96be5d.png)

[2015-01-08 04:07] llazzaro commented on #200
si voy a /newbie/
tengo un TypeError
int() argument must be a string or a number, not 'SimpleLazyObject'

no se si esto va aca o es un issue nuevo

[2015-01-17 15:45] diegoduncan21 opened #207 "error en el formulario de eventos"
![seleccion_001](https://cloud.githubusercontent.com/assets/1647454/5789376/a75df36e-9e46-11e4-85d9-d59b8a27154c.png)

[2015-02-15 20:52] surrealcristian opened #210 "RemovedInDjango18Warning: get_query_set method should be renamed `get_queryset`"
Al ejecutar el comando "syncdb", se muestran por stdout varios alerts sobre la deprecación de la forma RemovedInDjango18Warning `PostManager.get_query_set` method should be renamed `get_queryset`.

[2015-02-16 00:24] angvp commented on #210
¿Qué módulos especificamente? Puede ser un módulo externo.

[2015-02-16 03:03] surrealcristian commented on #210
planet/managers.py

[2015-02-16 04:21] surrealcristian opened #212 "TypeError en /newbie/"
TypeError at /newbie/
    int() argument must be a string or a number, not 'SimpleLazyObject'

Error referido en el issue #200, pero sin ser agregado al listado de issues.

El error se da al ingresar a /newbie/ sin estar autenticado.
Qué solución se debería implementar?
- Forzar la autenticación en ese endpoint?
- Modificar la lógica para que no pinche en caso de no estar autenticado?

[2015-03-01 15:52] edvm commented on #163
Novedades sobre esto? Sino lo paso a ready :)

[2015-03-01 15:53] edvm commented on #126
Esto lo paso a Backlog, viene congelado hace un tiempo.

[2015-03-01 16:05] edvm commented on #68
Faaa que me colgue con esto. No tenemos server de produccion, aunque veo que sacamos una account en getsentry.com, el trial. Recien hice el recover del pass, ni bien lo tenga lo paso. Mando esto a ready y seteo esta task a milestone correspondiente.

[2015-03-01 16:06] #92 closed

[2015-03-01 16:27] edvm commented on #68
Tenemos de vuelta el trial de la cuenta en getsentry:
user: admin@python.org.ar
passwd: PyAr_es_am@r!

[2015-03-02 01:15] angvp commented on #163
Faltan los 2 items que estan marcados, si alguien quiere continuarlos go with it.

[2015-03-02 01:19] edvm commented on #163
Perfecto Angel! Lo paso a Ready a ver si alguien le da adelante con los dos items que quedan.

[2015-03-03 23:21] edvm opened #214 "La seccion 'Nosotros' se rompe"
/code/community/views.py in about_pyar
    title = _('Acerca de PyAr')

[2015-03-03 23:24] edvm opened #215 "La seccion 'Lista' se rompe"
/code/community/views.py in mailing_list
    title = _('Lista de Correo')

[2015-03-03 23:25] edvm commented on #215
Relacionado con #214

[2015-03-03 23:48] edvm commented on #215
Implementado en: c1e1cf60892eab53c1b3c65a711fa2e9f4dfae6d

[2015-03-03 23:48] edvm commented on #214
Implementado en: c1e1cf60892eab53c1b3c65a711fa2e9f4dfae6d

[2015-03-03 23:58] edvm commented on #175
Acabo de hacer review, juan te olvidaste el commit xD ? porque sigo viendo la app 'projects' en el INSTALLED_APPS, y esta en el repo, tambien en pyarweb/urls.py. Vuelvo esta tarea a 'ready'

[2015-03-04 00:00] #215 closed

[2015-03-04 00:00] #214 closed

[2015-03-04 00:09] #194 closed

[2015-03-04 00:09] #204 closed

[2015-03-04 00:24] edvm opened #216 "Esconder app 'adopta un newbie' de la portada"

[2015-03-04 00:25] edvm commented on #216
Tenemos la app de adopta un newbie un poco retrasada. Esconderla de la portada, una vez implementada la app en futuras versiones, volver a mostrarlo

[2015-03-04 15:20] gilgamezh commented on #171
@edvm pudiste con esto? buscame en el IRC y lo vemos juntos

[2015-03-09 00:22] mgaitan commented on #193
@x-ip esto deberiamos hacer esto, por lo menos hasta que implemente mgaitan/waliki#3 y mgaitan/waliki#7

[2015-03-09 02:21] #193 closed

[2015-03-09 02:26] #188 closed

[2015-03-09 02:27] edvm commented on #133
Nico, tenemos noticias de esto? :)

[2015-03-09 02:28] #216 closed

[2015-03-09 02:28] edvm commented on #175
Ahora el link en la portada /index.html quedo apuntando a la wiki/Proyectos

[2015-03-09 02:28] #175 closed

[2015-03-09 02:29] edvm commented on #155
Ahora para poder crear un trabajo hay que estar logueado, sigo con el resto :)

[2015-03-09 03:08] mgaitan commented on #133
parece que funca correctamente. acabo de subir mi "firma digital" acá ;-)

http://beta.python.org.ar/wiki/AdoptaUnNewbie

si hay tiempo, estaria bueno verificar/configurar el backend para servir
los attachments que mejor nos calce a nuestro esquema.

http://waliki.readthedocs.org/en/latest/attachments.html
https://github.com/johnsensible/django-sendfile#simple-backend

On Sun, Mar 8, 2015 at 11:27

[2015-03-09 03:48] mgaitan opened #217 ""Empresa" al agregar oferta de trabajo no es intuitivo"
voy a http://beta.python.org.ar/trabajo/add/ y veo el formulario que exige una empresa, pero sin navegar mucho el sitio no sé como agregar una empresa nueva.

hay que poner un link pequeño a la pagina de agregar empresa

[2015-03-09 03:54] mgaitan commented on #217
yo estaba mirando la web online y @edvm ya lo habia hecho acá 4ce9a15738. capo

[2015-03-09 03:54] #217 closed

[2015-03-09 05:06] edvm commented on #155
Implementado!

[2015-03-09 05:08] #155 closed

[2015-03-09 13:07] gilgamezh commented on #133
Creo que esto nos quedó abierto y el problema estaba en otro lado.
Si mi memoria no me falla el error se daba con circus.

Cómo puedo configurar desde dónde se sirven los attachments? Es un setting?
Gracias!

[2015-03-09 13:39] mgaitan commented on #133
2015-03-09 10:07 GMT-03:00 Nicolás Demarchi <notifications@github.com>:

waliki usa django-sendfile. de parte de django es sólo definir un setting,
pero dependiendo el server hay que hacer otras config fuera de django.

https://github.com/johnsensible/django-sendfile#simple-backend

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-03-10 01:48] mgaitan opened #218 "el titulo de las ofertas no aparece en el title de pagina"
en el titulo de la pagina (tag  `<title>`) en ofertas deberia aparece

http://beta.python.org.ar/trabajo/2/

ejemplo
"Programador Python - Ofertas laborales - PyAr...."

[2015-03-10 01:54] mgaitan opened #219 "wording de la app "jobs""
en la pagina detalle, al costado dice  "Datos del Empleo"

En la lista dice "Trabajos con Python" y el action button dice "Agregar trabajo"

en el form, el campo principal dice "Empleo" y su help_text "titulo del empleo".

No solo hay cierta incoherencia en el wordin (trabajo / empleo) sino que  más apropiado es "oferta laboral".

Mi propuesta es reemplazar respectivamente lo mencionado por:

- "D

[2015-03-10 02:14] edvm commented on #218
No entendi el issue, ahora mismo esta el titulo que se pone al agregar la
oferta de trabajo, y que es luego lo que se muestra, que es lo que falta?

2015-03-09 22:48 GMT-03:00 Martín Gaitán <notifications@github.com>:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-03-10 02:48] mgaitan commented on #218
![captura de pantalla de 2015-03-09 23 47 18](https://cloud.githubusercontent.com/assets/2355719/6568462/a8cc33f8-c6b6-11e4-8b07-7bcebf3596ca.png)

el title de la ventana, en la indexacion de los buscadores tiene mucha prioridad y no dice nada sobre el trabajo en cuestion

[2015-03-10 18:31] #218 closed

[2015-03-10 18:31] #219 closed

[2015-03-10 22:09] g3r4benitez opened #220 "paginador del buscador falla al recalcular total de paginas"
al buscar el texto: python or 1=1

el buscador muestra: aproximadamente 75 resultados y 8 páginas.

si accedo directamente a la pagina 4 del paginador, el mismo dice:

aproximadamente 25 resultados y 3 páginas

[2015-03-10 22:24] g3r4benitez opened #221 "al registrar usuario no esta tomando por válido un usuario que debería considerarse válido"
Al momento de la registración intento crear el usuario g3r4benitez, el sistema responde:

Registrate
Nombre de usuario*
g3r4benitez
Los nombres de usuarios pueden contener
solamente letras, números, y @/./+/-/_.
Correo Electrónico (opcional)

[2015-03-10 22:24] g3r4benitez opened #222 "al registrar usuario no esta tomando por válido un usuario que debería considerarse válido"
Al momento de la registración intento crear el usuario g3r4benitez, el sistema responde:

Registrate
Nombre de usuario*
g3r4benitez
Los nombres de usuarios pueden contener
solamente letras, números, y @/./+/-/_.
Correo Electrónico (opcional)

[2015-03-10 22:27] g3r4benitez opened #223 "al registrar usuario no esta tomando por válido un usuario que debería considerarse válido"
Al momento de la registración intento crear el usuario g3r4benitez, el sistema responde:

Registrate
Nombre de usuario*
g3r4benitez
Los nombres de usuarios pueden contener
solamente letras, números, y @/./+/-/_.
Correo Electrónico (opcional)

[2015-03-10 22:27] g3r4benitez opened #224 "al registrar usuario no esta tomando por válido un usuario que debería considerarse válido"
Al momento de la registración intento crear el usuario g3r4benitez, el sistema responde:

Registrate
Nombre de usuario*
g3r4benitez
Los nombres de usuarios pueden contener
solamente letras, números, y @/./+/-/_.
Correo Electrónico (opcional)

[2015-03-10 22:31] #221 closed

[2015-03-10 22:31] #222 closed

[2015-03-10 22:31] #223 closed

[2015-03-10 22:32] mgaitan commented on #224
@g3r4benitez cerré varios issues repetidos porque se posteó lo mismo muchas veces. dejamos este para corregir

[2015-03-10 22:46] mgaitan commented on #220
el buscador que usamos es externo: https://www.google.com.ar/cse . como el google "normal", el dato de cuantos resultados se encontraron es aproximado

PD: gracias por estar probando el sitio!

[2015-03-10 22:46] #220 closed

[2015-03-10 23:09] gilgamezh opened #225 "Las busquedas no devuelven ningún resultado"
Hice pruebas con cosas como "python" "pycamp" "lista de correos"

Es una config?

[2015-03-10 23:14] mgaitan commented on #225
mientes! ![captura de pantalla de 2015-03-10 20 10 28](https://cloud.githubusercontent.com/assets/2355719/6587335/b888735a-c761-11e4-8194-d1f89d78baf8.png)

puede ser tu browser que bloquea un javascript o algo asi? otras busquedas si te funcionan?

[2015-03-10 23:17] gilgamezh commented on #225
Era una config... en mi browser. Ghostery está bloqueando la llamada a la api de google

![screenshot from 2015-03-10 20 18 26](https://cloud.githubusercontent.com/assets/1496486/6587399/6ea2ee9a-c762-11e4-8338-1756f0b4e95c.png)

[2015-03-10 23:17] #225 closed

[2015-03-10 23:39] gilgamezh opened #226 "Un evento sin fecha no aparece en la lista de eventos"
El campo fecha no es obligatorio

Ejemplo:

http://beta.python.org.ar/eventos/5/

[2015-03-11 00:22] gilgamezh opened #228 "No tenemos robots.txt"
Siempre es bueno tener uno bien configurado

Cuál sería la manera de hacerlo con django? si me tiran una punta yo lo hago.

[2015-03-11 00:24] gilgamezh opened #229 "La página de un evento se rompe"
Por ejemplo con un video
http://beta.python.org.ar/eventos/4/

[2015-03-11 00:27] mgaitan commented on #228
si no queremos mucha sofisticacion, simplemente podemos escribir el robots.txt plano, ponerlo en una carpeta de templates y servirlo con django via un templateview

`url(r'^robots\.txt$', TemplateView.as_view(template_name='robots.txt', content_type='text/plain'))`

[2015-03-11 00:28] edvm commented on #228
El 10 de marzo de 2015, 21:27, Martín Gaitán <notifications@github.com>
escribió:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-03-11 00:45] humitos opened #230 "System Message: ERROR en varias páginas"
* http://beta.python.org.ar/lista/
* http://beta.python.org.ar/wiki/EtiquetaPyAr
* http://beta.python.org.ar/wiki/Proyectos

Entre otras...

[code]

[2015-03-11 01:19] mgaitan commented on #230
esto es error de markup rst.

es medio agresivo, pero el "line 96" se refiere a la linea 96 al editar la
pagina

On Tue, Mar 10, 2015 at 9:45 PM, Manuel Kaufmann <notifications@github.com>
wrote:

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-03-11 03:11] mgaitan commented on #230
o sea, no hay "bug" del sitio acá.

[2015-03-11 03:19] humitos commented on #230
Claro, pero eso viene de acá: http://python.org.ar/ListaDeCorreo , por ejemplo...

Es un error en la migración de datos de la wiki. ¿Dónde debería reportarlo? Sino, una vez publicada la web van a quedar un sin fin de páginas de wiki mal migradas y que se van a ver muy feas. Lo mínimo que debemos tener es "conocimiento de esos errores" para que, si no queda otra, ir resolviéndolos a mano.

[2015-03-11 03:25] angvp commented on #185
Ahora me armo de valor y hago un pull request, espérenlo en las próximas horas :D

[2015-03-11 03:32] mgaitan opened #231 "Filtrar noticias por multiples etiquetas no funciona"
http://beta.python.org.ar/noticias/

![captura de pantalla de 2015-03-11 00 29 35](https://cloud.githubusercontent.com/assets/2355719/6589833/c1db6da8-c785-11e4-8ead-6b7607b2c2bf.png)

- no se ven cambios visuales cuando clickea sobre una etiqueta o el botón "limpiar"
- "Filtrar" pasa datos via GET, pero no se aprecia ningun filtrado.

[2015-03-11 03:33] mgaitan opened #232 "Filtrar jobs por etiquetas no funciona"
idem #231 pero ademas

- los tags en un el job (listado) no son links

![captura de pantalla de 2015-03-11 00 32 36](https://cloud.githubusercontent.com/assets/2355719/6589858/2f4bbd7a-c786-11e4-8952-f0d8132e0aa6.png)

- no están los tags en el detalle de la oferta laboral

[2015-03-11 13:12] mgaitan commented on #230
ok, tenes razón. Armemos un to do list con los fix necesarios de de todas las **paginas wiki importantes**

[2015-03-11 13:22] mgaitan commented on #230
actualicé la descripción del ticket

[2015-03-11 13:55] #226 closed

[2015-03-11 13:56] edvm commented on #185
Vaaaaamos Angel ! :D

2015-03-11 0:25 GMT-03:00 Angel Velasquez <notifications@github.com>:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-03-11 14:59] #196 closed

[2015-03-11 14:59] #199 closed

[2015-03-11 14:59] mgaitan commented on #198
ver implementacion para jobs y news en 43d1825

[2015-03-11 15:22] walteralini opened #233 ""Unexpected indentation" en /lista/"
En la sección "Buscar en los archivos de la lista", aparecen errores de identación:

"""
System Message: ERROR/3 (<string> line 96)
Unexpected indentation.
"""

y

"""
System Message: WARNING/2 (<string> line 98)
Block quote ends without a blank line; unexpected unindent.
"""

[2015-03-11 15:25] walteralini opened #234 "En "Donaciones" hay links que no existen"
En /wiki/Donaciones aparecen dos links que no existen:

"""
[[DineroMail()]]
"""

y

"""
[[CuentaDigital()]]
"""

[2015-03-11 15:28] walteralini opened #235 ""Donaciones", redacción"
Dice:

"""
Las donaciones realizadas a PyAr seran utilizadas para promover el lenguaje en eventos y para pagar por material promocional como tutoriales etc.
"""

Qué tal algo así como:

"""
Las donaciones realizadas a PyAr serán utilizadas, entre otras cosas, para promover el lenguaje en conferencias, eventos, jornadas, etc., y para la creación e impresión de materiales promocionales como afiches,

[2015-03-11 17:52] cmdelatorre opened #236 "Link Planeta en barra superior no pierde el highlight"
Cuando hay algún link "activo" (por ejemplo Eventos), hago click en Planeta lo cual abre una pestaña nueva. Pero al volver a la pestaña de PyAr aparecen dos links activos: Eventos y Planeta.

Al menos usando Chromium Version 39.0.2171.65 Ubuntu 14.04 (64-bit)

[2015-03-11 18:02] mgaitan commented on #234
lo pasamos a #230

[2015-03-11 18:02] #234 closed

[2015-03-11 18:11] mgaitan commented on #235
@walteralini estoy muy de acuerdo. Dejo este ticket abierto para que cuando el sitio pase a produccion y migremos el contenido hasta el momento, hagamos esta edicion, que ya no es una "correccion de markup" como los listados en #230 sino un cambio de redacción.

a los issues de este tipo les prondremos el label **wiki-contenido**

[2015-03-11 18:11] mgaitan commented on #233
#230

[2015-03-11 18:11] #233 closed

[2015-03-12 00:34] llazzaro commented on #232
donde tienen que apuntar los tags? hay alguna vista?

tambi'en hay que mejorar el estilo del texto
![screenshot from 2015-03-11 21 33 27](https://cloud.githubusercontent.com/assets/568181/6609864/58085934-c836-11e4-8f5c-4982086cdf51.png)

si quieren hago este issue

[2015-03-12 18:32] alener opened #237 "System Message: WARNING/2 (<string> line 396)"
En http://beta.python.org.ar/wiki/Charlas hay varios de ese tipo de mensaje, luego aparecen varios
System Message: ERROR/3 (<string> line 14) id53
Por otro lado muchas de las charlas del comienzo no dicen en la página la fecha en que fueron dadas

[2015-03-12 18:40] alener opened #238 "Error en un html de la wiki"
En http://beta.python.org.ar/wiki/PabloZiliani  aparece:
<strong class="highlight">.. raw:: html

</strong>[Table not converted]

[2015-03-12 18:47] alener opened #239 "System Message: ERROR/3 (<string> line 96) y 98 en lista de correo"
En http://beta.python.org.ar/lista  aparece:

System Message: ERROR/3 (<string> line 96)
Unexpected indentation.

hosting site:listas.python.org.ar/pipermail/pyar/ Donde le decimos a google que busque la palabra 'hosting' solamente
System Message: WARNING/2 (<string> line 98)
Block quote ends without a blank line; unexpected unindent.

[2015-03-12 19:04] alener opened #240 "En wiki/noticias DseFChDXamYi"
En http://beta.python.org.ar/wiki/Noticias aparece v6ARky <a href="http://gekteefghnuq.com/">gekteefghnuq</a>, [url=http://zksijuaooaad.com/]zksijuaooaad[/url], [link=http://fguknyeiedim.com/]fguknyeiedim[/link], http://qhhapjmqriqy.com/

Siempre usando Chromium

[2015-03-12 19:12] mgaitan commented on #237
@alener lo agreguemos a  #230

[2015-03-12 19:12] #237 closed

[2015-03-12 19:13] alener opened #241 "WARNING/2 ERROR/3 en wiki/Eventos"
En http://beta.python.org.ar/wiki/Eventos   :
hay varios link que van a paginas que aún no existen

System Message: WARNING/2 (<string> line 46) id5 id6 id8 id9

System Message: ERROR/3 (<string> line 11) id11
Undefined substitution referenced: ":-?".

System Message: ERROR/3 (<string> line 13) id13
Duplicate target name, cannot be used as a unique reference: "sprints".

System Message: ERROR/3 (<

[2015-03-12 19:14] mgaitan commented on #241
unificamos este problema en #230

[2015-03-12 19:14] #241 closed

[2015-03-12 19:17] mgaitan commented on #240
parece un bot de spam atacando Waliki.

http://beta.python.org.ar/wiki/Noticias/history/

[2015-03-12 19:18] mgaitan commented on #240
tener en cuenta que disminuirá/desaparecerá ya que ahora se exige login para la edicion

[2015-03-12 20:03] alener commented on #230
En http://beta.python.org.ar/wiki/Proyectos
System Message: ERROR/3 (<string> line 37) id7
Undefined substitution referenced: ";)".

[2015-03-13 19:13] angvp commented on #163
@edvm Estaba viendo una cosa, ¿podemos dividir el ticket de sitemap y hacerlo en varios tickets? hacer varios sitemap? por ejemplo si nos encargamos de ir haciendo los sitemap de las empresas, ofertas de trabajo ya vamos ganando espacio, y luego quedaría implementar que waliki haga su propio sitemap (¿te gusta esta idea @mgaitan?) y así también tendríamos lo que queda y el esfuerzo sería menor. ¿o

[2015-03-13 19:15] edvm commented on #163
El 13 de marzo de 2015, 16:13, Angel Velasquez <notifications@github.com>
escribió:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-03-14 03:09] #198 closed

[2015-03-14 03:13] mgaitan opened #243 "agregar url amigable para eventos basada en autoslug"
idem #242, para el modelo `Event`

@angvp :beer: ?

[2015-03-14 03:16] mgaitan opened #244 "deploy a beta con los ultimos cambios"
implementé los feeds rss (faltan los feeds de waliki mgaitan/waliki#32) y algunos cambios menores.

podemos deployar a beta? @edvm :beers: :+1:

[2015-03-14 04:56] angvp commented on #243
De una, ahora me pongo.

[2015-03-14 04:57] angvp commented on #185
Fixed in #242

[2015-03-14 04:57] #185 closed

[2015-03-14 12:57] edvm commented on #244
2015-03-14 0:16 GMT-03:00 Martín Gaitán <notifications@github.com>:

Deployando! Aunque rompimos el sitio: http://beta.python.org.ar/
Hoy me ponen a limpiar la casa, no lo voy a pode revisar hasta que termine
de ayudar con tareas del hogar. Martin, pasame tu pubkey por mail
y te agrego al authorized_keys

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-03-15 14:46] angvp commented on #232
Supongo que debería llevar a una pantalla de jobs que matcheen con el tag seleccionado, con lo cual el template estaría casi listo (sólo agregar los links), y habría que hacer el view que haga el filter por tags. dale para adelante @llazzaro

[2015-03-15 14:49] angvp commented on #244
A mi me anda master bien en local, se corrieron las migraciones y se instaló todo lo que estaba en el requirements.txt ? ```pip install -Ur requirements.txt``` ? de hecho uno de los commits que metí fue el bump de la versión de django a 1.7.4 (en el otro PR bumpee a 1.7.6)

[2015-03-15 14:54] edvm commented on #244
Perdon el top posting, Angel efectivamente hay un quilombo con las
migraciones arriba, yo dromedario la DB y arrancaría todo de 0, porque en
la base de beta venimos arrastrando un error desde el sprint hecho en
ralsina home, algo quedo mal en la base y pincha las migraciones,
@mgaitan,  Angel como lo ven?
El 15/03/2015 11:49, "Angel Velasquez" <notifications@github.com> escribió:

[2015-03-15 14:56] angvp commented on #244
me tirás el dump así lo levanto en local y veo si hay chance de sobrevivirlo?

[2015-03-15 15:10] edvm commented on #244
Estoy en medio del campo sin compu llego en 2hs a casa aprox
El 15/03/2015 11:56, "Angel Velasquez" <notifications@github.com> escribió:

[2015-03-15 15:36] angvp commented on #244
Dale sin prisa no más estoy haciendo un poco de update en los tickets para ver si esta semana que estoy de vacaciones le meto unas horitas a lo que quedó pendiente por ahí

[2015-03-15 17:10] edvm commented on #244
El 15 de marzo de 2015, 12:36, Angel Velasquez <notifications@github.com>
escribió:

Angel, Martin, no puedo dumpear la base :-(

www-pyar@python:~/pyarweb_beta/pyarweb$ PGPASSWORD="frulala" pg_dump -U
secret_usr beta_pyar > db.sql
pg_dump: [archivador (bd)] falló la conexión a la base de datos
«beta_pyar»: FATAL:  la autentificaci?n Peer fall? para el usuario
<<secret_usr>>

Llamamos a Nico a ver

[2015-03-15 17:10] mgaitan commented on #232
2015-03-15 11:46 GMT-03:00 Angel Velasquez <notifications@github.com>:

exacto, debe mostrar la misma view  jobs_list pero limitado a los jobs que
tienen el/los tags seleccionados.

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-03-16 02:42] diegoduncan21 opened #246 "NoReverseMatch at /"
solo al entrar al site.
![seleccion_001](https://cloud.githubusercontent.com/assets/1647454/6659857/dbbc021a-cb6c-11e4-8259-b9e5314c03b5.png)

[2015-03-16 02:50] mgaitan commented on #246
si, tenemos un problema con las migraciones. lo arreglaremos en breve

On Sun, Mar 15, 2015 at 11:42 PM, Diego <notifications@github.com> wrote:

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-03-16 13:45] gilgamezh commented on #244
necesitan ayuda?

[2015-03-16 14:26] mgaitan commented on #244
yes, please. haz tu magia.

[2015-03-17 02:30] #246 closed

[2015-03-17 02:36] mgaitan commented on #244
ahi lo arregle, levantò http://beta.python.org.ar/

@angvp, @edvm el tema es que el cambio con los `Autoslug(unique=True... ` impide que se corran las migraciones si hay mas de un objeto (en nuestro caso era Jobs, pero probablemente suceda lo mismo con events).

el atributo slug queda vacio por defecto y si hay mas de uno, revienta por no ser unique.

Lo que hice fue dividir la migracion en 3 part

[2015-03-17 02:36] #244 closed

[2015-03-17 03:30] angvp commented on #244
Ok me fijo de agregar lo mismo para el pull request que tengo @mgaitan

[2015-03-17 12:24] hobarrera opened #247 "AttributeError at /trabajo/rss"
`AttributeError at /trabajo/rss` al visitar http://beta.python.org.ar/trabajo/rss.

[2015-03-17 12:26] hobarrera commented on #247
El error parece estar [acá](https://github.com/PyAr/pyarweb/blob/master/jobs/views.py#L28).

Creo que debería leer `job.title`.

[2015-03-17 12:57] mgaitan commented on #247
arreglado en  f773187 . gracias!

[2015-03-17 12:57] #247 closed

[2015-03-21 18:41] llazzaro commented on #232
listo
* ahora los tags son links.
* muestro los tags en la vista de jobs.

[2015-03-21 18:55] llazzaro commented on #232
ahh quiza quieren cambiar los urls.
quedaron de esta forma:

trabajos/?tag=django

[2015-03-21 21:54] angvp commented on #232
Por qué no trabajos/django ?

[2015-03-21 22:01] llazzaro commented on #232
no me di cuenta.
ahí lo actualizo

[2015-03-21 22:12] llazzaro commented on #232
listo ahora queda trabajos/django
saludos, me fui a tomar una cerveza

[2015-03-25 18:26] pedromagnus opened #249 "Fixes breakpoint < 992px"
En breakpoint < 992px:
1) el "Python powered" del footer cae abajo.
2) #main precisa padding-top de 20px.

[2015-03-25 22:36] mgaitan commented on #249
qué lo arregle, qué lo arregle, :clap:  :dancers:

[2015-03-26 08:12] pedromagnus commented on #249
PR https://github.com/PyAr/pyarweb/pull/250

[2015-03-26 08:14] pedromagnus commented on #249
No SASS/LESS?
No alfabetización de atributos?
No usado de espacios en vez de tabs?
Esos estilos van a ser cada vez más dificil de mantener...

[2015-03-26 12:34] mgaitan commented on #249
somos brutos peter, yo sabía que la estabamos cagando pero hasta ahi llegó mi osadía de conocimiento :-1:

[2015-03-26 12:34] #249 closed

[2015-03-28 13:52] mgaitan opened #251 "Deploy a producción"
- [x] Bajar directorio `/data` para migrar via moin2git
- [x] Mover python.org.ar a old.python.org.ar
- [x] Backup de db actual (python manage.py dbbackup)
- [x] Mover beta.python.org.ar a python.org.ar
- [x] borrar datos de waliki (repo git `WALIKI_DATA` y todo lo que este en los modelos `waliki_*`)
- [x] subir resultado de migracion de wiki a github/pyar/wiki (via git)
- [x] subir resultado de m

[2015-03-28 13:53] edvm commented on #251
Bacapeando la base :)

[2015-03-28 14:09] mgaitan commented on #251
para poner moinmoin en solo lectura ver https://moinmo.in/HelpOnAccessControlLists#Wiki_as_a_simple_CMS

[code]

[2015-03-28 14:16] mgaitan commented on #251
migración en curso :dancers:

![captura de pantalla de 2015-03-28 11 14 04](https://cloud.githubusercontent.com/assets/2355719/6881383/df42abc2-d53b-11e4-800b-c6f2806a0d74.png)

[2015-03-28 14:25] gilgamezh commented on #251
Yo me pongo a laburar con *Poner en solo lectura el MoinMoin*

[2015-03-28 16:43] gilgamezh opened #252 "Instalar y configurar memcached"
De momento tenemos cache en la base de datos

[2015-03-28 18:22] mgaitan commented on #68
hecho, pero con otra cuenta porque no sé a quien se le ocurre poner passwords publicos ;-)

[2015-03-28 18:22] #68 closed

[2015-03-28 18:48] mgaitan opened #253 "crear una pagina de error custom"
que matchee un poco con el diseño del sitio.

404 y 50x

ej feo:
http://python.org.ar/lalala

[2015-03-28 21:02] gilgamezh commented on #251
Felicitaciones!!!! :smiley: :tada:

[2015-03-28 21:02] #251 closed

[2015-03-28 21:03] gilgamezh opened #254 "La app de eventos no muestra horarios"
Ej: http://python.org.ar/eventos/6/

[2015-03-28 21:51] arianalidagarcia opened #255 "Tipografía: Error en la sección de Trabajos"
En el campo de descripción de la empresa que estás agregando al listado, te reconoce la tipografía pero no te deja cambiarla. Muchas gracias.
![test](https://cloud.githubusercontent.com/assets/5408370/6883043/382134c2-d57b-11e4-820c-41f4189f7f60.jpg)

[2015-03-28 22:01] ssebastianj opened #256 "Cambiar el asunto de emails de "beta.python.org.ar" a "python.org.ar""
Dado que estamos felizmente corriendo (:smiley:) en producción la versión *final* de PyAr habría que renombrar el texto **[beta.python.org.ar]** a **[python.org.ar]** que aparece como asunto en los emails.

![github_issue](https://cloud.githubusercontent.com/assets/309535/6883086/bd3bf178-d57c-11e4-9b8f-1d9790685fbb.png)

[2015-03-29 14:16] gilgamezh commented on #256
Edité acá:

![screenshot from 2015-03-29 11 18 10](https://cloud.githubusercontent.com/assets/1496486/6885994/e7bb4c22-d604-11e4-9637-dda9dea22014.png)

Pero aparentemente no funcionó.

De dónde saco esa config?? cc @edvm @mgaitan

[2015-03-29 15:25] mgaitan commented on #256
Ies rarísimo. encontré en la doc que se puede forzar con este setting

[code]

http://django-allauth.readthedocs.org/en/latest/configuration.html

lo puse, pero no me da bola. Lo raro es que tiene algun sentido que no de bola porque tampoco le da bola al default, que el `name` del Site (que es lo que configuró nico).

luego debuggeo mas

[2015-03-29 16:01] edvm commented on #256
Stopearon/startearon todo? Borraron pyc?

2015-03-29 12:25 GMT-03:00 Martín Gaitán <notifications@github.com>:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-03-29 21:26] ssebastianj commented on #256
Volví a probar restablecer mi contraseña hace unos minutos y esta vez muestra **[PyAr]** en el asunto (en corcondancia con el setting que comentó @mgaitan).  :+1:

![github_issue](https://cloud.githubusercontent.com/assets/309535/6887804/7d755f7e-d640-11e4-8642-15c168e1e28e.png)

Queda como *pequeño* detalle estético el espacio faltante entre *[PyAr]* y *Correo para restablecer contraseña*.

[2015-03-29 23:34] mgaitan commented on #256
great! @gilgamezh dejamos eso o lo pasamos a [python.org.ar]?

[2015-03-30 12:30] gilgamezh commented on #256
@mgaitan  Me gusta PyAr. ahora le meto el espacio. :)  (este es el issue 265 XD lo notaron? :information_source:  )

[2015-03-30 17:42] mgaitan opened #257 "OperationalError: memoria agotada"
https://app.getsentry.com/pyar-1/pyar-web/group/60430152/

[2015-03-31 00:16] mgaitan opened #258 "deployar una instancia de sentry propia"
En #68 configuramos el servicio getsentry.com para tener reportes de las cosas que se rompen en producción (muchas, de paso :D). El servicio servicio solia tener una versión gratuita que ahora se convirtió en un trial de 15 dias (se nos acaba el 10/4) y luego hay que empezar a pagar.

sin embargo el codigo sigue siendo libre (basado en django) y se puede instalar facilmente una instancia propia, p

[2015-04-01 23:05] ssebastianj commented on #256
Compañeros, habiéndose solucionado el issue #256, hago el honor de cerrarlo. :fireworks:

[2015-04-01 23:05] #256 closed

[2015-04-02 13:31] mgaitan opened #259 "El header de la web deberia tener el buscador"
Están bueno los botones grandes, pero se necesita que el buscador esté en el header, asi sigue accesbible para las secciones que no usan el sidebar de la derecha (especialmente la wiki).

![captura de pantalla de 2015-04-02 10 27 49](https://cloud.githubusercontent.com/assets/2355719/6964815/0a4fc12a-d923-11e4-8868-429ff3f0b367.png)

Por otro lado, el espacio vacio que queda entre el header y el c

[2015-04-03 02:11] mgaitan opened #260 "Configurar un cron para pushear la wiki a github"
Los cambios mezclados en github se sincronizan automaticamente via el webhook, pero hace falta sincronizar en sentido inverso. Por ejemplo con un cron cada dia,

es `git push origin` desde el directorio definido en `WALIKI_DATA_DIR`

[2015-04-03 22:33] mgaitan opened #261 "Instalar gettext"
Quiero poner algunos strings en español y no estoy seguro por qué no me da bola, pero cuando quiero correr `compilemessages` me tira este error:

[code]

[2015-04-04 00:23] mgaitan opened #262 "Integrar proyectos de doc al look & feel general"
docs.python.org.ar deberia estar mas integrado al estilo del sitio.

se pueden servir directamente  sphinx desde python usando los templates base de nuestro sitio con esta app.

https://bitbucket.org/ssc/django-sphinxdoc/

[2015-04-04 13:51] gilgamezh opened #263 "Configurar CDN para contenido stático"
Utilizar:

STATIC_URL =http://static.python.org.ar

Luego configurar ese dominio con la caché de cloudflare (que de paso cañazo ahora tiene un datacenter en argentina https://blog.cloudflare.com/buenos-aires/ )

[2015-04-07 19:49] mgaitan opened #264 "template para edicion no autorizada se ve feo"
cuando una regla ACL excluye a un usurio de editar una pagina, se ve un mensaje "no estás autorizado". Se ve feo:

![captura de pantalla de 2015-04-07 16 48 28](https://cloud.githubusercontent.com/assets/2355719/7031998/00d123f6-dd46-11e4-9a45-c782b502a4bf.png)

[2015-04-07 20:59] facundobatista opened #265 "User own pages should be allowed to be modified only for that user, *by default*"
So, if user FooBar register in the site, her /FooBar page should be only modified by herself, without the need to create any particular rule anywhere.

[2015-04-07 22:12] mgaitan commented on #265
para implementar esto habria que hacer un receiver para la señal `allauth.account.signals.user_signed_up(request, user)` que cree una instancia de `waliki.models.ACLRule` con el permiso 'edit_page' para el usuario creado.

http://django-allauth.readthedocs.org/en/latest/signals.html

ese mismo codigo se deberia ejecutar para todos los usuarios ya creados, implementando un datamigration

por otro l

[2015-04-07 22:15] facundobatista commented on #265
+1 a que estén todos bajo el mismo namespace... /user/FacundoBatista ?

[2015-04-07 23:00] edvm commented on #265
2015-04-07 19:15 GMT-03:00 Facundo Batista <notifications@github.com>:

+1 a que sea /miembros/EmilianoDallaVerdeMarcozzi, lo comun es el ingles y
el
namespace '/user/' seria el adecuado, aunque en el sitio se hizo o se
hicieron tareas
en especifico para que las urls sean en espanol, so ... +1 a mantener el
espanol y
por ello +1 a /miembros.

--
Broken code @ https://github.com/edvm

<edvm@python.

[2015-04-08 13:20] mgaitan commented on #265
:+1:

Otro detalle

en algun lado del profile del user se deberia guardar el fk a "su pagina", cosa de poder asociar mas facilmente user con pagina, y poner links por ejemplo en desde el "autor" de una noticias, desde el historial de cambios de la wiki y demás

[2015-04-08 13:44] facundobatista commented on #265
Y desde el nombre que te muestra cuando estés logueado...

[2015-04-08 14:05] gilgamezh commented on #258
Esto me hace un poco de ruido debido a que tenemos bastante 'cargada' la VM de pyar.
Qué tan posible sería pedir un segundo VM a usla y separar algunas cosas en esa otra VM?

ping @facundobatista

[2015-04-08 14:16] gilgamezh commented on #261
Listo, pero me da un error que sospecho es de config:

[code]

[2015-04-08 19:05] mgaitan commented on #265
ahi implementé una version basica. pueden revisar?

lo que no hace esto es redirigir las paginas de usuario que ya existen.  Por ejemplo mi pagina es `wiki/MartinGaitan` y hay que moverla manualmente (con el botón move que aparece en la pagina de edicion)  a `wiki/miembros/tin`

[2015-04-10 20:35] facundobatista commented on #258
Podemos pedir, y si no nos dan, comprar una.

Pero tenemos que estar seguros que la vamos a necesitar, o sea que no es al pedo...

Pregunta, ¿ese moin lo necesitamos para algo? Podríamos matarlo luego de, no sé, seis meses de tener los dos sitios en paralelo?

[2015-04-13 13:29] gilgamezh commented on #258
Dejame conseguir datos para poder evaluar mejor. (estoy pidiendo info a Usla)

Mi idea con Moin era meter algo (onda wget --spider ) que nos deje todo estático y guardarlo en old.python.org.ar

[2015-04-13 13:33] mgaitan commented on #258
2015-04-13 10:29 GMT-03:00 Nicolás Demarchi <notifications@github.com>:

:+1:

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-04-15 15:25] mgaitan opened #267 "deployar letsencrypt para soporte https"
https deberia ser el protocolo default de la web. Reinvindicar esta iniciativa desde la comunidad python favorecerá no sólo la seguridad de nuestro sitio web en particular, sino un ejercicio de "docencia" sobre la seguridad digitial.

documentación
https://letsencrypt.org/

algunas razones
https://letsencrypt.org/2014/11/18/announcing-lets-encrypt.html

y de paso, aumenta la reputacion
http://goog

[2015-04-15 15:26] mgaitan commented on #267
@gilgamezh estás de acuerdo?

[2015-04-15 23:47] gilgamezh commented on #267
:+1:
(cometí el error de no leer  el contenido de los links y me puse a buscar cómo se llamaba la CA que estaba impulsando mozilla....)

[2015-04-15 23:49] edvm commented on #267
Lets encrypt ya se puede usar? En la web figura para middle 2015 :)

El 15 de abril de 2015, 20:47, Nicolás Demarchi <notifications@github.com>
escribió:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-04-15 23:50] gilgamezh commented on #267
@mgaitan @edvm :+1: a poner SSL. Quiero leer un poco más cómo lo implementamos

[2015-04-15 23:54] mgaitan commented on #267
SSL está roto! no hay que usarlo más http://disablessl3.com/.

letsencrypt es TLS

On Wed, Apr 15, 2015 at 8:50 PM, Nicolás Demarchi <notifications@github.com>
wrote:

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-04-16 00:00] gilgamezh commented on #267
me pongo a leer doc y lo charlamos.

[2015-04-16 21:19] mgaitan opened #268 "Orden de jobs debe ser de más nuevo a más viejo"

[2015-04-16 22:55] ccanepa opened #270 "planeta pyAr no actualiza desde 2015-03-23"
planeta pyAr no actualiza desde 2015-03-23 mientras que algunos blogs afiliados muestran actualizaciones posteriores, como el de humitos o facundobatista

[2015-04-17 02:21] mgaitan commented on #270
@ralsina, esto lo hosteas vos, cierto? podés chusmear qué pasó? deberiamos pasarlo al server de pyar?

@matagus hay alguna posibilidad que retomemos la integración de django-planet ?

[2015-04-17 02:28] mgaitan commented on #268
fixed in #269

[2015-04-17 02:28] #268 closed

[2015-04-17 10:39] ralsina commented on #270
Yo dejé de administrarlo hace meses y meses ya que me dijeron que estaba en otro sistema, hecho por otra gente. Debe hacer seis meses que no lo miro más. Les pasé los datos de los feeds, etc, hace muchisimo.

Ahi lo destrabé, pero si lo tengo que seguir administrando avísenme, no quiero tener un servicio ahí, al pedo..

[2015-04-17 12:32] ralsina commented on #270
Arreglado, se había quedado sin memoria el VPS.

[2015-04-17 12:43] #270 closed

[2015-04-17 13:25] matagus commented on #270
@mgaitan dale, lo retomo este finde! tengo que ponerme al día que me perdí un poco

[2015-04-19 21:02] matagus commented on #150
WIP report: me falta hacer django-planet compatible con Django >=1.7 y dps trabajar en este repo para dejarlo integrado. Estimo que esta semana lo tenemos andando.

[2015-04-22 21:51] gilgamezh commented on #261
@mgaitan avisa cuando quieras probar esto.

[2015-04-22 22:20] gilgamezh commented on #260
listo! Agregué una "deploy key" con la llave del usuario de www-pyar y se hace push cada 10 minutos.

[2015-04-22 22:20] #260 closed

[2015-04-28 21:30] joac opened #271 "Agregar la posibilidad de revertir cambios"
No encontré forma de volver a una versión anterior de una página de la wiki, es una funcionalidad necesaria, cuando uno hace cambios erróneos

[2015-04-28 21:32] joac commented on #271
Mejor pongo el issue en waliki?

[2015-04-28 21:33] mgaitan commented on #271
desde el historial o desde un diff podes acceder a una versión anterior y lo primero que sale allí es un botón que dice "restaurar esta versión".

ejemplo
  http://python.org.ar/wiki/Inicio/version/a68f0d2

[2015-04-28 21:33] #271 closed

[2015-04-28 21:36] joac commented on #271
Lo busqué por todos lados y no lo encontré, gracias!

[2015-05-04 20:44] j-e-d commented on #268
¿Quedó en producción el fix? no parece estar ordenado por la fecha de publicación en http://python.org.ar/trabajo/

[2015-05-04 23:41] mgaitan commented on #268
acabo de desplegar, quedó andando.

2015-05-04 17:44 GMT-03:00 Juan E. D. <notifications@github.com>:

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-05-07 00:08] gilgamezh opened #272 "Las palabras se cortan mal en la versión responsive"
Ejemplo:
![photo_2015-05-06_21-11-00](https://cloud.githubusercontent.com/assets/1496486/7506263/030f4378-f434-11e4-94f6-531211519a34.jpg)

[2015-05-17 01:54] humitos opened #275 "Listar los eventos en orden cronológico"
La página http://python.org.ar/eventos/ lista los eventos de la forma: "primero el último que se agregó" y estaría que bueno que muestre: "primero el próximo que viene en el tiempo (el que está más cerca)"

[2015-05-20 13:44] gilgamezh commented on #114
Otro feature:

- agregar los meetups a /eventos automágicamente

[2015-05-20 13:59] angvp commented on #114
Hmm .. un comando que le pegue a la api de meetup y lo ponga como evento? ojo que desconozco la api de meetup pero creeria que con esto [1] alcanza.

[1] http://www.meetup.com/meetup_api/docs/2/events/

[2015-05-20 14:00] gilgamezh commented on #114
Mi idea es dejar de usar meetup :)

[2015-05-20 14:07] mgaitan commented on #114
On Wed, May 20, 2015 at 11:00 AM, Nicolás Demarchi <notifications@github.com

+1

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-05-20 16:46] Nicogue commented on #114
Pienso yo que al salirnos de meetup tambien estamos perdiendo cierta visibilidad y los potenciales participantes nunca sabrian que los eventos son posteados en la misma pagina de pyar, lo digo por experiencia ya que he participado en varios eventos que solo publicaban juntadas en meetup o mediante eventioz a pesar de que tocaran tematicas que no conocia y/o entendia, iba por mera curiosidad.
Se me

[2015-05-23 01:30] humitos opened #276 "Crear un evento"
Estaría bueno que cada vez que se crea un evento, el sitio mande un mail a la lista de PyAr para informar que ese evento:

 - va a suceder
 - que está por suceder (recordatorio cercano a la fecha)

[2015-05-23 20:57] btenaglia commented on #275
Hola @humitos @mgaitan  voy a hacer este ticket, es el primero que agarro, así que hoy comienzo a colaborar :).

[2015-05-24 06:43] mgaitan commented on #275
fixed in #277

[2015-05-24 06:43] #275 closed

[2015-05-26 01:43] btenaglia commented on #253
@mgaitan voy a tomar este ticket. Te escribo de esta forma, porque no tengo manera de asignarmelo, quizás sean los permisos.

[2015-05-26 02:11] btenaglia commented on #253
@mgaitan que les parece?
Ya las tengo listas, quedaron mucho mas presentables.

![500](https://cloud.githubusercontent.com/assets/2086311/7804027/27ef74a2-0333-11e5-8a67-946f1b0a7237.png)
![404](https://cloud.githubusercontent.com/assets/2086311/7804028/28004746-0333-11e5-85f5-5062fdb734c6.png)

[2015-05-26 02:16] mgaitan commented on #253
:+1:  envias PR ?

[2015-05-26 12:25] btenaglia commented on #253
@mgaitan este es el PR https://github.com/PyAr/pyarweb/pull/278

[2015-05-26 13:34] angvp commented on #253
Una cosa de la página de 500 yo sacaría la parte de eventos + subscribite a la lista, pensá que si lo que se rompió fue la BD (o cambió el modelo de eventos y nadie tocó el nuevo queryset) cuando haga la consulta de próximos eventos va a estar roto, ergo no se va a mostrar nunca la página de 500 ;)

[2015-05-26 20:46] gilgamezh commented on #267
[code]

[2015-05-27 02:56] btenaglia commented on #253
@angvp tenés razón, lo saqué y dejé solo el buscador (que esto si va a funcionar).
@mgaitan , el PR es https://github.com/PyAr/pyarweb/pull/279

[2015-05-27 02:56] btenaglia commented on #253
![500](https://cloud.githubusercontent.com/assets/2086311/7827881/d3c3f8d2-0402-11e5-8e6d-6b55987a72ed.png)

[2015-05-29 03:41] btenaglia commented on #264
@mgaitan , listo este ticket, el PR es https://github.com/PyAr/pyarweb/pull/280
![img](https://cloud.githubusercontent.com/assets/2086311/7876027/691c9c6a-059b-11e5-8ac9-167777c5db48.png)

[2015-05-29 04:39] #264 closed

[2015-05-30 17:12] angvp opened #281 "Link para crear evento visible para cualquier usuario"
Actualmente hay que estar registrado para poder ver el link de crear el evento, estaría bueno que no se necesite estar logueado y que aparezca el link y en el momento de darle link que aparezca el formulario de login

[2015-05-30 17:53] angvp opened #282 "Aplicación meet-up"
- [ ] Averiguar si meetup teine webooks o armar crontab
- [ ] Agregar modelo `EventGroup`
- [ ] Armar scripts que interactúen con la API de meetup

[2015-05-30 23:25] mgaitan commented on #281
:+1:

[2015-05-31 21:33] gilgamezh commented on #228
Configuré directamente en apache con un delay a ver si nos pegan con un poco mas de tranquilidad.

http://python.org.ar/robots.txt

En la semana voy a ponerle unas horas a ver de afinar la config del server porque no estámos quedando sin memoria y se cae el apache.

[2015-06-01 18:22] btenaglia commented on #281
@angvp @mgaitan puedo hacer esta tarea si quieren.
Me la asigno o alguno está laburando en esto??

[2015-06-01 18:54] mgaitan commented on #281
avanti, mandalo!

On Mon, Jun 1, 2015 at 3:22 PM, Bruno M. Tenaglia <notifications@github.com>
wrote:

--
mgaitan.github.io
textosypretextos.com.ar <http://textosyprextextos.com.ar>

[2015-06-01 18:56] btenaglia commented on #281
@angvp @mgaitan buenísimo, en un rato ya envío pull request

[2015-06-01 19:44] angvp commented on #281
:+1:

[2015-06-02 03:20] btenaglia commented on #281
@angvp @mgaitan  acá les dejo el pull request https://github.com/PyAr/pyarweb/pull/284

[2015-06-02 03:31] #281 closed

[2015-06-02 14:03] humitos opened #285 "¿Dónde están los archivos adjuntos?"
Esta página http://python.org.ar/wiki/Material tiene un montón de archivos adjuntos que no se muestran en ningún lado al visualizar la página.

La única forma que hay de verlos es entrar a "Editar" y luego "Archivos adjuntos".

Estaría bueno que se listen todos los archivos al renderizar la página en algún lugar.

[2015-06-02 14:30] mgaitan commented on #285
la edicion de esa pagina es producto de la migración. moin tiene una pagina "adjuntos" desde donde se listan y se permite subir nuevos adjuntos (luego de tener que sortear su UX del demonio, claro).

mi criterio con waliki fue que subir archivos a una página es una forma de edición, entonces esa pagina debia estar relacionada a la edición.

Y no hay otra pagina especial para "ver" los adjuntos, ¿s

[2015-06-02 14:39] humitos commented on #285
Entiendo. De cualquier forma, me parece que es más que válido poder listar "todos los adjuntos" de una página. No necesariamente quieras linkear todos los archivos de una página, sino solo algunos.

Por ejemplo: "tenés varias versiones del micro tutorial, ya que fue cambiando con el tiempo y solo querés linkear/mostrar la última en la wiki, pero sí te interesa conservar la historia".

Además, ahor

[2015-06-02 16:55] mgaitan commented on #285
Ok, no me opongo ;-) . Lo más simple es poner el botón/link de adjunto y el pedazo de html para que abra el modal directamente en el template de edición. Lo podemos dejar como una de las "acciones extra" (al nivel de slides, etc. )

[2015-06-03 23:51] MissFilly commented on #232
Arreglé el form de la barra lateral para filtrar por tags. Volví a poner las URLs en forma `trabajos/?tag_django=1` (para incluir la tag) y `trabajos/?tag_django=2` (para excluir la tag) sólo para mantener la consistencia. Estaría bueno incluir múltiples tags prolijamente en la forma `trabajos/django`.

[2015-06-04 00:19] #232 closed

[2015-06-04 02:46] #231 closed

[2015-06-04 12:26] #80 closed

[2015-06-04 13:09] btenaglia opened #288 "Página Noticias - No se ve el Botón 'Publicar Noticia'"
En la página de Noticias, si estas deslogueado, el botón de 'Publicar Noticia' no se ve.
Debería ser como las demas páginas(Trabajo y Eventos), debería verse, y si estas deslogueado redirigir al login.

[2015-06-04 13:14] mgaitan commented on #288
:+1:

[2015-06-04 13:17] btenaglia commented on #288
@mgaitan yo me encargo de esto.

[2015-06-04 23:53] #212 closed

[2015-06-05 00:32] btenaglia commented on #288
El PR es https://github.com/PyAr/pyarweb/pull/289

[2015-06-08 12:54] btenaglia commented on #288
@mgaitan , el pr https://github.com/PyAr/pyarweb/pull/289 está listo para mergear

[2015-06-08 13:34] #288 closed

[2015-06-09 01:21] diegoduncan21 commented on #276
como manejan los settings de prod y dev?
si ocupo la funcion send_mail de django anda?
hay que separar los settings primero?

[2015-06-09 01:53] diegoduncan21 opened #290 "no anda el admin?"
ni en mi localhost ni en http://python.org.ar/admin, me tiran 404, a alguien mas le pasa?

[2015-06-09 14:58] diegoduncan21 commented on #290
ah, solo le falta el slash al final como me decia @mgaitan. voy a hacer que no pida.

[2015-06-10 04:03] btenaglia opened #292 "Sección "Trabajo" - orden de publicaciones erróneo"
En la sección trabajos, el órden en que aparecen los anuncios no es correcto
![bug_2](https://cloud.githubusercontent.com/assets/2086311/8074644/b624cd60-0f0b-11e5-9b42-4c15e20bedc2.png)
![bug](https://cloud.githubusercontent.com/assets/2086311/8074643/b6244836-0f0b-11e5-83dd-f2009a16af40.png)
por lo que vi, el problema es que los ordena por orden de creación, pero lo que se vé en pantalla( lo que

[2015-06-11 23:44] mgaitan opened #293 "Crear un doc sobre "cómo colaborar""
- [x]  explicar o brindar referencia sobre como crear un pull request y github (@edvm)
- [x] calidad minima del código requerido (@angvp)

[2015-06-11 23:54] mgaitan opened #294 "Nueva app "adopta un newbie""
Esta es una metaissue que linkeará a las tareas necesarias para implementar la nueva app.

- [ ] Todos los interesados en colaborar configurarán su entorno de trabajo
- [x] Crear descripción de objetivos y funcionalidad requerida. Ver [propuesta](https://github.com/PyAr/pyarweb/wiki/Nueva-app-para-tutor%C3%ADas)
- [x] Revisar el código de implementación parcial legacy y fijarse qué sirve
- [x] Cre

[2015-06-12 00:04] edvm commented on #293
@mgaitan Voy a crear un branch 'develop' desde 'master', y hacer la documentación indicando forkear 'develop'. A master lo dejamos sin tocar, como 'estable'.

[2015-06-12 00:05] edvm commented on #293
@mgaitan si no hay oposición, voy a borrar todos los otros branches, que son de issues-pirulo.

[2015-06-12 00:57] edvm commented on #293
Doc de como hacer PR en Pull Request: https://github.com/PyAr/pyarweb/pull/295

[2015-06-12 05:33] angvp commented on #293
Sorry @evdm me quise asignar yo pero te borró a vos, hagamos algo, cuando te acepten el primer item me asignas? igual ya empecé a laburar en esto.Sds.

[2015-06-12 10:50] alener commented on #294
Confirmo que ya tengo configurado mi entorno de trabajo, estoy listo para hacer los pull requests

[2015-06-12 12:21] gilgamezh commented on #293
Me parece genial lo de usar master como `stable` yo podría buscar la manera de que cada vez que se hace merge en master ejecutemos un deploy en prod ;)

[2015-06-12 13:33] edvm commented on #293
@angvp perfecto! :+1:

[2015-06-12 14:38] oscarvogel commented on #294
Buenos dias, ya tengo configurado mi entorno de trabajo luego de mucho pelear, paso algunos tips para los newbies como yo que quieran instalar el entorno de trabajo, perdon si por ahi algunas cosas son muy obvias pero las tuve que ir solucionando a medida que surgieron y para mi me costo.-

Lo instale en Ubuntu 14.04 y Python 3.4
Para instalar el entorno no es *** pyvenv3-3 pyarweb *** si no que e

[2015-06-12 15:29] angvp commented on #294
No agregaría eso al README porque es muy del entorno que tenés y otras son muy obvias, pero lo que se me ocurre es que podemos hacer páginas del wiki donde diga como instalar en X distro, les parece bien?

[2015-06-12 17:57] oscarvogel commented on #294
ok, lo elimino

[2015-06-12 18:34] Nicogue commented on #294
Disculpen que me meta pero no creen que para agilizar aun mas el proceso se podrian armar los entornos dentro de vagrant + docker:
Linux host(vagrant(docker container))
MAC o windows (vagrant(docker host vm(docker container)))
de esta forma el usuario mas novato podria volcarse de lleno al desarrollo sin tener que andar preocupandose por la complejidad que conlleva setear un entorno desde 0.

Enti

[2015-06-12 19:26] MMoresi commented on #294
Buenas, a mi me ya me aparecio el primer problema, quise levantar la vm y no podia era porque no estaba habilitada desde la bios, ahora pude, pero dentro de la maquina virtual, que no levanta entorno grafico, no puedo levantar los servicios! Saludos

[2015-06-13 15:32] MMoresi commented on #294
Tengo un problema con la maquina virtual para levantar los servicios

vagrant@vagrant-ubuntu-trusty-64:/vagrant$ python manage.py syncdb
Traceback (most recent call last):
  File "manage.py", line 8, in <module>
    from django.core.management import execute_from_command_line
ImportError: No module named django.core.management

le estoy buscando la solucion googleando, acepto ayudas.
@mgaitan @ale

[2015-06-13 17:56] mgaitan commented on #294
Estimadísimos, escribí una propuesta general sobre cómo imagino la nueva app. Espero feedback, correcciónes, etc. si logramos un acuerdo podemos pasar en limpio y generar los issues concretos para implementar

https://github.com/PyAr/pyarweb/wiki/Nueva-app-para-tutor%C3%ADas

[2015-06-13 18:00] angvp commented on #294
Hey @oscarvogel no lo tomes a mal!, no lo dije para que hicieras eso!, nada que ver; te di una sugerencia de crear una página en el wiki con tu configuración por si alguien mas tiene ese entorno, mil disculpas si no se entendió de esa manera.

@MMoresi parece que te falta el paquete ```django-bootstrap3-datetimepicker``` contactame via IRC y te doy una mano con esto.

Tratemos de dejar este issue

[2015-06-14 00:48] btenaglia commented on #292
Hola @mgaitan, te paso el PR https://github.com/PyAr/pyarweb/pull/296

[2015-06-14 12:30] alener commented on #294
@mgaitan Yo a la app le agregaría una tercera pata "no vinculante": Empresas o trabajos que no consiguen regularmente que sus empleados o candidatos hagan  determinas tareas específicas o que les cuesta mucho podrían especificar cuales son esas tareas para que se puedan luego armar proyectos que cubran esos "agujeros". Creo que así podrían ganar más todos los jugadores

[2015-06-15 18:31] gilgamezh commented on #294
@mgaitan me parece que esta joya tal como lo planteas. :smile:

@alener -1 a que sea algo onda "pasantia" ya que el resultado del laburo puedeno ser en un proyecto "libre" en la mayoría de las veces y por otro lado creo que sería meternos en algo más complejo.
En el caso de las "pasantias" me parece que se podría tomar como una oferta laboral. Que debería ademas ser retribuída de alguna manera.

s

[2015-06-15 19:13] alener commented on #294
@gilgamezh Sólo era una idea muy general para ver si era viable darle alguna forma.

[2015-06-16 14:06] btenaglia commented on #294
@mgaitan @gilgamezh @alener @angvp @MMoresi  comencé a armar un diagrama para definir el modelo de datos, apenas lo tenga lo adjunto y si están de acuerdo empezamos a armar los modelos en django.

saludos!

[2015-06-17 14:15] angvp commented on #293
Listo ahí me lo asigné y sigo con esto

[2015-06-17 17:20] #290 closed

[2015-06-19 23:22] MissFilly commented on #294
Este es un borrador de models que armé para esta app hace un tiempo, por si sirve de algo:

    from django.contrib.sites.models import Site
    from django.conf import settings
    from django.core.validators import MaxValueValidator, MinValueValidator
    from django.utils.translation import ugettext as _
    from django.db import models
    from taggit.managers import TaggableManager

    class

[2015-06-20 02:58] btenaglia opened #298 "Sección Eventos - Paginador con estilos no apropiados"
En la sección Eventos, estuve viendo que el paginador no sigue los estilos convencionales como los paginadores que se encuentran en otras secciones, por por ejemplo en "Trabajo".

![pag](https://cloud.githubusercontent.com/assets/2086311/8265755/01273638-16df-11e5-8159-2ec0365c6c42.png)

Creo que sería una buena idea dejarlo con los mismo estilos que los demás

@mgaitan que te parece?

[2015-06-20 15:19] #292 closed

[2015-06-20 15:27] #126 closed

[2015-06-20 15:27] #200 closed

[2015-06-20 15:27] #201 closed

[2015-06-20 15:27] #202 closed

[2015-06-20 17:07] mgaitan opened #299 "User profile"
Cada usuario tendrá una página privada de edición de su profile.

- Profile será un modelo con relacion OneToOne a User que representará el profile del usuario.

- la url de la vista es /accounts/profile/ que presentará un form

- El modelo profile (y su form asociado) debe incluir, por ahora, los campos necesarios a ser utilizados en la nueva app "tutorias"

  - boolean para registrarse como Jedi

[2015-06-20 17:07] mgaitan opened #300 "improve user profile"
Depende de #299

Asociar un link a la pagina de profile que permita editar de manera rápida la pagina wiki asociada al usuario

Ver http://waliki.readthedocs.org/en/latest/boxes.html
y el PR https://github.com/PyAr/pyarweb/pull/266

[2015-06-20 17:09] mgaitan opened #301 "Crear modelo proyecto (tutorias)"
Para una descripcion general de los objetivos de esta app, ver la [wiki](https://github.com/PyAr/pyarweb/wiki/Nueva-app-para-tutor%C3%ADas#nueva-versi%C3%B3n)

El modelo proyecto es el core de la app tutorias.

- status  (open / in_course / closed)
- title proyecto
- description  (rich text)
- tags  (taggable)
- url repositorio
- situación ("sólo la idea", "funciona pero...", otros)
- acepta multi

[2015-06-20 17:09] mgaitan opened #302 "Crear form y vista para alta de un proyecto"
Depende de #301

- La carga de un proyecto nuevo podrá hacerla cualquier rol (jedi/padawan).

- Si el usuario no está registrado en ninguno de los roles, se redirige a
  accounts/profile con un mensaje tipo warning "debe registrarse con al menos un rol"

- El formulario, además de los campos del modelo (title, description, tags, taggable, url, situación, acepto multiples padawans, acepto multiples

[2015-06-20 17:11] mgaitan opened #303 "Vista para modificacion de un proyecto."
Este issue  es complementario a #302. Permite editar la instancia de un proyecto,

- cualquier usuario registrado en alguno de los m2m (jedis o padawan) tiene acceso a la vista. sólo ell@s.

- Un usuario puede cambiar de rol si tiene los dos roles activados en su profile. La vista debe remover del m2m original y pasarlo al otro.

- ningun usuario puede cambiar las relaciones m2m (no pueden modific

[2015-06-20 17:13] mgaitan opened #304 "ListView de proyectos"
Es una Listview análoga a la de ofertas laborales. Por default, listará los proyectos con status 'open'.

Deberá haber 3 pestañas (links) que listarán  proyectos con status "abierto" /  "en curso" y /   "cerrados" respectivamente.

La lista seré filtrable por tags y de manera destacada por dos "tags"  especiales
"acepta padawan" y "acepta jedi" (que estarán asociados a los flags booleandos y la ca

[2015-06-20 17:14] mgaitan opened #305 "Vista detalle de un proyecto"
es analoga a la vista detalle de una oferta laboral.

Esta vista es publica y mostrará todos los datos del listado con el description
completo (en formato html).  Debe destacarse cerca del titulo el **estado** del proyecto.

- si el usuario está dentro de alguna de las relaciones m2m (jedis/padawan, aparecerá un link pequeño a la vista de modificación del proyecto

[2015-06-20 17:15] mgaitan opened #306 "Vista y botones para "sumarse al proyecto""
(depende de #305)

En la vista detalle , si el proyecto acepta padawans y/o jedis deberán aparecer sendos botones "Quiero ser padawan en este proyecto" y/o ""Quiero ser jedi en este proyecto" que llamarán a una vista que chequea el alta del usuario en esos roles.

Si el usuario aplica para el rol, se carga en la relación m2m correspondiente y se redirige a la vista detalle del proyecto. Si la carg

[2015-06-20 17:17] mgaitan opened #307 ""activity stream" de un proyecto"
depende de #306

Todo modelo tendrá asociado un "stream de actividad",  donde se listan
todos los sucesos relacionados al proyecto. Por ejemplo

- XX se sumó como "padawan" a este proyecto
- El proyecto cambió su estado de "abierto"  a "en curso"

Cada actividad quedará asociada a un fecha, actor y verbo.

implementar con
https://django-activity-stream.readthedocs.org/

[2015-06-20 17:19] mgaitan opened #308 ""noticia" de un proyecto"
depende de #307

Una *action* especial que aparecerá en el activity stream es el de "noticia". Una noticia es un comentario de texto plano que cualquiera de los usuarios asociados a un proyecto podrá enviar a través de un form simple ("comenta algo sobre el proyecto") al pie de la pagina detalle del proyecto

esto aparecerá en el stream de actividad. Por ejemplo

"XX comentó:

    El proyecto va b

[2015-06-20 17:22] mgaitan commented on #294
Estimados, creé las tareas. ya se puede comenzar a laburar!

https://github.com/PyAr/pyarweb/milestones/App%20%22Adopta%20un%20Newbie%22

recuerden avisar en un comentario si quieren agarrar una issue.

[2015-06-20 18:38] alener commented on #302
Como había adelantado en el hangout, yo quisiera encargarme de esta tarea. Cómo depende de la issue de modelos #301, voy a esperar que esté definida el modelo para poder seguirlo. De todas formas ya voy ir viendo cómo hacerlo según el modelo viejo. Una pregunta ..¿que es m2m?

[2015-06-20 18:53] mgaitan commented on #302
@alener m2m es una forma abreviada de referirse a una relacion [ManyToMany](https://docs.djangoproject.com/en/1.8/topics/db/examples/many_to_many/)

[2015-06-20 19:09] mgaitan commented on #294
On Fri, Jun 19, 2015 at 8:22 PM, MissFilly <notifications@github.com> wrote:

ok, no me opongo ( Yo soy uno de los no fanaticos de startwars). "mentado"
no existe en la acepción que pretendemos darle
http://lema.rae.es/drae/?val=mentado

las palabras correctas serian tutor y tutored (tutorado, en español)

--
mgaitan.github.io
textosypretextos.com.ar

[2015-06-20 19:47] gilgamezh commented on #294
@mgaitan genial! gracias

[2015-06-21 02:39] btenaglia commented on #299
@mgaitan yo podría hacer esto.

Opiniones/Preguntas:
1) A 'Profile' yo lo haría en una app nueva llamada 'profile', con su view, sus models, sus form, etc, etc, etc... que te parece?

2) El tema de los medios de contactos, yo los podría todos en la misma tabla que perfile y que tenga lugar el usuario para que complete por ejemplo la dirección de skype, o de correo
Es decir, yo agregaría en la tabl

[2015-06-21 22:55] mgaitan commented on #299
@btenaglia avanti. me parece ok lo de encararlo como una app independiente. fijate si podes reutilizar algo de acá https://github.com/pinax/django-user-accounts/tree/master/account

respecto a 2), también estoy de acuerdo. lo haria como un formset dinamico que permita ir agregando forms inline  ("red social/medio" - "valor" - "preferido", "publico") donde medio es un choicefield con la lista de me

[2015-07-06 03:31] btenaglia commented on #299
@mgaitan
Este es el pull request https://github.com/PyAr/pyarweb/pull/309
Te paso algunas capturas de pantallas y ademas comento algunas cosas:

1-) En la carpeta fixture dejé un json para que hagan dump a la base de datos
2-) Los medios de contactos pueden ser administrados desde el admin, podrían ustedes agregar un nuevo nombre de 'Medio de contacto' para que el mismo aparezca como opción el la

[2015-07-10 00:12] btenaglia commented on #301
@mgaitan - yo me encargo de crear la app 'tutorias'(ya que no existe) y el model 'project'.

[2015-08-06 13:28] #140 closed

[2015-08-06 13:31] MissFilly commented on #254
Arreglado en f838e07.

[2015-08-06 13:31] #254 closed

[2015-08-06 13:33] MissFilly commented on #272
Arreglado en 2836e74.

[2015-08-06 13:33] #272 closed

[2015-08-06 13:35] #253 closed

[2015-08-07 18:44] edvm opened #310 "Agregar Sitemap al sitio de PyAr"
Sirve para SEO y me lista todas las urls del sitio para poder scrappearlas y monitorizar  las paginas que tienen el string 'ERROR' o tienen links que no funcionan/están caídos.

[2015-08-07 18:46] angvp commented on #310
Las urls del sitio que están rotas son solo las de las wikis? no es mejor agregar el comando en waliki? por otro lado si hace un sitemap, pero no para el comando ;)

[2015-08-07 19:00] edvm commented on #310
El 7 de agosto de 2015, 15:46, Angel Velasquez <notifications@github.com>
escribió:

wiki.
Es buena idea agregarlo como comando de waliki.
Por último, no entendí "por otro lado si hace un sitemap, pero no para el
comando", como es esto?

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-08-07 19:03] angvp commented on #310
Que el sitemap está bueno para que google, bing, yahoo!, duckduckgo, etc le peguen y nos indexen, pero para buscar páginas rotas es medio overkill. Por eso decía que si era para buscar las urls rotas es mas rápido y directo hacerlo en waliki :) justo @mgaitan estaba buscando colaboradores para waliki :D :tada:

[2015-08-07 19:06] edvm commented on #310
Jajajaja ok ok voy a hacer el comando para waliki asi dumpea las urls :)

El 7 de agosto de 2015, 16:03, Angel Velasquez <notifications@github.com>
escribió:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2015-08-11 14:42] humitos opened #311 "Templates para registrarse a la lista de correo en Inglés"
Hola a todos,

Si uno se suscribe a la lista mediante el sitio web: http://python.org.ar/lista/ los emails que le manda el servidor vienen en Inglés.

Más info: http://listas.python.org.ar/pipermail/pyar/2015-August/035683.html

"Parece" que el problema es cuando el sitio web hace un POST a mailman, ya que no está especificando el idioma del usuario final.

[2015-08-13 13:43] mgaitan commented on #311
Hay que fijarse en el form oficial con que campo hidden y con que valor
define el idioma, y agregarlo a nuestro form

Aceptaremos el pull-request
El 11/8/2015 11:42, "Manuel Kaufmann" <notifications@github.com> escribió:

[2015-08-13 15:32] epochiero opened #312 "bootstrap.sh no actualiza el caché de paquetes de aptitude"
Intenté levantar la VM de Vagrant (corriendo 'vagrant up') y me tiró este error:

```==> Failed to fetch http://archive.ubuntu.com/ubuntu/pool/universe/p/python-pip/python3-pip_1.5.4-1ubuntu1_all.deb:```

y más abajo en el stacktrace:

```==> default: /tmp/vagrant-shell: line 5: pip3: command not found The SSH command responded with a non-zero exit status. Vagrant assumes that this means the comma

[2015-08-14 13:16] #312 closed

[2015-08-14 15:12] angvp commented on #311
Tenemos un voluntario para ver este issue (Tuxis en irc), si estás por acá presente, manifiéstate? ;).

[2015-08-14 15:23] tuxis commented on #311
Aca estoy. yo me hago cargo este finde del issue

[2015-08-15 02:52] angvp commented on #293
Podrían revisar #314 para poder cerrar este issue? :) si desean agregar algo ahora es el momento

[2015-08-15 23:16] soysergiogomez commented on #229
hola @gilgamezh, estuve viendo la lista de los issues. No puedo reproducir este bug.
Puede ser que ya este solucionado?

[2015-08-16 01:59] angvp commented on #229
Uff ya ni la url existe, pero creo que igual con unos cambios que metió @btenaglia se arregló eso, mañana lo intentamos reproducir y sino anda lo cerramos, gracias por el heads-up @soysergiogomez

[2015-08-18 13:57] manuq opened #315 ""Olvidé mi contraseña" debería recordarte el nombre de usuario"
Hoy quise editar la wiki y no pude ingresar. Intenté con "Olvidé mi contraseña" pero la nueva tampoco andaba. Hasta que me di cuenta que en realidad mi nombre de usuario era el que estaba mal.

Creo que el email que envía "Olvidé mi contraseña" tendría que recordarte el nombre de usuario. O debería haber otra forma de recuperar el nombre de usuario.

[2015-08-18 16:04] mgaitan commented on #315
hola @manuq
cual es el email que te llegó? el email de reset te debería decir

"En caso de haber olvidado su nombre de usuario, es XX"

acá el template
https://github.com/pennersr/django-allauth/blob/58f22fd6801a17177cb45f5de75b76c32ff231b2/allauth/templates/account/email/password_reset_key_message.txt#L8

chequeá y en cualquier caso reabrilo

[2015-08-18 16:04] #315 closed

[2015-08-18 16:35] manuq commented on #315
Tenés razón @mgaitan ya lo decía el email.

[2015-08-19 13:09] pabloz opened #316 "Los warnings de docutils deben estar apagados en producción"
En mi opinión, mensajes como este en http://python.org.ar/nosotros/:

    <<<<<< Updated upstream
    System Message: WARNING/2 (<string> line 2)

    Title underline too short.

    <<<<<<< Updated upstream
    =======

deberían ser considerados problemas **graves** en producción y su origen arreglado de inmediato; cualquier cambio que genere este tipo de resultados (tanto si involucra contenidos

[2015-08-20 00:01] #293 closed

[2015-08-20 13:40] emilioramirez opened #318 "En la pagina de info de listas los links a Pyar-bar y Pyar-Meta no estan funcionando"
En la seccion de Listas [1], los links a pyar bar y pyar meta no estan funcionando, estimo que deberían apuntar a [3] y [2] respectivamente.

[1] http://python.org.ar/lista/
[2] http://listas.python.org.ar/listinfo/meta
[3] http://listas.python.org.ar/listinfo/pyar-bar

![pyar-meta-pyar-bar](https://cloud.githubusercontent.com/assets/1151097/9384590/e187d250-4727-11e5-9751-b217fa7a3df2.png)

[2015-08-20 13:49] emilioramirez opened #319 "No se puede confirmar la suscripcion a la lista de correo pyar meta"
No se puede suscribir a la lista meta.

1. Relleno el formulario de suscripción[2], me dice que me va a llegar un correo.
2. Me llega el correo con un link[1], cuando voy a link, el sitio me tira el siguiente error 404.

![404-pyar-suscripcion-pyarmeta](https://cloud.githubusercontent.com/assets/1151097/9384794/1ef37396-4729-11e5-8c49-824d11cff9cc.png)

[1] el link tiene la siguiente forma http://

[2015-08-20 19:15] angvp commented on #319
Hmmm listas.python,org.ar es mailman por ahí el link de confirm debería ser tipo: listas.python.org.ar/mailman/confirm/meta ..

@gilgamezh en la configuración de la lista meta, uds tocaron algo para cambiar la url de confirm?, desconozco mailman pero esto no sería un bug de la web de pyar

[2015-08-20 19:18] angvp commented on #318
Fixed, estaban mal los links de esa página, gacias por el reporte @emilioramirez

[2015-08-20 19:18] #318 closed

[2015-08-28 23:48] btenaglia commented on #298
@mgaitan @MissFilly Como anda? aca les paso el Pull request
https://github.com/PyAr/pyarweb/pull/320

[2015-08-29 23:15] gilgamezh commented on #311
avisen si hace falta ayuda con esto. Sospecho que hay que editar las settings de mailman

[2015-08-29 23:17] gilgamezh commented on #319
@angvp me parece que está mal la config de mailman. dejame mirarlo y les aviso!

[2015-08-30 00:37] tuxis commented on #311
Buenas, gente, disculpen la demora, che una pregunta en el formulario le ponemos directamente 'español' como opción, lo hacemos seleccionamos, o tenemos en la pagina algo que auto configura el idioma en base a la ip del usuario?

[2015-08-30 14:16] tuxis commented on #311
Buenos dias, Gente probe enviarle a mailman el campo <input type="hidden" name="language" value="es">, que según lo que estuve estuve leyendo y lo que corrobore en otras instancias del mailman devuelve todo en español, acá me sigue enviando un email en ingles, alguien podría revisar la configuración de mailman y si tiene disponible el email en español?

[2015-08-31 14:34] gilgamezh commented on #311
Por default en español. entiendo que no hay nada para soportar diferentes idiomas

[2015-08-31 18:04] tuxis commented on #311
Estimados ya esta hecho el pull request, pero de todas formas para que el email llegue correctamente en español por lo que estuve revisando hay que cambiar en el mailman.

[2015-09-19 22:31] angvp opened #323 "Moderadores para ofertas de trabajo"
Revisando la página de trabajos me di cuenta de que hay gente que está haciendo cosas como esta:

http://python.org.ar/trabajo/desarrolladores-javascript-ssr-sr/
http://python.org.ar/trabajo/buscamos-desarrolladores-frontend-angular/
http://python.org.ar/trabajo/analista-de-integracion/

Donde el lenguaje que se oferta no tiene NADA que ver con python en lo absoluto, si bien a alguien de la comuni

[2015-09-19 22:45] angvp commented on #319
Hola @gilgamezh revisaste esto?

[2015-09-19 22:46] angvp commented on #311
Cierro el issue ya que queda revisar la configuración de mailman

[2015-09-19 22:46] #311 closed

[2015-09-19 22:49] angvp commented on #263
Avísame cuando quieres que veamos esto te doy una mano

[2015-09-21 17:22] btenaglia commented on #323
@angvp @mgaitan
Está buena la idea, yo ya la había pensado.
Se me ocurre:

1- cuando alguien escribe una oferta de trabajo, la misma queda en estado 'PENDIENTE', le podriamos nostificar que está pendiente de aprobación.

2- se le envía un email a un moderador para que esté al tanto de esto.

3- el moderador revisa la OFERTA (podria ser desde el admin del sitio), si le parece bien, la APRUEBA y aho

[2015-09-21 17:33] mgaitan commented on #323
+1.

complementariamente se deberia poder "convertirse" en moderador. cierto?

2015-09-21 14:22 GMT-03:00 Bruno M. Tenaglia <notifications@github.com>:

--
mgaitan.github.io
textosypretextos.com.ar

[2015-09-21 17:49] edvm commented on #323
En lugar de aprobar las ofertas de laburo, creo una mejor solucion lo
siguiente:
Meter un boton 'Borrar empleo' cual aparece solo para los usuarios qeu
tienen
cierto permiso u rol.
Me parece mas piola esto porque tenemos mas ofertas de Python que de
tecnologias que no corresponden. Ergo, si por default 'bloqueamos' las
propuestas
hasta que algun moderador las apruebe, vamos a terminar bloqueando
m

[2015-09-21 17:52] angvp commented on #323
Claro, mi idea es que los moderadores puedan editar / borrar ofertas y que les envíe un mail a los que publicaron esta oferta

[2015-09-21 18:37] btenaglia commented on #323
@angvp  @mgaitan
+1 a la propuesta de @edvm, tiene razón-
* Que por default todo se publique
* Que un moderador/admin pueda eliminarla
* Que el moderador/admin al momento de eliminar la oferta, escoja el motivo (puede ), ahi, el sistema enviará un email al dueño de la oferta explicando el motivo del por que su oferta fué dada de baja.

[2015-09-21 18:42] mgaitan commented on #323
bien por mi, avanti

2015-09-21 15:37 GMT-03:00 Bruno M. Tenaglia <notifications@github.com>:

--
mgaitan.github.io
textosypretextos.com.ar

[2015-09-26 13:39] btenaglia opened #324 "Eliminar Oferta de Trabjo - Bug al hacer click en el botón Cancelar"
Acción: Eliminar Oferta de Trabajo
En el formulario para eliminar una oferta de trabajo, si se hace click en Cancelar, se produce un error.
El bug se produce porque redirecciona a una url que no existe, ya que se le pasa como parámetro el id y no el slug.

[2015-09-26 13:39] btenaglia commented on #324
@mgaitan @MissFilly yo lo soluciono

[2015-09-26 18:28] angvp commented on #324
Ahora reviso el pr Bruno

[2015-09-29 13:53] btenaglia commented on #324
@angvp @mgaitan este es el PR, lo hice contra Develop
https://github.com/PyAr/pyarweb/pull/327

[2015-09-29 13:57] angvp commented on #324
Listo, ya entró en develop. ¡Mil gracias @btenaglia!

[2015-09-29 13:57] #324 closed

[2015-10-01 17:15] angvp commented on #261
ping @gilgamezh @mgaitan cerramos esto?

[2015-10-01 17:19] angvp commented on #255
No estamos usando ninguna tipografía distinta cuando lo mostramos en el template tampoco

[2015-10-01 17:19] #255 closed

[2015-10-01 19:57] mgaitan commented on #261
98% si, so, do it y reabrimos si hiciera falta.

On Thu, Oct 1, 2015 at 2:16 PM, Angel Velasquez <notifications@github.com>
wrote:

--
mgaitan.github.io
textosypretextos.com.ar

[2015-10-01 20:42] #261 closed

[2015-10-08 14:44] mgaitan opened #328 "el iframe de chat deberia ser maximizable"
que tenga un botón que via maximice el tamaño del iframe a todo el viewport.

No debe ser un link con la misma url que el iframe porque si el usuario ya está logueado, deberia volver a loguearse e ingresar el canal en la nueva ventana.
![captura de pantalla de 2015-10-08 11 40 55](https://cloud.githubusercontent.com/assets/2355719/10369686/e9d503e6-6db1-11e5-8073-2e5a0e5dda66.png)

[2015-10-09 03:38] btenaglia commented on #323
@mgaitan @angvp @edvm les dejo el pull request de este ticket https://github.com/PyAr/pyarweb/pull/329

Cada vez se suman mas los anuncios de trabajo que nada tienen que ver con Python, estaría bueno ir poniendo esto en producción.
Hay un permiso especial que cree para los moderadores https://github.com/btenaglia/pyarweb/blob/issue_323/fixtures/permission.json

Saludos a todos!!

[2015-10-13 13:45] dmalisani commented on #323
Y si se pone algo como "Python Friendly" si tiene "algo" de python pero no es "exclusivamente" python? (para no tener que borrarlo si hay dudas)  por ejemplo
------
Necesito Front End developer... (php... y todo eso otro... "puag....")
Deseable. Django Framework
-------

[2015-10-13 13:53] ihuro commented on #259
No soy diseñador, pero mando una propuesta

![image](https://cloud.githubusercontent.com/assets/815861/10456535/4e3ce5a8-7198-11e5-8f7d-feff7f8c7e6b.png)

[2015-10-13 14:01] mgaitan commented on #259
a mi me gusta. quien sabría implementarlo?

On Tue, Oct 13, 2015 at 10:53 AM, César Roldán <notifications@github.com>
wrote:

--
mgaitan.github.io
textosypretextos.com.ar

[2015-10-13 14:36] angvp commented on #259
Hola @mgaitan e @ihuro .. justo la semana pasada hablé con @fdalvano que es un diseñador crack que labura con nosotros y está trabajando en una propuesta que incluye un poco de rediseño porque el menú se va a ir rompiendo .. Adjunto un screenshot de como quedaría la parte del header, todavía hay un WIP en lo que sería el rediseño de todo, cuando terminemos la subimos y votamos?

Saludos

![header]

[2015-10-13 14:38] angvp commented on #323
Deseable no quiere decir que va a trabajar con eso, si es saberlo para tener que trabajar con otra cosa que no es python; para mi ya está en el borde del spam

[2015-10-13 14:41] dmalisani commented on #323
Exactamente a eso me refería "está en el borde" ¿de que lado? ;)

[2015-10-13 14:49] ihuro commented on #259
@angvp @mgaitan perfecto. Mi cambio es concreto, para agregar el buscador y quitar el espacio debajo. Habría que hacer  un cambio en los íconos porque son muy grandes y algunos no representan del todo a cada sección, así que por mi lado espero la propuesta, va a ser mas completa.

[2015-10-13 15:24] angvp commented on #323
Yo particularmente diría que no entra, si se flexibiliza mucho esto, terminan cayendo ofertas de las que te piden 10 lenguajes (entre ellas python) pero luego terminas laburando con bash .. y sería un recurso que usarían muchos recruiters para publicar sus ofertas, PERO no sé que tantas personas pueden contratar con esa metodología, yo particularmente no me gasto en aplicar a sitios así, pero ese

[2015-10-13 17:58] btenaglia commented on #323
Yo diría que por el momento esas cosas quedarían en manos del moderador, por ahora.
Opino que por ahora podríamos ir haciendo CR de este pull request y lanzarlo así, a modo que no metan mas SPAM.
Luego podríamos ir haciendo nuevo features.
Gracias!

[2015-10-13 19:01] angvp commented on #323
:+1: dejame que lo chequee mejor, y le arme un mail a @gilgamezh de los pasos que tenemos que hacer en producción para este deploy

[2015-10-18 16:03] angvp opened #330 "Agregar soporte para TravisCI"
Si bien el proyecto no tiene muchísimos tests habría que agregar el .travis.yml y agregar un set de tests básicos, yo me encargo de esto ahora.

[2015-10-18 23:29] #330 closed

[2015-10-20 12:58] gilgamezh commented on #267
https://letsencrypt.org/2015/10/19/lets-encrypt-is-trusted.html

En estos días le meto con este ticket :)

[2015-10-22 14:40] angvp commented on #259
Muchachos, les paso un preview de lo que @fdalvano estuvo haciendo .. todavía queda por hacer, pero es para ir mostrando un poco lo que se está pensando y hacer alguna corrección / cambio antes, es una propuesta de como quedaría la home y el header.

Sds.

![web001](https://cloud.githubusercontent.com/assets/13283/10668226/a99c4068-78b1-11e5-81d3-87ecb2c81288.png)

[2015-10-22 14:55] matagus commented on #259
muy bueno

[2015-10-22 15:04] ihuro commented on #259
Está muy bueno, pero no me queda claro si ese header involucraría una cambio general en la home (como la captura) o no. De ser así, habría que ver de poner en la captura el contenido como está ahora, por lo menos para que contemple los enlaces que existen.

[2015-10-22 15:13] mgaitan commented on #259
A mi me parece que está más moderno y menos cargado que el diseño actual,
pero no me gusta mucho que sea principalmente negro. Qué tal un tono azul
como actualmente?

2015-10-22 12:04 GMT-03:00 César Roldán <notifications@github.com>:

--
mgaitan.github.io
textosypretextos.com.ar

[2015-10-22 15:34] angvp commented on #259
Involucra un cambio general en la home (con lo cual extendería un poco este issue), hablé con @fdalvano y va a hacer una propuesta con la sugerencia de @mgaitan

[2015-10-22 15:42] fdalvano commented on #259
Hola a todos, hablando con @angvp sobre agregar el search al header, se nos ocurrió que también podríamos modernizar un poco la pagina.
La imagen que se subió es solo del home pero la idea es mostrar como se verían las demás pantallas mejorando un poco la UI y la estética.

Desde ya queda en que todos estén de acuerdo con esto, sino puedo subir diferentes propuestas para solo modificar el header.

[2015-11-02 15:19] gilgamezh commented on #68
Che, el bot de sentry que está en el canal es de esto?

@mgaitan @edvm @angvp

[2015-11-02 16:41] mgaitan commented on #68
debe ser, si.

On Mon, Nov 2, 2015 at 12:19 PM, Nicolás Demarchi <notifications@github.com>
wrote:

--
mgaitan.github.io
textosypretextos.com.ar

[2015-11-25 13:32] gilgamezh opened #335 "Error al grabar página en la wiki"
varios usuarios reportaron en la lista que no pueden grabar cambios en la wiki

[2015-11-25 13:59] mgaitan commented on #335
lo veo por la tarde

[2015-11-26 13:34] angvp commented on #323
El deploy de esta feature ya está.. quedó un error:

http://linkode.org/z9iEMUILcG0qRQ7ohhVQL6

Ahora mismo tengo que salir, pero luego envío el parche, o si alguien quiere adelantarse y hacer el PR (directo a master ya que es un hotfix), perfecto. Sds.

[2015-11-30 00:13] #150 closed

[2015-11-30 01:28] facundobatista commented on #335
Me pasó hoy...

[2015-11-30 01:44] #323 closed

[2015-12-04 00:36] angvp commented on #259
Bueno les paso algunas de las capturas que hizo @fdalvano

Hay una muestra de la home y de una página de la wiki con el header en azul, blanco y negro, opiniones?

Mil gracias por la onda @fdalvano !

![wiki-azul](https://cloud.githubusercontent.com/assets/13283/11578603/cd47e826-9a05-11e5-9b33-41b009c1932a.png)
![wiki-blanco](https://cloud.githubusercontent.com/assets/13283/11578604/cd49fdbe-9a05

[2015-12-04 12:47] ihuro commented on #259
Muy bueno @fdalvano !!!

Mi voto: **azul**

En la versión *blanca* me parece que pierde fuerza el header y la versión *negra* es la que se ve en todos lados.

[2015-12-04 14:11] fdalvano commented on #259
Gracias @ihuro !
Si a mi también me gusta mas el azul, le da un toque particular a la pagina

[2015-12-04 14:37] juancarlospaco commented on #259
Blue :+1:

[2015-12-04 15:58] cmdelatorre commented on #259
[+1 al azul](#)

[2016-01-28 16:45] btenaglia opened #341 "Sección Trabajo - Ordenar Etiquetas"
Hola @mgaitan @angvp @gilgamezh
Una de las cosas que estoy viendo es que las etiquetas en la sección Trabajos está creciendo muchísimo, cada vez hay mas.
Ya van varias veces que quiero buscar por una en particular, y encontrarlo dentro de las cientas que hay es complicado.

Propongo:
- Mostrarlas en orden alfabético

Que opinan?
Les parece bien la idea?

Si quieren encaro esto.

[2016-01-29 02:35] angvp commented on #341
Por mi está bien, aunque cada tanto estaría bueno pegar una limpieza de tags que estén duplicados tipo java script y javascript .. unirlos en solo 1 .. pero eso es otro tema, y otro issue, :+1: por mi @btenaglia

[2016-01-29 15:21] btenaglia commented on #341
@angvp joya, yo lo encaro.

[2016-01-29 15:37] gilgamezh commented on #341
:+1:

FTR: algo que me parece estaría genial es postear en una cuenta de twiter @pyar_trabajos con un moderador que vaya aprobando. ;)

[2016-02-17 14:14] edvm opened #342 "App pyconar"
Crear una aplicacion 'pyconar' que facilite la gestion de las conferencias nacionales de python en Argentina PyConAr. A breve la misma deberia permitir:
- Gestionar varias pycones, ej: /pyconar/2015, /pyconar/2016, donde el anio es el 'slug'.
- Gestionar el dinero que entra y el que se gasta
- Tener un calendar donde se muestran las charlas de la conferencia
- Permitir tener un 'landing page' para

[2016-02-17 14:17] gilgamezh commented on #342
@edvm yo entendí que querían armar una app para meetup (?)

[2016-02-17 14:19] edvm commented on #342
Yo quiero armar una app para la web de PyAr :)

2016-02-17 11:17 GMT-03:00 Nicolás Demarchi <notifications@github.com>:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2016-02-17 14:25] gilgamezh commented on #342
yo dije que no hagamos eso? entendiste mal.

BTW: creo que la propuesta original fue `app para eventos de python`

http://listas.python.org.ar/pipermail/pyar/2016-February/037674.html

[2016-02-17 14:33] mgaitan commented on #342
symposion es una app para gestion de conferencias que hace la gente de
Pinax y es la que se usó en las pycons de us.

la experencia de @d3f0 con las scipycon fue mala, pero habria que ver en
qué estado esta ahora y/o que se puede aprovechar

https://github.com/pinax/pinax-project-symposion
https://github.com/pinax/symposion

On Wed, Feb 17, 2016 at 11:25 AM, Nicolás Demarchi <notifications@github.

[2016-02-17 14:38] edvm commented on #342
@gilgamezh Nico, que entendi mal? En mi respuesta no dije otra cosa que "Yo
quiero armar una app para la web de PyAr :)". No hago referencia a algo que
hayas dicho, por lo que no entiendo tu pregunta: "yo dije que no hagamos
eso?".
Abrazo,
Emi.

2016-02-17 11:25 GMT-03:00 Nicolás Demarchi <notifications@github.com>:

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2016-02-17 14:44] edvm commented on #342
@mgaitan genial! @d3f0 en que cosas resulto floja la app de pinax symposion?

[2016-02-17 14:54] matagus commented on #342
Además de symposium, está [conference](https://github.com/pythonitalia/conference) (que es la que usa Python Italia y que están metiendole laburo ahora). Los [models](https://github.com/pythonitalia/conference/blob/master/conference/models.py) -para empezar- pintan bastante completos. No digo que sea mejor que symposium, solo la tiro para chequearla ;)

btw muy buena la idea!

[2016-02-17 15:39] edvm commented on #342
Otra app, utilizada en los flisol de .ar, EventoL:
http://listas.python.org.ar/pipermail/pyar/2016-February/037686.html

[2016-02-18 07:42] angvp opened #343 "Actualización a Django 1.11 (LTS)"
Gente, uno de los blockers que estoy viendo que van a pasar pronto, es que estamos trabajando con un Django no tan nuevo, yo estuve haciendo algo de trabajo hace unos meses para llevar a 1.9 y hay que hacer unos cuantos pasos, me gustaría arrancar con esto, pero como siempre, manos suman. voy a ir agregando en este issue los errores / warnings que salen cuando trato de correr el sitio (y los tests

[2016-02-22 13:35] gilgamezh opened #344 "migrar videos de charlas 2010 a youtube"
https://github.com/PyAr/wiki/tree/master/CharlasAbiertas2010

Los videos estan en http://www.python.org.ar/charlasabiertas2010/

[2016-02-23 13:37] mgaitan opened #345 "UnicodeEncodeError: 'ascii' codec can't encode character '\xf3' in position 410: ordinal not in r..."
https://app.getsentry.com/pyar-1/pyar-web/issues/113429736/

[code]

[2016-02-23 17:03] ihuro commented on #207
Esto está corregido, se puede cerrar?

[2016-02-23 17:09] ihuro commented on #342
Como afecta esto a las issues  #114 y #282 ? habría que cerrarlas?

[2016-02-23 17:12] edvm commented on #342
El 23 de febrero de 2016, 14:09, César Roldán <notifications@github.com>
escribió:

Son tareas diferentes, la aplicacion 'pyconar' tiene que resolver cosas
propias que
se dan en la organizacion de una PyCon, mientras que el MeetUp tiene otros
requerimientos.
Saludos!

--
Broken code @ https://github.com/edvm

<edvm@python.org.ar>

[2016-02-25 02:00] angvp commented on #108
@MissFilly @matagus creo que podemos cerrar esto ^ ? confirmen :)

[2016-02-25 02:01] angvp commented on #133
Muchachos, antes de que este issue cumpla 1 año, podemos cerrarlo? @gilgamezh @mgaitan

[2016-02-25 02:04] #210 closed

[2016-02-25 02:04] #229 closed

[2016-02-25 02:53] mgaitan commented on #133
+1

2016-02-24 23:01 GMT-03:00 Angel Velasquez <notifications@github.com>:

--
mgaitan.github.io
textosypretextos.com.ar

[2016-02-25 03:29] #133 closed

[2016-02-25 03:31] angvp commented on #239
Creo que esto ya fue arreglado hace tiempo

[2016-02-25 03:31] #239 closed

[2016-03-17 15:25] mgaitan opened #346 "agregar slugs en urls de detalle"
Las url con slug son mucho más semánticas, mejor posicionadas en los buscadores y más facil de recordar/buscar en historial por los humanos.

el slug se debe calcular solo a partir del titulo o el campo más caracteristico. Si es editable, mejor.

aplicaria a noticias, eventos y jobs.

Podemos seguir basandonos en el id pero agregar el slug al permalin

[code]

o reemplazar el lookup

[code]

Cualq

[2016-03-17 16:17] angvp commented on #346
Había un issue anterior relacionado con esto.. que estuvo parcialmente implementado, y luego lo olvidé completamente de arreglarlo +  subir el pr .. este fin lo retomo

[2016-03-25 01:31] #207 closed

[2016-03-25 01:32] #236 closed

[2016-03-25 01:33] #197 closed

[2016-03-25 01:34] jcarizza commented on #197
Lo cierro porque hace dos años que está abierto.

[2016-03-25 01:47] jcarizza commented on #319
Esto está funcionando.

[2016-03-25 01:47] #319 closed

[2016-03-25 01:52] #298 closed

[2016-03-25 20:28] jcarizza commented on #341
@gilgamezh eso se puede hacer con [twitterfeed.com](http://twitterfeed.com)

 Conecte el RSS de [trabajos](http://www.python.org.ar/trabajo/rss) con [twitterfeed.com](http://twitterfeed.com) y cree una cuenta de twitter [@pyjob01](https://twitter.com/pyjob01) para mostrar las entradas.

Quien maneje las redes sociales puede hacerlo y agregar Facebook, Linkedin y Twitter.

[2016-03-25 22:20] mgaitan commented on #341
otra posibilidad es https://ifttt.com

[2016-03-26 22:09] samsagaz opened #349 "Debug in Django is True"
Change the value from True to False

[2016-03-26 23:57] jcarizza commented on #276
¿webmaster@python.org.ar puede enviar a la lista pyar@python.og.ar @gilgamezh

[2016-03-27 20:24] angvp commented on #349
Hmm en producción está en False IIRC no @gilgamezh ?

[2016-03-27 20:25] #349 closed

[2016-03-30 22:26] matibarriento opened #351 "Moderación de Contenido en la web"
Que tal? en el PyCamp 2016 estuvimos trabajando en una herramienta para moderar el contenido en la web. Entiendase por moderar el hecho de que si alguien sube una noticia que no es referida a PyAr, publicación de trabajo que no tiene que ver con Python (o con nada de software) etc.
El flujo básico quedo en que cada vez que se de de alta un modelo que deba ser moderado (News, Jobs), usando un bot d

[2016-03-31 02:06] angvp commented on #351
Los trabajos ya tenían moderación .. usaron esa lógica o hicieron todo de nuevo? en caso de que hayan hecho todo de nuevo, lo que ya estaba para trabajos va a seguir como estaba o va a pasar la lógica del canal de Telegram?

[2016-03-31 12:18] matuu commented on #351
Hola @angvp! Los trabajos tenían moderación, pero era correctiva. Se podían inhabilitar pero luego de que eran publicados. La idea es compartir trabajos, noticias y eventos de manera automática en las redes sociales y telegram, por lo que no sirve que se modere luego, ya que ya habrá sido compartido por todos lados.
Lo que se hizo fue homogeneizar el tema de moderación para trabajos y noticias (lu

[2016-03-31 19:59] angvp commented on #351
Ahh ok, ahora entiendo un poco mejor :)

[2016-05-05 15:21] JuloWaks opened #352 "Formato del CONTRIBUTING.md"
![issue_formato](https://cloud.githubusercontent.com/assets/4582328/15047407/1b7b42c4-12e5-11e6-9b79-b401e0e532c8.png)

Darle formato como al resto de los ejemplos.

![issue_formato_2](https://cloud.githubusercontent.com/assets/4582328/15047546/b6a84300-12e5-11e6-80ba-9afcf1a756f8.png)

[2016-05-05 16:11] #352 closed

[2016-05-06 17:58] #294 closed

[2016-05-06 17:59] angvp commented on #316
@gilgamezh

[2016-05-06 18:01] angvp commented on #258
@giglamezh podemos cerrar este? o que hacemos? :)

[2016-05-07 14:19] edvm opened #354 "Dockerizar el proyecto"
A fines de que sea mas sencillo arrancar a trabajar/comenzar a programar en el proyecto, crear un Dockerfile para construir una imagen que permita tener containers que simplifiquen el desarrollo, por ej:
1- Que ya instale las dependencias necesarias
2- Venga con un interprete de Python 3 con e instale los requirements
3- etc...

[2016-05-07 14:20] pardo commented on #343
@angvp me hago cargo si queres

[2016-05-07 14:33] angvp commented on #343
Sos vos!, fíjate que hay un pr que te puede servir es para actualizar a
Django 1.8
On May 7, 2016 11:20 AM, "Andres Pardini" <notifications@github.com> wrote:

[2016-05-07 15:51] gilgamezh commented on #316
@angvp lo que yo entiendo es que eso no es un log de docutils. Que es un mensaje por un conflicto de git.

No se cómo se hace para que waliki no muestre eso.

[2016-05-07 15:52] angvp commented on #354
@edvm Emi! si podés armalo con un microcontainer https://github.com/iron-io/dockers/blob/master/python/python3/Dockerfile ... Acá tenés un Dockerfile para python3

[2016-05-07 15:53] angvp commented on #316
@mgaitan Alguna idea?

[2016-05-07 15:54] gilgamezh commented on #258
![screenshot from 2016-05-07 12-53-25](https://cloud.githubusercontent.com/assets/1496486/15093084/bf9d8420-1452-11e6-8aae-c1078476c7e4.png)

Hoy tenemos esto ^^

Creo que nos sirve.

[2016-05-07 15:54] angvp commented on #343
Este es el PR #348

[2016-05-07 15:55] angvp commented on #258
Ok cerramos el issue entonces cualquier cosa lo re abren :D

[2016-05-07 15:55] #258 closed

[2016-05-07 15:58] mgaitan opened #355 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 12: ordinal not in range(128)"
https://app.getsentry.com/pyar-1/pyar-web/issues/97805521/

[code]

[2016-05-07 15:58] angvp commented on #346
Resulta que ESTE FIN es hoy, me asigno esto y lo hago hoy en el sprint, woot :)

[2016-05-07 15:58] gilgamezh commented on #355
bueno la generé yo :P

[2016-05-07 15:59] angvp commented on #355
No es duplicado de #345 ?

[2016-05-07 16:01] gilgamezh commented on #355
creo que no es el mismo

[2016-05-07 16:44] edvm commented on #354
Ando en eso, ya funcionando, ahora estoy escribiendo una tool simple en py3
que tira comandos de docker :)

2016-05-07 12:52 GMT-03:00 Angel Velasquez <notifications@github.com>:

--
Find me at http://edvm.chiba.ga <https://github.com/edvm>

<edvm@python.org.ar>

[2016-05-09 00:00] mgaitan commented on #316
hola muchachos. efectivamente, este caso particular es una mezcla de cosas: un rst que se guardó con conflictos y despues rst se confunde con la sintaxis sucia que queda y se queja.

Por qué un archivo se pudo guardar con conflictos es porque hubo una edición simultanea de la pagina que no se pudo automezclar. En ese caso waliki commitea el archivo "as is" (con conflicto) pero inmediatamente redir

[2016-09-20 12:18] facundobatista opened #358 "Typo in home page "recursos útil""
Under "Aprendiendo Python" it says:

"Recopilación de recursos que los miembros de PyAr consideramos útil para quienes que se inician en este lenguaje."

it should be "útiles"

[2016-09-20 12:23] granjero commented on #358
yes, it should be "útiles"
=)

[2016-09-21 21:15] cmdelatorre opened #359 "Ofertas laborales: no anda la parte de Filtrar por etiqueta"
Basta con seleccionar algún tag, y apretar "Filtrar". El servidor responde:

La URL que se genera es demasiado larga:

http://www.python.org.ar/trabajo/?tag_bamboo=0&tag_manager=0&tag_jenkins_1=0&tag_nodejs_3=0&tag_svn_1=0&tag_years=0&tag_devops=0&tag_desarrollo-python=0&tag_css_1=0&tag_shotgun=0&tag_maya_1=0&tag_freeling=0&tag_postgresql_2=0&tag_javascript_1=1&tag_southpaw=0&tag_ui_1=0&tag_boostr

[2016-09-22 17:41] btenaglia commented on #359
@cmdelatorre @angvp yo me encargo de esto.

El problema es que la URL no se banca tanta cantidad de caracteres que se le pasa por GET...hay que cambiarlo y ejecutar ese form con POST.

[2016-09-22 21:54] cmdelatorre commented on #359
Otra opción es acortar la URL no incluyendo los parámetros que son `&param=0` (se pueden tomar como default). Eso ayuda pero no soluciona el hecho de que alguien elija demasiados tags... Lo cual tampoco me parece que sea un caso de uso probable

[2016-09-23 02:37] mgaitan commented on #359
sin dudas lo que está mal (porque no escala) es la construcción de la query GET en la que siempre se incluyen todos los tags con "tag_<name>" cumpliendo un rol de inclusion/exclusion.

https://github.com/PyAr/pyarweb/blob/master/community/views.py#L67

creo que hay que refactorear eso (y el javascript asociado) para que los "tags" funcionen como simples checkboxes donde todos los valores *seleccio

[2016-09-23 13:43] mgaitan commented on #354
Fixed in #360

[2016-09-23 13:43] #354 closed

[2016-10-22 17:17] matibarriento commented on #351
Estamos retomando este issue en la meetup

[2016-11-30 04:00] btenaglia opened #363 "Sección Trabajos - Buscador"
Hola @mgaitan @angvp @gilgamezh @edvm ,
Les quería proponer un feature que estuve haciendo.
Considero que le falta, y le viene muy bien ya que facilita mucho la tarea de poder encontrar un aviso de trabajo de manera rápida.
Básicamente...un buscador.
Les adjunto captura y en breve envio pull request

![img](https://cloud.githubusercontent.com/assets/2086311/20739344/6c927478-b698-11e6-9802-38db336

[2016-11-30 04:11] btenaglia commented on #363
Ahi está el pull request!
https://github.com/PyAr/pyarweb/pull/364

[2017-01-12 13:14] marceloleiva opened #365 "ImportError: No module named 'vine'"
Hola, estoy tratando de instalar pyarweb en Docker pero al correr ```docker-compose run web ./initialize.sh``` obtengo el siguiente error:

[code]

Estoy usando OSX El Capitán y Docker 1.11.2

[2017-01-31 16:16] edvm opened #366 "Reparar el proyecto"
Venimos desde hace tiempo sin poder avanzar en actualizar prod. Hoy hicimos un poco de research y pudimos definir lo siguiente:
Lo que esta andando en producción ahora mismo esta taggeado como:
`prod-works-dd-mm-yyyy`
Al día de la fecha el tag que esta funcionando en prod es:
[https://github.com/PyAr/pyarweb/releases/tag/prod-works-26-11-2016](url)

Propongo revisar el branch 'develop', clasificar

[2017-03-12 22:17] cmdelatorre commented on #366
Propongo resolver esto durante el PyCamp. Aunque no sé quién está al tanto de los problemas que hacen falta destrabar para sacar la cosa andando.

[2017-03-26 01:13] cmdelatorre commented on #343
@ngodoy sugirió que esperemos a 1.11, que es LTS y sale este año.
Yo apoyo esta idea.

[2017-03-26 01:34] angvp commented on #343
Hehe claro, era una buena idea en el 2016 ;)

[2017-03-26 02:01] cmdelatorre commented on #366
@edvm te extrañamos.

[2017-03-26 02:01] #366 closed

[2017-03-26 02:08] cmdelatorre opened #371 "Waliki crea migraciones"
@mgaitan instalamos Waliki a partir del repo porque eso era un cambio que se hizo directamente en el server de producción:

https://github.com/PyAr/pyarweb/blob/dev/requirements.txt#L29

El problema es que después de pip-instalar los requirements, si se corre `./manage.py makemigrations` se crea una nueva migración de waliki.

¿Puede ser que esto sea un issue?¿que falta una migración en el repo de

[2017-03-26 03:38] angvp commented on #371
Me suena a que reporte un issue parecido y no me respondieron nunca https://github.com/mgaitan/waliki/issues/118

[2017-03-26 14:31] lecovi opened #374 "Missing local_settings.py instructions"
There is no `local_settings.py` instructions in contributing

[2017-03-26 15:36] cmdelatorre commented on #371
Tal cual, aparentemente es el mismo issue. Dejo el issue acá como para poder trackear el issue desde los dos proyectos.

[2017-03-26 17:02] angvp commented on #374
Esto no debería estar en CONTRIBUTING.md pero sí en el README.md o en las instrucciones de instalación

[2017-03-26 17:14] cmdelatorre opened #376 "Actualizar dependencias"
Está bueno que quede fijo el nro de versión de las dependencias del proyecto.

De todas formas, habría que revisar qué dependencias se pueden actualizar y reflejar eso en el `requirements.txt`

[2017-03-26 17:30] cmdelatorre commented on #374
Puse una oración al respecto acá: https://github.com/PyAr/pyarweb/wiki/Instalaci%C3%B3n-manual

[2017-03-26 17:30] #374 closed

[2017-03-26 20:34] lecovi commented on #376
Done!

[2017-03-26 20:34] #376 closed

[2017-03-26 20:36] lecovi commented on #365
Ahora estamos subiendo lo nuevo en docker-compose.
Fixed!

[2017-03-26 20:36] #365 closed

[2017-03-26 20:45] lecovi commented on #363
Fijate si podés hacer de nuevo el PR #364 porque tuvimos que hacer limpieza en el repo.

[2017-03-26 21:19] #257 closed

[2017-03-26 21:21] cmdelatorre commented on #228
Dice @gilgamezh que lo solucionó

[2017-03-26 21:21] #228 closed

[2017-03-26 21:22] #154 closed

[2017-03-26 21:25] cmdelatorre commented on #358
Hecho por @lecovi  en #358

[2017-03-26 21:25] #358 closed

[2017-03-26 21:50] cmdelatorre commented on #276
Lo de avisar cuando está por suceder requiere de Celery, por lo que puede ser más complicado (no está Celery andando en producción). En algún sprint, hack-day o algo así se puede agregar eso.

Lo otro es trivial.

[2017-03-26 22:12] cmdelatorre opened #382 "Mejorar dockerización del proyecto"
- [x] Actualizar la documentación correspondiente (la [wiki](../wiki/Instalacion-con-Docker) por lo pronto)
- [x] Tener una imagen pública en docker hub: para poder pullear directamente una imágen con todo el proyecto en marcha y no tener que buildear uno mismo.
- [x] Agregar un Makefile (o equivalente) con los comandos de `docker-compose` más comunes: `start`, `stop`, `test`, `djshell`, `reset_db

[2017-03-26 22:36] laureanoSilva opened #383 "Wrong link in the confirmation email"
The link sent with the confirmation email is wrong; it points to example.com/....

[2017-03-26 22:41] cmdelatorre opened #384 "Mejorar el cache"
Actualmente en producción estamos usando un cache sub-óptimo. Esto es porque en algún momento había problemas con Python 3 y memcached...

Hoy estamos en condiciones de mejorar esto.

[2017-03-26 23:09] angvp commented on #371
Ya @mgaitan cerró el issue de waliki, podríamos cerrar acá creo.

[2017-03-27 01:01] jcarizza commented on #383
it's necessary to set the EMAIL_CONFIRM_LA_DOMAIN in the settings according to https://github.com/vinta/django-email-confirm-la/blob/master/email_confirm_la/conf.py

[2017-03-27 05:41] cmdelatorre opened #387 "Habilitar límite de inscriptos en un evento"
Al crear un evento y habilitar inscripción, se debería poder establecer un límite para la cantidad de inscriptos. A partir de ese límite, empieza una lista de espera.

También, se tienen que poder desuscribir los inscriptos.

[2017-03-27 05:45] cmdelatorre commented on #371
Hay que actualizar el requirement del proyecto y volver a deployar. Recién
ahí podríamos cerrar el issue.

Carlos Matías
@py_litox <https://twitter.com/py_litox>

On Sun, Mar 26, 2017 at 8:09 PM, Angel Velásquez <notifications@github.com>
wrote:

[2017-03-27 12:42] #142 closed

[2017-03-27 12:48] #335 closed

[2017-03-27 12:52] cmdelatorre commented on #371
El release de ayer pone en los requirements `waliki==0.7` pero se mantiene el bug de la migración perdida.

[2017-03-27 13:09] cmdelatorre commented on #359
A partir del release de ayer, hubo una regresión de este bug. El código del PR mencionado está incluído, así que habrá que revisar de nuevo.

[2017-03-27 13:19] cmdelatorre commented on #351
En qué estado quedó esto?

[2017-03-27 13:22] cmdelatorre opened #389 "Problemas en descripciones de empresas"
Escribimos una descripción de empresa muy larga (una sola oración de miles de chars). Eso no se muestra bien, se rompe mucho el estilo.

![screenshot from 2017-03-27 10-18-06](https://cloud.githubusercontent.com/assets/3369460/24358256/fa5feb4c-12d6-11e7-91a3-835b3ce974c5.png)

[2017-03-27 13:26] cmdelatorre commented on #359
Era un tema de cache del browser. Efectivamente está resuelto el issue.

[2017-03-27 13:26] #359 closed

[2017-03-27 14:38] cmdelatorre commented on #389
Solucionado en https://github.com/PyAr/pyarweb/pull/391

[2017-03-27 14:38] #389 closed

[2017-03-27 14:52] mgaitan commented on #371
se puede probar con la ultima release 0.8.1 ?? arreglé esto y algunos otros
bugs menores y fixee la compatibilidad con versiones mas nuevas de django

On Mon, Mar 27, 2017 at 9:52 AM, Carlos de la Torre <
notifications@github.com> wrote:

--
mgaitan.github.io
textosypretextos.com.ar

[2017-03-28 19:18] mgaitan commented on #343
1.11 está en RC ya, se espera que salga en un par de semanas. Se puede ir probando y migrando lo que haga falta. Waliki, por ejemplo, requiere actualizacion del uso de API deprecada, pero debe ser facil porque funciona con 1.9 y 1.10.

[2017-03-31 00:03] matibarriento commented on #351
Necesitabamos hacer unas pruebas en un server staging. No lo movi más al tema. Pero se puede retomar tranquilamente, habria que llegar a algunas deficiones de como hacerlo para no chocarse en las pruebas con un mismo bot/canal.

[2017-03-31 03:00] btenaglia commented on #363
@lecovi @cmdelatorre
Buenas noches!
Aca va el nuevo pull request https://github.com/PyAr/pyarweb/pull/393

[2017-04-04 16:58] cmdelatorre commented on #343
Salió: https://www.djangoproject.com/weblog/2017/apr/04/django-111-released/
Apoyo lo que dice Martín: habría que tener un branch para ir migrando y ver qué pasa. De todas formas, no daría el salto hasta dentro de unos meses, que se estabilice la versión.

[2017-04-04 17:23] mgaitan commented on #343
durante el finde estuve laburando en waliki y arreglé los tests con django 1.11, asi que deberia andar. aunque habria que arreglar un par de bugs importantes que no tienen que ver con la version.

[2017-04-05 13:24] gilgamezh commented on #382
todo listo!

[2017-04-05 13:24] #382 closed

[2017-04-05 13:26] gilgamezh commented on #343
+1 a esperar unos meses. Sobre todo por los 3rd party

[2017-04-05 13:27] gilgamezh commented on #282
Esto no es lo que ya armó @cmdelatorre ?

[2017-04-05 13:30] ngodoy commented on #343
Es oficial, hace pocas hora salio Django 1.11 pero yo tambien pienso lo mismo, sobre esperar unos meses

https://www.djangoproject.com/download/
https://www.djangoproject.com/weblog/2017/apr/04/django-111-released/

[2017-04-08 19:17] cmdelatorre opened #394 "Error al registrar usuario nuevo"
Este problema fue reportado a lista de mails dos veces:

- primero @facundobatista el [4 de Abril de 2017](http://listas.python.org.ar/pipermail/pyar/2017-April/041136.html)
- Luego Miguel Martinez el [7 de Abirl de 2017](http://listas.python.org.ar/pipermail/pyar/2017-April/041148.html)

El error en cuestión es:

Esto sucede por problemas de migraciones con `django.contrib.auth`.

Mi hipótesis es

[2017-04-08 19:34] cmdelatorre opened #395 "Agregar campo "género" al form de inscripción a eventos"
Esto surge a partir del comentario de @mgaitan: https://github.com/PyAr/pyarweb/pull/357#discussion_r79693120

La idea es tener este campo para poder (eventualmente) tener estadísticas asociadas a la cuestión de genéro.

[2017-04-09 12:51] cmdelatorre commented on #206
Esto parece haber sido solucionado ya.

[2017-04-09 12:51] #206 closed

[2017-04-09 12:52] cmdelatorre commented on #240
Supongo que este issue ya no es un problema.

[2017-04-09 12:52] #240 closed

[2017-04-09 14:01] cmdelatorre opened #397 "Unificar Noticias, Trabajos y Eventos en la home page"
La sección de noticias no tiene mucho movimiento. Más se mueven las secciones de _Trabajos_ y _Eventos_.

En la página principal de PyAr el primer widget dinámico que aparece es justamente _Últimas noticias_ y después de ese aparece _Últimos avisos de trabajo publicados_.

Propongo unificarlos en un único panel de "_Últimas novedades_" o algo así, que incluya referencias a todos estos modelos junt

[2017-04-09 18:26] gilgamezh commented on #394
corrí los comandos en producción, probé de registrar un usuario y funcionó oka.

[2017-04-09 18:26] #394 closed

[2017-04-09 18:26] gilgamezh commented on #394
@cmdelatorre gracias!

[2017-04-09 18:30] gilgamezh commented on #395
Esta mergeado en dev y deployado en Beta.
Yo creo que está para pasarlo a master. Con el +1 de alguien lo hago.

NOTA: creo que está bueno empezar a usar el criterio de probar en beta y con el mismo criterio de un MR (+1 de alguien que hace review) se hace el deploy a produccion

[2017-04-09 18:35] cmdelatorre commented on #395
Me parece bien. Podríamos agreagar eso en la parte de https://github.com/PyAr/pyarweb/wiki/Contribuyendo-con-PyArWeb
o en
https://github.com/PyAr/pyarweb/wiki/Manual-b%C3%A1sico-de-supervivencia-para-colaborar-con-el-sitio-de-PyAr

[2017-04-10 02:34] cmdelatorre commented on #397
Hay una implementación de esto, para ver cómo queda, en #398

[2017-04-17 12:18] cmdelatorre opened #399 "No funciona reestablecer contraseña"
Reporta Marian Vignau por la lista de mail:
http://listas.python.org.ar/pipermail/pyar/2017-April/041210.html

Pido reestablecer contraseña, me manda el e-mail con la dirección a
password reset, cambio el password, me notifica que ha sido cambiado con
éxito, pero al intentar ingresar no funciona

[2017-04-17 18:26] #399 closed

[2017-04-17 19:40] mgaitan commented on #399
@cmdelatorre se cerró por fix o inválido?

[2017-04-17 19:47] cmdelatorre commented on #399
Inválido: Marian escribió otro mail diciendo que está andando el feature. Fue un reporte equivocado de ella.

[2017-04-17 19:54] mgaitan commented on #399
:+1:

[2017-04-18 00:44] eamanu opened #400 "enhancement: Traducción de los PEP"
Sería interesante tener en la página de pyar, la lista de los PEP, y en los posible traducidos al español

Que les parece?

[2017-04-19 15:01] eamanu opened #401 "Error: fe_sendauth: no password supplied"
Hola a todos,

estoy tratando de instalar el pyarweb, pero me salta este error

fe_sendauth: no password supplied

Seguí todos los pasos.

[2017-04-19 15:26] eamanu opened #402 "ERROR: events.tests.test_event_participation"
En la rama 'dev'

Cuando se ejecuta `./manage.py test` se obtiene el siguiente error:

======================================================================
ERROR: events.tests.test_event_participation (unittest.loader.ModuleImportFailure)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python3.4/unittest/case.py", line 58

[2017-04-19 15:41] eamanu commented on #402
Se solucionó instalando `factory_boy`.

Por favor se debe agregar el en el `requirements.txt `

[2017-04-19 15:45] cmdelatorre commented on #402
Fijate que hay un [dev_requirements.txt](https://github.com/PyAr/pyarweb/blob/dev/dev_requirements.txt) en el repo. Son los paquetes que hay que instalar para desarrollo.
Estaba desactualizada la documentación: https://github.com/PyAr/pyarweb/wiki/Instalaci%C3%B3n-manual
Ahí la actualicé.

[2017-04-19 15:45] #402 closed

[2017-04-19 15:51] cmdelatorre commented on #401
Por favor, pegá un stack trace más completo. Idealmente, debería incluir desde el comando que ejecutaste hasta el final del trace.

[2017-04-19 16:00] eamanu commented on #401
Lo solucioné. Era un conflicto de Django tratando de acceder a postgres con una pass diff.

Soy nuevo.

Gracias

[2017-04-19 16:00] #401 closed

[2017-04-19 16:27] cmdelatorre commented on #400
La idea me parece buena, aunque el esfuerzo sea grande.
Calculo que se puede ir haciendo directamente en la Wiki ¿cierto?

[2017-04-19 16:50] eamanu commented on #400
Me parece bien en la Wiki

[2017-04-19 17:46] eamanu commented on #400
Tengo que mandar un mensaje que se indica en `http://www.python.org.ar/wiki/ContribuyendoAlWiki` a pyar@python.org.ar?

[2017-04-19 17:51] cmdelatorre commented on #400
Parece que no. ¿No te deja crear una página?
Estas cosas por ahí es más fluído que lo trates en el canal de IRC.

[2017-04-20 13:58] eamanu commented on #395
Probé y funciona lo del génenero.

Coincido con @gilgamezh sería interesate el criterio del beta, para luego hacer le deploy.

[2017-04-25 12:54] eamanu opened #404 "Servidor caido"
¿El servidor se encuentra caído? ¿El mailing list tampoco anda? Por ese motivo uso este medio.

[2017-04-25 12:58] gilgamezh commented on #404
Hola gracias por avisar.

Hay problemas en USLA (donde están hosteados los equipos)

[2017-04-25 17:03] eamanu commented on #404
Recien veo .. es el issue #404

[2017-05-01 23:23] HoracioNakama opened #405 "Wiki ORM - System Message: WARNING/2 (<string> line 21) id2"
Hola:

Visitando la wiki de ORM de pyar aparecen estos mensajes en los links:

System Message: WARNING/2 (<string> line 21) id2
Inline substitution_reference start-string without end-string.

cuando ingreso este link: http://www.python.org.ar/wiki/ORMs/version/080dd7b%5E

¿Cómo obtuve ese link? Apareció en el buscador de la pagina de Pyar cuando buscaba "Sqlalchemy"

pero si utilizo el link: http:

[2017-05-02 13:14] mgaitan commented on #405
@HoracioNakama sucede que la wiki de pyar se migró del sistema moinmoin que se usaba (usando [esta herramienta](https://github.com/mgaitan/moin2git)  que hice yo) y que usaba otro *markup* para formatear las páginas

La version de la página que estas viendo tiene el formato viejo intentando verse como si fuera restructuredText y por eso da todos esos errores de sintaxis. No obstante la version act

[2017-05-02 13:20] mgaitan commented on #405
O sería mejor simplemente poner un mensaje más destacado en la cabecera avisando que esa no es la última version de la página?

[2017-05-02 13:21] mgaitan commented on #404
Fixed http://listas.python.org.ar/pipermail/pyar/2017-May/041242.html

[2017-05-02 13:21] #404 closed

[2017-05-02 13:36] mgaitan opened #406 "Attachments rotos en wiki"
Hay contenidos de la wiki que se usan como páginas especiales (usando el feature [boxes](http://waliki.readthedocs.io/en/latest/boxes.html)) y es particularmente importante que se vean bien.

en particular, algunas estan dando errores con las urls de attachment, por ejemplo http://www.python.org.ar/wiki/ListaDeCorreo, (que se ve también en http://www.python.org.ar/lista/)

Al ver el listado de att

[2017-10-29 18:37] eduzen opened #407 "Etiquetas/Tags repetidos (sensible a mayúsculas)"
Este issue esta relacionado con el #341
Estuve mirando el código de django-taggit y creo que podemos rápidamente agregar una config para evitar tags repetidos... hoy tenemos `PYTHON` y `python`como tags repetidos.

Ya estuve laburando en la solución. El único problema es que habría que hacer una migración para eliminar en la db estos tags repetidos (o también se puede hacer borrón y cuenta nueva)

[2017-10-30 18:27] cmdelatorre commented on #407
Yo opino que migración para borrar los repetidos es la que va.

[2017-11-05 04:10] eduzen commented on #407
Dale, trato de hacerla migración asi lo metemos!

[2017-12-02 02:58] gilgamezh opened #408 "posgresql not starting"
Today the site was down.

I found this error in the logs.

[code]

After some research I changed `dynamic_shared_memory_type`to `none` in `postgresql.conf`

Not sure about the root cause. Maybe an upgrade in the host. (the server is running in a LXC)

[2017-12-02 02:59] gilgamezh commented on #408
config changes

[code]

[2017-12-02 03:00] gilgamezh commented on #408
More info at --> https://gitlab.com/gitlab-org/omnibus-gitlab/merge_requests/1394/diffs

[2017-12-02 03:00] #408 closed

[2018-01-19 14:37] cmdelatorre opened #409 "Markup para posts de trabajos"
Estaría bueno agregar el editor WYSIWYG, que hay para describir Eventos, en la descripción de las búsquedas de trabajo.  Sanitizar la entrada html https://github.com/PyAr/pyarweb/issues/410 al describir eventos.

[2018-01-19 14:38] cmdelatorre opened #410 "Campo Descripción en App de trabajos acepta HTML"
Esa página permite injección de JS, por ejemplo poniendo:

<script type="text/javascript">
alert("Hola");
</script>

Me parece que es inseguro y deberíamos resolverlo. Tal vez, hacerlo en conjunto con #409

[2018-01-19 14:45] edvm commented on #410
good catch @cmdelatorre , ahi lo agregue al project :+1:

[2018-01-29 01:01] cmdelatorre commented on #410
PAsa lo mismo en Eventos. Hay un editor WSIWYG pero que permite editar el HTML resultante, Incluso lo interpreta de pecho, mientras uno edita el contenido :disappointed:

[2018-01-29 02:14] cmdelatorre commented on #410
En primera instancia hay que decidir si queremos que se puedan formatear los campos de descripción. Yo pienso que si, está bueno.

En todo caso, hay que sanitizar *siempre* (en el backend) el input que recibimos de los usuarios.
Eso sería con algo como [django-html_sanitizer](https://github.com/ui/django-html_sanitizer). Lo probé un poco y parece que va por ahí la mano.

[2018-04-01 18:24] edvm commented on #397
Mergeado a `dev`: https://github.com/PyAr/pyarweb/pull/398
Muchas gracias @cmdelatorre !

[2018-04-01 18:24] #397 closed

[2018-04-01 18:42] edvm commented on #407
@eduzen como viene esto? :)

[2018-04-01 18:47] edvm commented on #406
La url http://www.python.org.ar/wiki/ListaDeCorreo me muestra:
![image](https://user-images.githubusercontent.com/689275/38176350-9df64fd4-35c3-11e8-9bf4-a750e465c3cb.png)

Al hacer click en 'Histórico` (dropdown arriba a la derecha donde dice Edit), tira error 500. Parece una tarea para sentarse y meterle tiempo.

[2018-04-01 18:52] edvm commented on #405
@mgaitan no podemos editar (entiendo que usa otro formato) las versiones viejas desde la wiki. Estimo Waliki sabe que esa versión es vieja y por eso ofrece  ir al `current version`. Es posible que waliki vea que es una versión vieja y automáticamente redireccione al `current version`? tiene sentido lo que pregunto? :joy:

[2018-04-01 19:00] edvm commented on #395
Mergeado y pusheado a `dev`: https://github.com/PyAr/pyarweb/pull/396
Cierro issue :+1:

[2018-04-01 19:00] #395 closed

[2018-04-01 19:02] edvm commented on #400
@eamanu deberías poder registrarte en el sitio, y estando logueado, crear contenido en el wiki. Estos pasos te funcionan? :)

[2018-04-01 19:29] edvm commented on #383
Me registre en la app y no me llego mail de confirmacion. @laureanoSilva @jcarizza donde mas ocurre esto de que no llega el mail?

[2018-04-01 21:59] eduzen commented on #407
@edvm la verdad que está complicado la migración, son varias tablas y requiere mucho laburo. Si seguimos por el camino de la migración me bajo. Creo que sigo pensando que es mejor hacer el borrón y cuenta nueva.

[2018-04-01 22:29] edvm commented on #407
@eduzen bien, por mi +1 a borron y cuenta nueva. Este issue quedaria entonces en implementar / actualizar el codigo para que no se repitan los tags? (los futuros tags)

[2018-04-02 01:59] edvm commented on #363
Reabro el PR: https://github.com/PyAr/pyarweb/pull/393
Meto esta task para la vs `1.0` (el feature esta muy bueno, casi terminado, hace falta pulir algunas cosas, ver comentarios en el PR)

[2018-04-02 02:05] edvm commented on #355
2016 este issue en sentry... lo cierro

[2018-04-02 02:05] #355 closed

[2018-04-02 02:06] edvm commented on #351
Refloto este issue, en que estado quedo esto? lo vamos a usar? @matibarriento precisas infra para que corra el programa?

[2018-04-02 02:11] edvm commented on #346
@angvp queres aun meterle a esto? :)

[2018-04-02 02:13] edvm commented on #345
Cierro este issue, cerrado por @angvp en #355

[2018-04-02 02:13] #345 closed

[2018-04-02 02:15] edvm commented on #344
Cierro este issue del 2016. El link http://www.python.org.ar/charlasabiertas2010/ no funciona.

[2018-04-02 02:15] #344 closed

[2018-04-02 02:19] edvm commented on #343
Pongo este issue para ser hecho en el milestone `1.1`. Ahora mismo estamos en el `1.0`.

[2018-04-02 02:25] edvm commented on #342
Cierro issue, delirio del 2016 :)

[2018-04-02 02:25] #342 closed

[2018-04-02 18:50] angvp commented on #346
Oh, colgué con esto por alguna razón, pero not really, no estoy teniendo mucho tiempo y no vengo haciendo mucho python últimamente :( .. así que mejor que lo dejen para alguien nuevo y con hambre de contribución :D

[2018-04-02 23:16] edvm commented on #346
Nou problem @angvp ! :)

[2018-04-07 22:48] matuu commented on #409
Voy a trabajar en este issue

[2018-04-08 00:37] matuu commented on #409
En realidad, ya está agregado el editor WYSIWYG pero hay un error js de django-taggit-autosuggest que impide que se carguen. Se debería ver así:
![captura de pantalla de 2018-04-07 21-29-35](https://user-images.githubusercontent.com/282628/38461601-1cf5a2da-3aab-11e8-8427-102283ccd53d.png)
Esto ya lo pude arreglar, agrego django-html_sanitizer para este campo y el del #410, o el #410 ya lo están r

[2018-04-09 12:42] edvm commented on #409
@matuu genial! Te acabo de asignar #410, agregale nomas el sanitizer a este y el del #410  :+1:

[2018-04-17 16:59] matuu commented on #351
Me interesa retomar este issue. Participé en el pycamp, pero no sé de los avances del meetup.. @matibarriento se pudo avanzar con esto? Lo liquidamos en el pycamp?

[2018-04-18 17:49] mikiangel10 commented on #383
@laureanoSilva  en el mail de activación de la cuenta te llegó mal el link@ podes fijarte si sigue habiendo problema?

[2018-04-19 14:41] edvm commented on #409
Fixeado y mergeado a dev en:
https://github.com/PyAr/pyarweb/pull/412

[2018-04-19 14:41] #409 closed

[2018-04-19 14:42] edvm commented on #410
Fixeado y mergeado a dev en: https://github.com/PyAr/pyarweb/pull/412

[2018-04-19 14:42] #410 closed

[2018-04-24 14:40] edvm commented on #383
@mikiangel10 @laureanoSilva me paso esto por email, parece que el error esta relacionado con la app de eventos:
[code]

Espero estos datos te den una pista de por donde buscar :)

[2018-04-24 14:40] edvm commented on #407
@eduzen novedades sobre esto? :)

[2018-04-24 15:12] eduzen commented on #407
Lo deje para laburarlo en el pycamp!

2018-04-24 11:41 GMT-03:00 Emiliano Dalla Verde Marcozzi <
notifications@github.com>:

[2018-04-24 16:37] cmdelatorre commented on #407
Count me in!

Carlos Matías
@py_litox <https://twitter.com/py_litox>

On Tue, Apr 24, 2018 at 12:12 PM, Eduardo <notifications@github.com> wrote:

[2018-04-27 23:34] edvm commented on #406
@mgaitan no entendi muy bien en que consiste el bug, podrías explicarlo mejor? Muchas gracias!

[2018-04-27 23:37] edvm commented on #405
@gilgamezh esta tarea es para vos? ;) ;) ;)

[2018-04-27 23:39] edvm commented on #400
Estaría bueno tomar esta iniciativa como un proyecto de traducción, cierro el issue por no se actualizado hace tiempo.

[2018-04-27 23:39] #400 closed

[2018-04-27 23:42] edvm commented on #384
@cmdelatorre Litox, lo meto en `1.0` por si alguien lo quiere laburar en PyCamp (si lo ves potable), para nada critico esto creo. (Desconozco si sigue aplicando en prod esto). Si ves que no aplica, cerrarlo nomas :) :+1:

[2018-04-27 23:55] edvm commented on #351
@matibarriento novedades? @matuu todo tuyo ;)

[2018-04-28 00:01] edvm commented on #341
Cierro por duplicado con https://github.com/PyAr/pyarweb/issues/407

[2018-04-28 00:01] #341 closed

[2018-04-28 00:04] edvm commented on #328
@mgaitan cierro este issue por 'viejo', si lo ves con ganas de encararlo, re-open it! :) :+1:

[2018-04-28 00:04] #328 closed

[2018-04-28 00:05] edvm commented on #310
Cierro por inactivo (y porque no lo voy a hacer :P )

[2018-04-28 00:05] #310 closed

[2018-04-28 00:12] edvm opened #413 "Mover app 'tutoring' a un directorio 'deprecado'."
En prod tenemos: http://www.python.org.ar/tutoring/project/
El código esta en prod pero sin uso. Discutir (idealmente en el PyCamp) que van a hacer con esta app, si sacamos el fuente o si se pone en funcionamiento.

[2018-04-28 18:55] cmdelatorre commented on #405
Esto fue solucionado en la misma wiki: http://www.python.org.ar/wiki/ORMs

[2018-04-28 18:55] #405 closed

[2018-04-28 22:07] cmdelatorre opened #414 "Documentar uso de Travis y Dockerhub"
Hoy se usa TravisCI para correr los tests cuando se crean PR. Este instala el proyecto y crea un entorno de ejecución **independiente de Docker.**

Por otro lado, cuando se pushea a master y develop, Dockerhub buildea y hostea una imagen Docker del proyecto **que hoy solo sirve para desarrollo.**

Las credenciales de estas cosas las maneja @gilgamezh , habría que escribir algo al respecto en la do

[2018-04-28 22:34] cmdelatorre commented on #407
Estamos trabajando en esto con @eduzen, @jualvarez  y @matuu.
Edu va a trabajar en que los Tags se guarden normalizados. Yo voy a trabajar en una migración que limpie un poco los Tags existentes.

El resto de la historia implica hacer cosas en frontend que escapan al alcance de este issue. Estuvimos viendo que implica cambiar la app que estamos usando para ese autosuggest y nadie se quiere meter e

[2018-04-28 22:38] edvm commented on #414
@gilgamezh te asigno esta task :+1:

[2018-04-28 22:45] edvm commented on #407
@cmdelatorre genial! que hay que hacer en frontend? uno de los chicos fixeo el autosuggest (la parte de js) para que funcionen los tags, el fix es esta mergeado en `dev`: https://github.com/PyAr/pyarweb/pull/412 . No se si es ese el laburo que falta hacer en frontend, o es otra cosa.

[2018-04-29 12:43] cmdelatorre commented on #407
Nah, es otra cosa...

[2018-04-29 12:50] cmdelatorre opened #416 "Revisar que hacer con app 'planet'"
En el codebase aparece la app `planet` (con varias dependencias) pero no lo estamos usando: hoy el link a "planeta" apunta a algo de @ralsina : http://pyar.ralsina.me/

Propongo sacar esa app del repo (por lo menos hasta que decidamos hacer algo distinto)

[2018-04-29 13:43] cmdelatorre commented on #383
@mikiangel10 ¿no hay PR para esto?

[2018-04-29 14:14] facundobatista opened #417 "Ordenar lista de trabajos dando importancia a empresas socias"
Hola!

La lista de trabajo hoy se ordena por timestamp. Necesitamos que se ordene principalmente por un "status de empresa" (que podría ser un número, modificable solamente por admin), y dentro de cada mismo status, por timestamp como ahora

[2018-04-29 14:25] mikiangel10 commented on #383
Perdón. No me puedo conectar ahora, pero hice un pr. Si no me equivoco. Sino en mi repo esta el fork con el commit listo. En cuanto pueda lo hago.

[2018-04-29 18:36] sofide commented on #346
@edvm  lo vamos a ver ahora con @eduzen

[2018-04-29 18:48] cmdelatorre commented on #407
Perdón, me faltó mandar el PR con la migración que hice. Ya lo mando.

[2018-04-29 19:25] cmdelatorre commented on #407
@eduzen revisa esto porfa: #419

[2018-04-29 20:15] eduzen commented on #346
@edvm podrías asignarmelo?

[2018-04-29 23:26] edvm commented on #416
+1 @cmdelatorre , si lo pueden charlar en pycamp genial :)

[2018-04-29 23:29] #407 closed

[2018-04-30 02:36] cmdelatorre opened #421 "Checkear migraciones no creadas en CI"
Si nos olvidamos de crear migraciones, que falle el build (y no acepte el PR)

[2018-04-30 03:56] #346 closed

[2018-04-30 14:50] eduzen commented on #417
@cmdelatorre @facundobatista @edvm  Yo lo agarró y ahora nos ponemos con @s4msagaz @ambro17

[2018-04-30 18:34] eduzen commented on #417
@facundobatista acá está el pull, para que lo revisen.

Lo único que cuando mergemos hay que setear en el admin un valor para las empresas que son parte de la asoc civil

[2018-05-02 13:05] edvm commented on #383
@mikiangel10 pudiste crear el PR? :)

[2018-05-02 13:07] edvm commented on #413
Sin noticias en PyCamp respecto de esta app. Actualizo el issue para crear un directorio 'deprecated-apps', mover 'tutoring' a este directorio, y ajustar la app para sacar 'tutoring' del `INSTALLED_APPS` y otros lugares donde corresponda (ej: `urls.py`)

[2018-05-02 13:11] edvm commented on #384
@cmdelatorre cierro este issue? :)

[2018-05-02 13:25] edvm commented on #351
@matibarriento @matuu novedades en este issue? lo cierro? :)

[2018-05-02 13:49] cmdelatorre commented on #384
Yo lo patearía más adelante.
No tiene urgencia y se puede hacer cuando se avance con los temas de infra (que @gilgamezh @jualvarez y otros avanzaron bastante)

[2018-05-02 13:50] cmdelatorre commented on #413
deprecated-apps no hace falta. Por algo tenemos Git. Borremos lo que no se usa y listo (siempre se puede encontrar luego). En todo caso, dejemos documentado en algún lado esta operación. Por ejemplo acá mismo.

[2018-05-02 14:35] matuu commented on #351
No le metimos a esto en el pycamp.. Si es un issue interesante y nos queremos esta funcionalidad, le puedo meter..

[2018-05-03 02:33] mikiangel10 commented on #383
Ahora hice el pr. Perdón. Es que lo habia hecho en mi fork. Ahora entendí el mecanismo. Fíjate y decime cualquier cosa

[2018-05-03 13:14] edvm commented on #383
@mikiangel10 perfect! revise tu PR (https://github.com/PyAr/pyarweb/pull/425) y pedi corregir un error de flake8 (de `'estilos'`). Ni bien actualices el PR (comiteas en tu branch el fix y el PR se actualiza solo), lo vuelvo a revisar asi ya lo mergeo :+1:  :D

[2018-05-05 20:27] eduzen opened #426 "502 - Edit de la wiki"
Quise editar la pagina de la wiki de la asociación civil y tiro 502

<img width="1423" alt="captura de pantalla 2018-05-05 17 26 28" src="https://user-images.githubusercontent.com/8366343/39667314-8c6d1d20-5089-11e8-9ae6-1914694bfd61.png">

[2018-05-05 20:28] eduzen commented on #426
@edvm @cmdelatorre Sigo sin permisos para poder agregar labels, projects, assignees y milestones no sé si es que soy idiota jaja o no tengo permisos todavia para eso

[2018-05-06 20:48] cmdelatorre commented on #426
Edu, el tema permisos creo que @edvm te puede ayudar. Yo no tanto... ¯\_(ツ)_/¯

[2018-05-06 21:57] edvm commented on #426
@eduzen me fije el tema de los permisos. Estas con `read access`, precisas mas acceso? Para crear labels o milestones, precisas ser `admin`: https://help.github.com/articles/repository-permission-levels-for-an-organization/
Te sumas a administrar el proyecto? Con grandes poderes vienen grandes responsabilidades ;)

[2018-05-06 21:57] edvm commented on #426
@mgaitan ideas sobre el error que tiene @eduzen con la wiki? :)

[2018-05-08 23:33] eduzen commented on #426
si justo estaba viendo que la wiki viene gracias a waliki==0.7, que no es la última versión, quizás podemos probar subir de version a ver si mejora. Voy a pincha a @mgaitan  a ver si nos tira un centro!

[2018-05-08 23:35] eduzen commented on #417
Bueno falta deployar, pero no estaría en open!

[2018-05-09 00:48] edvm commented on #417
@eduzen yep, lo muevo a `Done` (de ahi luego saco el listado de cosas que salen en este release `1.0`) :D

[2018-05-09 00:48] #417 closed

[2018-05-09 02:32] mgaitan commented on #426
@eduzen tira 502 porque tiene un error en el parsing del restructuredtext ?

[2018-05-09 13:35] edvm commented on #426
@eduzen @mgaitan pregunta, nos vendría bien entonces modificar waliki para que antes de guardar los cambios verifique que el formato es correcto? se puede hacer esto? (googleando encuentro una lib en python que dice hacer esto: https://github.com/myint/rstcheck , no la use nunca). Si pudiésemos encontrar/validar el formato mientras el usuario tipea seria genial. @ralsina tenes alguna lib / algo qu

[2018-06-02 21:26] gilgamezh opened #428 "dejar de usar el branch de development."
Creo que simplemente nos genera más problemas. propongo cambiar al siguiente modo

- master
- PR siempre a master
- cada merge a master debe resultar en un deploy en staging/beta
- para hacer un deploy a "producción" generamos un tag de release

@cmdelatorre @eduzen qué opinan?

[2018-06-02 22:08] eduzen commented on #428
Me parece buena idea que todos los pull sean directo a master y que si se aprueba el pull el merge acompañe si o si a un deploy en staging.
También acuerdo lo de los tags de release!

[2018-06-02 22:42] gilgamezh commented on #428
si @cmdelatorre nos da un +1 elimino el branch dev y dejo master como default.

[2018-06-06 23:00] cmdelatorre commented on #428
Si, de acuerdo con probar ese esquema. Habría que documentarlo apropiadamente para los que quieran colaborar:
* principalmente acá: https://github.com/PyAr/pyarweb/blob/dev/CONTRIBUTING.md
* y también está esto: https://github.com/PyAr/pyarweb/wiki/Manual-b%C3%A1sico-de-supervivencia-para-colaborar-con-el-sitio-de-PyAr (que no sé si suma o resta)

[2018-06-06 23:17] cmdelatorre commented on #387
A partir de lo conversado en el PyCamp 2018, la idea es movernos hacia Eventol por lo que hay intensión de meter más esfuerzo en la app actual de Eventos.
Propongo cerrar este issue.

[2018-06-11 12:47] #428 closed

[2018-06-14 14:56] FedericoJurio commented on #413
Teniendo en cuenta el comentario de @cmdelatorre cree el PR https://github.com/PyAr/pyarweb/pull/433 resolver este issue.

[2018-06-24 23:49] gilgamezh opened #435 "warnings al ejecutar tests"
[code]

[2018-06-25 00:16] #413 closed

[2018-06-25 00:16] gilgamezh commented on #413
gracias @FedericoJurio

[2018-06-26 21:31] FedericoJurio commented on #435
El PR https://github.com/PyAr/pyarweb/pull/438 soluciona los `RuntimeWarning`. Respecto a `RemovedInDjango19Warning`, es por la biblioteca [django-bootstrap3-datetimepicker](https://pypi.org/project/django-bootstrap3-datetimepicker). El requirements.txt apunta a la versión 2.3.3 que es la última disponible en PyPI.

Por otro lado, en el master de django-bootstrap3-datetimepicker está solucionado e

[2018-06-27 12:38] cmdelatorre commented on #435
Por ahora podemos convivir con el Warning. Si ya está fixeado, en algún momento lo subirán. Mientras, dejemos este issue abierto (o podés crear otro, más específico) así controlamos este tema periódicamente.

[2018-06-27 12:57] cmdelatorre commented on #435
ah, no, el proyecto no se mantiene hace 3 años (por lo menos). Este issue tiene algunas propuestas: https://github.com/nkunihiko/django-bootstrap3-datetimepicker/issues/71
Cualquiera de ellas me viene bien.

[2018-07-02 12:19] FedericoJurio commented on #435
Al final lo solucioné utilizando la misma biblioteca pero apuntando al branch `master`. Mucho no me convence instalarla desde git pero con las propuestas del PR tuve más problemas que soluciones.

[2018-07-03 03:38] FedericoJurio commented on #383
@edvm Estaba viendo el backlog y este issue está resuelto y mergeado hace un par de meses. Sigue abierto por algún motivo en particular?

[2018-07-27 22:49] EllaQuimica opened #439 "System Message: WARNING/2 en todo el sitio web"
En https://www.python.org.ar/lista/ y https://www.python.org.ar/wiki/
![screenshot_2018-07-27 bienvenid s a la wiki de pyar - wiki pyar - python argentina](https://user-images.githubusercontent.com/10503343/43349440-27db10cc-91d6-11e8-823a-00ff2762c2f2.png)

[2018-08-04 14:49] perretcantonim commented on #276
Hola gente, acá estoy por primera vez en un Python Sprint Day ( en Córdoba) y me voy a encargar de este issue :)

[2018-08-04 17:22] cmdelatorre opened #441 "problemas de estilo en página de confirmación de email"
La página http://localhost:8000/accounts/confirm-email/xxxxxx a la que te manda cuando confirmas tu email (depsués de registrarte)
no tiene estilos
![screenshot from 2018-08-04 14-22-18](https://user-images.githubusercontent.com/3369460/43678887-d30b50a8-97f1-11e8-99c0-90d3d7f34923.png)

[2018-08-04 17:29] #383 closed

[2018-08-04 17:30] cmdelatorre commented on #108
Planet app fue removida en #416

[2018-08-04 17:30] #108 closed

[2018-08-04 17:32] cmdelatorre commented on #282
Esto no va a suceder. En el PyCamp 2018 empezamos a trabajar para incorporara [EventoL](http://eventol.github.io/eventoL/#/).

[2018-08-04 17:32] #282 closed

[2018-08-04 17:36] cmdelatorre commented on #265
Entiendo que esto está resuelto. Si hay algo que falta, propongo que creen un issue específico.

[2018-08-04 17:36] #265 closed

[2018-08-04 17:38] cmdelatorre commented on #262
¿Qué se supone que es docs.python.org.ar? Hoy no tiene nada... (propongo cerrara este issue)

[2018-08-06 20:38] mgaitan commented on #262
no hay nada porque está roto.

se supone que ahi habia un landing page con links y una breve descripcion de los distintos tutoriales que se han traducido (python, django)

por ejemplo, si uno busca, la wiki remite a estos links que no están andando

https://docs.python.org.ar/tutorial/
https://docs.python.org.ar/tutorial/3

[2018-08-06 23:59] perretcantonim commented on #276
Bueno gente ya está implementada la función para enviar un email cuando se crea un evento en la db.

Durante el sprint del otro día @cmdelatorre me orientó que para testear que el email es enviado haga un mock de mi función (la que envía el email).

Estuve investigando [acá](http://www.voidspace.org.uk/python/mock/index.html) y no termino de entender como hacer le mocking porque como la función no

[2018-08-15 12:42] cmdelatorre commented on #276
@perretcantonim para testear el envío de mail desde Django mirá esto: https://docs.djangoproject.com/en/1.9/topics/testing/tools/#email-services

Para otra alternativa (con mocks) podés intentar algo en la línea de esto: https://www.vinta.com.br/blog/2017/dont-forget-stamps-testing-email-content-django/

Finalmente, como nota al margen, en vez de copy-paste de la función (como hiciste en tu mensaj

[2019-03-18 13:45] fgromeu opened #444 "Problema en la suscripcion a la lista de correo"
Al querer suscribirme a la lista de correo de phyron.org.ar con una dirección de correo del dominio gmail.com la rechaza como dirección invalida.

![2019-03-18 10_23_40-pyar Resultados de la subscripción - Internet Explorer](https://user-images.githubusercontent.com/37416107/54534355-f064a700-496a-11e9-99a6-4c6dcb1717af.png)

[2019-03-28 21:08] cmdelatorre opened #446 "Resolver vulnerabilidades reportadas por GH"
https://github.com/PyAr/pyarweb/network/alert/requirements.txt/django/open

[2019-03-28 21:10] diegoduncan21 commented on #446
me da 404 esa url.

[2019-03-28 21:16] cmdelatorre commented on #446
<img width="749" alt="Screen Shot 2019-03-28 at 18 15 18" src="https://user-images.githubusercontent.com/3369460/55193384-89729980-5185-11e9-9972-2d95462668d0.png">

[2019-03-31 05:11] FedericoJurio commented on #446
No soy un experto en django pero teniendo en cuenta que cada salto de versión puede impactar por incompatibilidades respecto a la versión anterior y en librerías third-party, quizas tiene sentido encarar upgrades graduales en vez de hacer el salto de 1.8 a 1.11

- https://docs.djangoproject.com/en/1.9/releases/1.9/#backwards-incompatible-changes-in-1-9
- https://docs.djangoproject.com/en/1.10/rele

[2019-04-03 21:14] FedericoJurio commented on #441
Cree el PR #447 para solucionar este bug. Rompieron los tests pero no entiendo bien por qué, en mi entorno local con `make test` anda de maravilla

[2019-04-03 22:03] eduzen commented on #441
Los tests pasan con python3.6. Fijate si podes correrlo con python3.5 porque travis falla con esa version en el test `test_recent_is_a_list_with_at_most_10_items`:

[code]

SIno la otra es skippear esa version en travis. Pero no se en que version de python estamos corriendo la web.

[2019-04-04 01:32] FedericoJurio commented on #441
Gracias @eduzen, me puse a ver el log del build despues de hacer el comentario :stuck_out_tongue: . El error es claro, se quiso insertar en la base de datos el username _jonesjohn_ ya existiendo un registro con el mismo username en la tabla. Asumo - porque no tengo ninguna evidencia concreta - que alguno de los tres factories que están en `test_recent_is_a_list_with_at_most_10_items` (`JobFactory`

[2019-05-13 16:17] galloramiro commented on #230
Hola,

¿Como están? Retomo este issue y actualizo los errores que quedaron a la vista en la página para que los podamos ir limpiando de a poco.

Estos son todos los que encontré en la Wiki, si se me paso uno avisen y lo agrego.

- [ ]  [wiki/Eventos](http://www.python.org.ar/wiki/Eventos)
- `<blockquote id="reuniones">`
- `<h1>System Message: WARNING/2 (&lt;string&gt; line 44) <a href="#id5">id5</

[2019-06-03 22:32] gilgamezh opened #448 "configurar captcha para login"

[2019-10-23 20:06] carpe-diem opened #450 "En Sección "Trabajos" muestra elementos de HTML"
En la sección de "Trabajos" esta mostrando elementos de HTML.

Aparentemente esto pasa cuando haen copy&paste del html.

ejemplo: http://www.python.org.ar/trabajo/ssr-developer-djangopyhton/

[2019-10-23 20:09] carpe-diem commented on #450
@mgaitan, estoy revisando esto.

Los elementos que tienen problemas son los que no figuran en `ALLOWED_HTML_TAGS_INPUT` (div, font, ul, li).

¿Se deberían permitir? ¿o se deberían filtrar antes de guardar en la db?

[2019-10-23 21:39] mgaitan commented on #450
ul y li no le veo mucho problema y los permitiría. font/div no creo porque pueden hacer cualca con la apariencia.
pero más que filtrar yo trataria de validar que no venga html con etiquetas no permitidas.

que opinan @cmdelatorre @eduzen @facundobatista @diegoduncan21 ?

[2019-10-24 13:00] eduzen commented on #450
En vez de meterse con el drama de chequear que tipo de html permitimos o no, quizas lo mejor sea usar directamente https://github.com/django-ckeditor/django-ckeditor  y reemplazar el TextField, por un RichTextField.

[2019-10-25 22:58] facundobatista commented on #450
+1 a soluciones que ya implementaron otros :)

[2019-11-10 10:23] alejolp opened #451 "Integrar a las ofertas laborales metadatos de Schema.org"
Hay buscadores (Google, algun otro?) entienden el Schema.org LD+JSON de JobPosting para los metadatos de búsquedas de trabajo, y cuando la gente busca por un trabajo, aparece en los resultados de forma especial.

Lo único que hay que hacer es integrar un bloque LD+JSON en la pagina del trabajo.

Puedo hacer un pull request?

Mas información:

- https://schema.org/JobPosting
- https://developers.go

[2020-01-05 12:28] gilgamezh opened #453 "actualizar cliente de IRC (kiwi) en la red"
el nuevo cliente se conecta usando SSL y entonces es posible usarlo en Freenode

![image](https://user-images.githubusercontent.com/1496486/71780143-399beb00-2fbf-11ea-9eab-9845c2b0e18b.png)

[2020-01-19 15:55] eamanu opened #454 "Warnings en la sección aprendiendo-python"
Buenas!

Se ven mensajes de warning

![image](https://user-images.githubusercontent.com/7605307/72683930-e21b7600-3aba-11ea-9f92-7278ef86df8f.png)

Me parece que está relacionado con https://github.com/PyAr/pyarweb/issues/439

[2020-02-26 22:20] eamanu opened #455 "En la sección eventos se ve los tags <font style>"
![image](https://user-images.githubusercontent.com/7605307/75393486-f0845b00-58cc-11ea-8c83-bef8fffcae46.png)

[2020-03-22 01:13] FedericoJurio commented on #455
Cree el PR #456 para solucionar este problema. El form maneja ese campo con la clase `SanitizedCharField`, el problema está en que varias keywords que usa el editor WYSIWYG no están soportadas.

[2020-04-08 12:29] tzulberti opened #457 "Normalizar proyectos"
Hay algunas cosas del proyecto de asoc_members que estaria bueno usar aca:

- django-storages: para subir los archivos staticos a azure storage
- django-configurations: para que sea mas facil decidir el entorno que se tiene que usar

Esto es para facilitar el deploy a la nueva infra de PyAr

[2020-04-13 20:50] tzulberti opened #458 "Sacar la opcion de `Suscribite a la lista`"
Esa opcion, ya no se deberíar de usar mas porque la pagina en cuestion va a pasar en modo read-only

Tampoco funciona, por lo que deberiamos borrar la misma de la pagina.

[2020-04-13 20:51] tzulberti opened #459 "Busqueda en la wiki"
Actualmente la opción de buscar solo funciona para buscar bajo el dominio bajo el cual esta la pagina.

El problema lo tenemos con la wiki porque deberia tambien estar buscando en esas paginas

[2020-05-09 15:11] tzulberti opened #461 "Actualizar a Django 3.0"
La versión de django que usa pyarweb ya no tiene soporte y hay varias librerias que no funcionan con la misma.

Deberiamos actualizar a la ultima version de django cosa de dejarlo actualizado por los temas de seguridad y otras cosas

[2020-05-11 00:48] cmdelatorre opened #463 "Agregar la opción de "Reportar" a eventos, búsquedas laborales, etc"
Estoy viendo este evento: http://www.python.org.ar/eventos/88/
Tiene toda la pinta de spam/trolling/basura.
Se me ocurre que podríamos tener un link de "Report" para reportar contenido "_inapropiado_" (bajo alguna definición que ya veremos).
Luego, esto le llama la atención a los admin de la DB del sitio, para que puedan bajar/borrar este contenido.

[2020-05-19 14:55] carpe-diem opened #464 "Error en contenido en la sección AprendiendoPython"
al final de la página [¡Quiero Aprender Python!](http://www.python.org.ar/wiki/AprendiendoPython)

![image](https://user-images.githubusercontent.com/1020887/82341991-7c3aee80-99c7-11ea-9107-57fd4721b3ba.png)

[2020-06-16 23:00] tzulberti opened #467 "Agregar Google Analytics"
Queremos agregar google analytics para poder medir la cantidad de personas que usan la seccion de trabajo.

[2020-06-24 01:33] facundobatista commented on #458
Esto ya está landeado... esperemos a que esté en prod para cerrar.

[2020-07-08 03:23] FedericoJurio commented on #464
Esto mismo está reportado en #454

[2020-07-08 13:29] tzulberti commented on #454
No me queda en claro en que PR lo solucionamos, pero ya esta bien.

[2020-07-08 13:29] #454 closed

[2020-07-08 13:29] tzulberti commented on #464
Esto fue solucionado en la nueva wiki, que todavía no pusimos en producción. Lo podes ver acá: https://wiki.python.org.ar/aprendiendopython/

[2020-07-08 13:29] #464 closed

[2020-08-15 17:08] tzulberti opened #470 "En prod los links de la wiki tienen un doble //"
Por ejemplo, usan `https://wiki.python.org.ar//pyar`

[2020-10-26 21:28] tzulberti opened #472 "No anda el filtrado por tags"
Si se filtran por tags, el mismo no anda correctamente y no se filtra. Por ejemplo, en la siguiente URL seleccione varios tags: https://www.python.org.ar/trabajo/?tag_part-time=1&tag_git=1&tag_google-cloud_1=1&tag_pythonjava_1=1&tag_api-rest_1=1&tag_zmq=1

pero me muestra busquedas que no tienen ese tag

[2020-10-29 12:45] StyXman opened #473 "Usamos (aunque sea indirectamente) googletagmanager.com"
Es uno de los trackers de Google. Se puede remover?

[2020-10-29 13:01] tzulberti commented on #473
No se si esto es porque se agrego google analytics pero asumo que si. Necesitabamos tener metricas sobre el uso de la pagina, y por eso se termino agregando google analytics.

Si conoces alguna otra herramienta similar que no tenga el mismo problema del tracking avisame y lo pruebo.

[2020-11-02 17:24] facundobatista commented on #473
Hola! Pusimos el coso este de Google para medir actividad en la página. Lo pusimos por la cartelera de trabajo, pero el día de mañana podemos querer ver cuanta gente visita "aprendiendo python", y de ahí a dónde va, Cuanta gente va al wiki desde front page, etc.

Queremos mejorar en el tiempo, y la única manera de hacerlo es medir.

Entonces, necesitamos métricas de uso. Quizás la de Google no sea

[2020-11-03 13:22] facundobatista opened #474 "Deberíamos tener un link a la AC desde la página principal"

[2020-11-03 14:32] tzulberti commented on #474
Vos decis de poner un link en el header. O como esta la opcion de Aprendiendo Python, y otras cosas ponerlo ahi?

[2020-11-16 21:49] facundobatista commented on #474
Como "Aprendiendo Python". Podríamos reemplazar "quienes usan python" o "proyectos de la comunidad" que son dos items que hace años que no se actualizan...

[2021-02-20 15:36] rmoyano commented on #470
Tomás estuve viendo la sección de Wiki y está solucionado el bug de doble / en la URL, revisé todos los links pudiendo acceder sin problemas.

[2021-02-21 00:18] tzulberti commented on #470
No es un tema de la wiki. Es un tema de settings de la pagina de PyAR. Por ejemplo, si entras a python.org.ar, en el muni de arriba las opciones de `nosotros`, `foro` y otras mas tienen un `//`. Eso es porque la URL de configuracion para producción termina con `/` y se la deberiamos sacar.

Como todo funciona igual, no es prioritario

[2021-02-22 13:01] rmoyano commented on #470
Ok, gracias por la explicación Tomás.

[2021-03-03 23:12] tzulberti commented on #448
Lo hablamos, y en ver de hacerlo para el login se va a hacer para el SignUp. De esa forma, el catpta solo lo pide una vez cuando te creas la cuenta y no todo el tiempo cuando se esta logueando.

Esto tambien viene en el contexto de que estamos teniendo bastante spam en la parte de trabajo, y que lo mismo podria estar pasando en otras secciones. La idea es:

- deployar lo del captcha
- borrar las o

[2021-03-05 14:56] #448 closed

[2021-04-21 18:07] diegoduncan21 opened #478 "No cargan los estaticos"
![no_carga_estaticos](https://user-images.githubusercontent.com/1647454/115600650-4ecf8280-a2b3-11eb-86a3-e59088218034.png)

[2021-04-21 22:10] tzulberti commented on #478
Gracias por el aviso. Es un bug relacionado al deploy... Ya lo solucione a mano

[2021-04-22 00:03] #478 closed

[2021-05-09 15:40] gilgamezh opened #479 "accesible CAPTCHA"
También recibimos el mismo pedido de Alejandro <aleguillermero@gmail.com

On Sun, May 9, 2021 at 3:22 AM Victor Sanchez <sanchezvictordaniel@gmail.com> wrote:

Saludos.  Les escribo para solicitar, tengan a bien, implementar la opción de captcha accesible, mediante audio. Formó parte de un grupo de personas muy interesadas en python.  grupo en el que formamos parte personas con discapacidad, entre

[2021-05-11 19:35] gilgamezh commented on #479
@marcorichetta  dale metele nomas!

[2021-05-12 23:41] #458 closed

[2021-05-12 23:41] tzulberti commented on #455
Close by #456

[2021-05-12 23:41] #455 closed

[2021-05-12 23:49] tzulberti commented on #371
Se migro la wiki a Nikola

[2021-05-12 23:49] #371 closed

[2021-05-12 23:49] tzulberti commented on #267
@gilgamezh podriamos cerrar este issue o no?

[2021-05-13 04:15] marcorichetta commented on #479
Buenas!

Estuve renegando un poco bastante creo pero tuve avances :muscle:

### Generación del audio
- Para habilitarla es necesario instalar `flite`, en este caso con `apt install flite` bastó.
- Después configure la variable [CAPTCHA_FLITE_PATH](https://django-simple-captcha.readthedocs.io/en/stable/advanced.html#captcha-flite-path) en settings con el path correspondiente.

### Resultado
Se escu

[2021-05-13 04:30] tzulberti commented on #479
Muchisimas gracias por todo el trabajo.

Hay un [PR ](https://github.com/PyAr/pyarweb/pull/471)para actualizar la version de Django, y ahi actualizo la version de la libraria. Podriamos probarlo con esta version de Django, pero es media vieja por lo que no estoy seguro de que vaya a funcionar

[2021-05-13 15:10] marcorichetta commented on #479
Hola Tomás, gracias por responder tan rápido!

Ví ese PR hace un tiempo y pienso estaría buenísimo poder subir la versión.

Vos decís que pruebe estos cambios partiendo desde tu rama con Django 3?

También se me ocurrió subir la django-simple-captcha a la v. 0.5.12 para probar esto del audio, ya que en la [0.5.13 levantaron el requirement de Django >= 2.2](https://github.com/mbi/django-simple-capt

[2021-05-13 15:11] tzulberti commented on #479
👍 a subir la version y ver si funciona

[2021-05-16 08:29] marcorichetta commented on #479
Subí la versión de la librería a 0.5.12 y pude configurarla para que el template que usa para el captcha incluya el audio con el tag `<audio>`.

Probé en Firefox Dev, Chromium y Firefox en el celu y pude reproducirlos a todos e incluso registrarme.

### Firefox Dev
<img height=200 width=500 src="https://user-images.githubusercontent.com/19599150/118390724-02076f00-b607-11eb-991a-910e8afd636f.png"

[2021-05-17 13:20] tzulberti commented on #479
Muchas gracias por tomarte el tiempo de hacer todas estas pruebas

Sobre las notas:
1. El Dockerfile.prod es lo que usamos en el entorno de producción. La diferencia es que en produccion instalamos algunas dependencias que no instalamos en el entorno de development (en algún momento deberiamos alinear las dependencias)
2. No creo que sea necesario `sox`.

[2021-05-17 14:07] StyXman commented on #467
capaz https://matomo.org/ en vez?

[2021-05-17 16:11] marcorichetta commented on #479
Aclaro que flite es una dependencia que se instala por apt, no por pip.
Lo que necesitaría es, en `Dockerfile.prod`, agregar la linea `RUN apt update && apt install flite` solamente para instalar ese programa.

Si me das el ok, agrego esa línea y hago el PR nomas.

No me parece mal que se diferencien los requirements de dev y de prod, si a eso te referís. Cuál sería el objetivo de alinearlos?

[2021-05-18 01:17] marcorichetta commented on #479
@tzulberti Creé el PR pero no los pude agregar como reviewers por eso comento acá.

[2021-06-03 00:38] marcorichetta commented on #453
Esto sigue en pie? Visto y considerando lo que paso con IRC.
Liberachat tiene un [cliente web](https://libera.chat/guides/clients#connecting-without-installing-anything) pero tengo muy poca idea sobre el tema.

[2021-06-04 13:00] tzulberti commented on #479
Gracias al trabajo de @marcorichetta, esto ya esta en produccion funcionando

[2021-11-06 21:57] #243 closed

[2021-11-16 15:18] facundobatista commented on #435
Terminamos sacando datetimepicker, era una gran fuente de problemas. Usamos lo nativo de Django ahora.

[2021-11-16 15:18] #435 closed

[2022-01-20 03:50] pangolp commented on #474
Hola, buenas noches. Estoy interesado en participar del proyecto. Ya hice el **fork**, estoy clonando el repositorio en este momento e instalando las dependencias dentro del entorno virtual. Lamento lo mencionado anteriormente, pero queria ponerlos en contexto. Fuera de ese comentario, les consulto: ¿este tema fue resuelto? Si no, con todo gusto intentare ayudarlos y la idea seria poder cerrar alg

[2022-01-20 14:31] pangolp opened #507 "Configuración de un entorno de desarrollo"
Hola, buenas tardes. Ayer hice un fork del proyecto, y ya clone el mismo. Al entrar, vi que hay varios archivos de requeriments, y seguí la wiki, para poder intentar desplegar un servidor de desarrollo. Sin embargo, al no tener instalado **PostgreSQL**, no tenia forma de crear la base de datos, y aplicar las migraciones. Edite el fichero de configuración de desarrollo y le agregue, una base de dat

[2022-01-20 14:34] pangolp opened #508 "Planillas para issue y pull request"
Hola, creo que deberíamos de agregar al menos una planilla para los issue y los PR. Porque a veces, no se aplica mucho lo que se quiere hacer en los mismos. La idea no es solicitarle grandes cantidades de información, pero al menos, que todas mas o menos, cuenten con la información mínima que se necesita, ya sea para realizar un test, o para saber de que se trata el pull request o el issue.

Aguar

[2022-01-20 15:16] facundobatista commented on #507
Hola! El PostgreSQL te lo debería levantar el `docker-compose`. No hace falta tener un SQLite (no queremos usar una BD diferente).

Entonces, ¿en qué paso del wiki te trabaste?

[2022-01-20 16:26] pangolp commented on #474
Excelente, voy a ver si resuelvo primero lo del entorno de desarrollo y luego veo esto.

[2022-01-20 18:20] pangolp commented on #507
No, la verdad es que no vale la pena este issue ya. Lo voy a cerrar, gracias por la recomendación.

[2022-01-20 18:20] #507 closed

[2022-01-20 18:35] pangolp commented on #508
Estoy probando el issue témplate, y no funciona, nose porque. La estructura del YML es la correcta, lo acabo de validar.

[2022-01-20 18:36] pangolp commented on #508
Ya se cual es el error, me equivoque de directorio, no tiene que ir dentro de `workflows`. Tiene que ir, un directorio mas atrás, ahora creo el arreglo.

[2022-01-20 18:52] pangolp commented on #508
Ahora si funciona, así que voy a cerrar este issue.
![templates](https://user-images.githubusercontent.com/2810187/150403279-6c5868a8-1cb0-4b85-ab05-487fcbe72756.png)

[2022-01-20 18:52] #508 closed

[2022-01-20 22:54] pangolp commented on #474
¿A donde debería de apuntar el enlace? Disculpen la pregunta, pero no entiendo que quieren decir cuando dicen `AC`. Pero si me dicen cuales son las opciones del menú que hay que remover, y cuales hay que agregar, con gusto las agrego dentro de un pull request. Pero me falta información para saber a donde deberían de apuntar los enlaces. Es mas, el enlace de "planeta" de momento no esta funcionando

[2022-01-20 23:07] pangolp commented on #472
@tzulberti ¿usted sabe si actualmente el problema fue resuelto? Para informar y cerrar el tema en caso de que el error ya no exista. Debido a que tiene un **merged** de un PR, pero nose si fue resuelto el tema.

[2022-01-24 13:43] facundobatista commented on #474
"AC" es Asociación Civil, el link es `https://ac.python.org.ar/`.

¿No se puede agregar este, sin sacar ninguno?

[2022-01-24 13:44] facundobatista commented on #472
Este, y todos los issues que hablen del sistema de cartelera "actual", habría que cerrarlos porque estamos implementando el sistema de cartelera "nuevo" (que se terminará en breve,....)

[2022-01-24 13:44] #472 closed

[2022-01-25 15:20] pangolp commented on #474
De poder creo que se puede, pero nose como quedara. Tendría que probar, de hecho, por eso le preguntaba el otro día la versión de boostrap, porque quería ver la posibilidad de escribir o modificar algunos template o incluso, de migrar a una versión mas reciente de Bootstrap, aunque tendría que ser un commit medio largo y nose si alguien podrá testearlo.

Pero volviendo al tema del menú, si, se pue

[2022-03-09 20:13] FedericoJurio opened #526 "La sección planeta del header redirecciona a una página que no existe"
### Comportamiento actual

El link al que redirecciona es http://planeta.python.org.ar/

### Comportamiento esperado

Se me ocurre que la opción no debería estar en el header o debería redireccionar al link correcto

### Pasos para reproducir el problema

1. Ir a https://www.python.org.ar/
2. Click en la sección Planeta del header

### Notas adicionales

Puede que esto esté relacionado con la app